<input
  placeholder="title"
  [value]="slide.title"
  class="title"
  (keyup)="updateAttr('title', $event.target.value)"
/>

<div class="id-wrapper">
  #<input
    class="id"
    placeholder="id"
    [value]="slide.id"
    (keyup)="updateAttr('id', $event.target.value)"
  />
</div>


<mat-menu #menu>
  <button mat-menu-item (click)="deleteSlide()">
    Delete
  </button>
</mat-menu>
<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
