$font-stack: Space Mono, monospace;
$font-weight-max: 900;

ol {
  margin: 15px 0 0 -40px;
}
ol li {
  margin-left: 30px;
}

.radio-options {
  margin-bottom: 5px;
  margin-left: 0.5rem;
  padding: 4px;

  mat-radio-button {
    cursor: pointer;

    .feedback-icon {
      position: absolute;
      right: 0;
      margin-right: 40px;
      margin-top: -25px;
    }
  }

  .option {
    width: 39rem;
    height: 80% !important;
    font-family: $font-stack !important;
    font-size: 20px !important;
    color: #0f0900;
    background-color: #f5f5f5;
    border: 2px solid #979797;
    padding: 5px 5px 0 30px;
    margin-left: -5px;
    vertical-align: middle;

    &:hover {
      border: 2px solid #007aff;
    }
  }

  .is-correct {
      background-color: #00c853;
  }

  .is-incorrect {
    background-color: #ff0000;
  }
}


.messages {
  display: flex;
  justify-content: center;
  margin-top: 5px !important;

  .message {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 16px;
    font-style: italic;
    margin: 0 auto !important;
    padding: 10px !important;
    width: 35rem !important;
    display: inline-flex;
    justify-content: center !important;
    align-items: center;
    vertical-align: middle;
  }

  .correct-message {
    font-weight: $font-weight-max;
    font-style: italic;
    border: 2px solid #007aff;
    border-radius: 5px;
    color: #00c853;
  }

  .wrong-message {
    font-weight: $font-weight-max;
    font-style: italic;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: #ff0000;
    padding: 5px;
  }

  mat-icon {
    font-size: 30px;
    color: #9acd32;
    margin: 10px -50px 0 0;
    vertical-align: top;
  }

  span {
    font-size: 17px;
    margin-top: 10px;
  }
}

// hide the radio button next to the answer choice
::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}
