@import "variables";

ol {
  margin: 15px 0 0 -40px;
}
ol li {
  margin-left: 40px;
  width: 34.6rem;
}

.options {
  margin: 0 0 -5px 0.4rem;
  padding: 5px;

  mat-checkbox:first-child {
    margin-top: 10px;
    padding-top: 25px;
  }

  mat-radio-button:first-child {
    margin-top: -5px;
  }

  mat-checkbox {
    margin-top: -10px !important;

    li {
      height: 47px;
    }
  }

  mat-radio-button, mat-checkbox {
    cursor: pointer;
    width: 39.5rem;
    height: 47px;
    font-family: $font-stack;
    font-size: 20px !important;
    color: $dark-brown;
    background-color: $light-gray;
    border: 2px solid $medium-gray;
    padding: 10px 5px 5px 30px;
    margin-left: -5px;
    vertical-align: middle;

    &:hover {
      border: 2px solid $vivid-blue;
    }
  }

  .feedback-icon {
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: -20px;
  }

  mat-checkbox .feedback-icon {
    margin-top: -50px;
  }

  .is-correct {
    background-color: $green;
  }

  .is-incorrect {
    background-color: $red;
  }
}

.messages {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: auto;

  span {
    font-size: 17px;
    margin-top: 10px;
  }

  .sentiment-icon {
    font-size: 30px;
    color: $light-yellow;
    margin: 30px -50px 0 25px;
    vertical-align: top;
    float: left;
  }

  .message {
    font-family: $font-stack;
    margin: 20px auto;
    padding: 10px;
    width: 36rem;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
  }

  .correct-message {
    border: 2px solid $vivid-blue;
    color: $green;
  }

  .wrong-message {
    border: 2px solid $red;
    color: $red;
    margin-top: -10px;

    .sentiment-icon {
      float: left;
      margin-top: -40px;
    }
  }
}

.single-answer {
  mat-radio-button {
    height: 57.6px;
    margin-bottom: 10px;
  }
  mat-radio-button:first-child {
    margin-top: -10px !important;
  }

  .message {
    margin-top: 20px;
  }

  .sentiment-icon {
    display: inline;
    margin-top: 30px;
  }

  .feedback-icon {
    margin-top: -30px;
  }
}

.multiple-answer {
  .message {
    margin-top: 10px;
  }

  .sentiment-icon {
    margin-top: 20px;
  }
}

// hide mat-radio-buttons/mat-checkboxes next to answer choices
::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}
::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  display: none;
}

