<ng-container *ngIf="code">
  <code-demo-editor
    (slidesMonacoCursorPosition)="selectFunction($event)"
    [slidesMonacoScrolling]="selectedMode.highlights"
    [codeDemoHighlight]="selectedMode.highlights"
    minLines="20"
    class="webassembly-code"
    [class.has-highlight]="selectedMode.highlights"
    [fontSize]="30"
    language="wat"
    [(ngModel)]="code.wat"
    (ngModelChange)="update()"
    [lineNumbers]="false"
    [language]="'wat'"
  ></code-demo-editor>

  <code-demo-editor
    slidesMonacoJsPosition
    fontSize="20"
    class="js-code"
    [(ngModel)]="code.js"
    (ngModelChange)="update()"
    [lineNumbers]="false"
    [language]="'typescript'"
  ></code-demo-editor>

  <slides-webassembly-code-mode [sideBarBlocks]="sideBarBlocks" [code]="code"
                                (wasmSelectionHighlight)="wasmSelectionHighlight = $event"></slides-webassembly-code-mode>
</ng-container>
