:host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  height: 100%;
  grid-template-areas:   "wa result"
  "js result"

}

.runner {
  grid-area: result;
  align-self: center;
}
.webassembly-code {
  grid-area: wa;
}
.js-code {
  grid-area: js;
}
