<slides-deck slidesShortcuts slidesRouting slides-tracking>
  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <codelab-progress-bar></codelab-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <div *slide id="intro" no-padding milestone="forms">
    <codelab-title-slide title="Forms" description="Adding basic forms into your app"></codelab-title-slide>
  </div>

  <div *slide id="simple-form" milestone="forms" milestone="forms">
    <h1>Forms / Simple Form</h1>
    <h2>We have this simple form, let's find out how to map input values with the ones from our Angular component!</h2>
    <codelab-exercise-playground [exercise]="samples.basicForm"></codelab-exercise-playground>
  </div>

  <div *slide id="forms-module" milestone="forms" milestone="forms">
    <h1>Forms / Simple Form</h1>
    <h2>First we have to add <b>FormsModule</b> to our NgModule.</h2>
    <!--[openFilesIndex]="[1]"-->
    <codelab-exercise-playground files="app.module.ts"
                                 [exercise]="samples.basicForm"></codelab-exercise-playground>
  </div>

  <div *slide id="ng-model" milestone="forms" milestone="forms">
    <h1>Forms / NgModel</h1>
    <h2>Now let's use ngModel to bind the inputs to the appropriate fields on the component.</h2>
    <h2>Try changing the inputs and see the values updated.</h2>
    <codelab-exercise-playground [exercise]="samples.ngModel"></codelab-exercise-playground>
    <div class="info" i18n>[(NgModel)] - <b>Banana in the box</b> is a simple mnemonic for the braces order.</div>
  </div>

  <div *slide id="forms-validation-1" milestone="forms">
    <h1>Forms / Validation</h1>
    <h2>It's really easy to add validation for your inputs using predefined angular directives.</h2>
    <h2>Let's make username <b>required</b></h2>
    <codelab-exercise-playground [exercise]="samples.ngValidation1"></codelab-exercise-playground>
    <div class="info">
      If you clear the input it'll be marked with ad error, however no error will be displayed. We'll
      learn how to display it in the next slide
    </div>
  </div>

  <div *slide id="forms-validation-2" milestone="forms">
    <h1>Forms / Displaying Validation Errors</h1>
    <h2>Now we let's display validation error. It takes 2 steps: </h2>
    <ul>
      <li>Get ahold of the input ngModel using <b>#name="ngModel"</b> binding</li>
      <li>Use <b>usernameModel</b>'s <b>errors</b> property.</li>
    </ul>
    <codelab-exercise-playground [exercise]="samples.ngValidation2"></codelab-exercise-playground>
    <div class="info">Try clearing the username input and see the error displayed.</div>
  </div>
  <div *slide id="built-in" milestone="forms">
    <h1>Forms / validators</h1>
    <h2>Here's the list of <a href="https://angular.io/api/forms/Validators#min">built-in validators</a> that Angular
      provides out of the box</h2>
    <ul>
      <li>min</li>
      <li>max</li>
      <li>required</li>
      <li>requiredTrue</li>
      <li>email</li>
      <li>minLength</li>
      <li>maxLength</li>
      <li>pattern</li>
    </ul>
    <div class="info">It's also possible to create custom validators, but it's out of scope for this milestone, you can
      read more: <a href="https://angular.io/guide/form-validation#custom-validators">here</a></div>
  </div>


  <div *slide id="forms-always-required" milestone="forms">
    <h1>Forms / Error Always displayed</h1>
    <h2>There's one small issue though, if we don't have initial values, the error is displayed right away.</h2>
    <!--[openFilesIndex]="[0,2]" TODO(kirjs)-->
    <codelab-exercise-playground [exercise]="samples.touched"></codelab-exercise-playground>
  </div>

  <div *slide id="forms-touched-dirty" milestone="forms">
    <h1>Forms / Touched & Dirty</h1>
    <h2>Luckily we can check if the user interacted with an input using <b>touched</b> property.</h2>
    <ul>
      <li><b>dirty</b> is true if the user changed the value of the input.</li>
      <li><b>touched</b> is true if the user focused on the input, and then blured without changing the value.</li>
    </ul>
    <codelab-exercise-playground [exercise]="samples.touched2"></codelab-exercise-playground>
    <div class="info">Try focusing/bluring the <b>username</b> field, or adding some value and then removing to see the
      error.
    </div>
  </div>

  <div *slide id="forms-material" milestone="forms">
    <h1>Forms / Material Inputs (Bonus!)</h1>
    <h2>Now let's make our forms beautiful using Material Design inputs! Main building blocks are:</h2>
    <ul>
      <li><b>mat-form-field</b> - Wraps the input</li>
      <li><b>matInput</b> - has to be put on the input</li>
      <li><b>mat-error</b> - Smarter error wrapper</li>
    </ul>

    <codelab-exercise-playground [exercise]="samples.ngMaterial"></codelab-exercise-playground>
    <div class="info">Note that we don't need to <b>#name</b> the input anymore.</div>
  </div>


  <div *slide id="exercise-pre">
    <h1>Forms / Exercise</h1>
    <h2>In the next slide there is an exercise. We're going to add a form to the upload page.</h2>
    <slides-codelab-exercise-preview style="height:50vh"
                                     column-5
                                     [exercise]="exercise"
                                     [url]="'/assets/runner/'">
    </slides-codelab-exercise-preview>
    <div class="info">Note: you'd have to manually click on the "upload link" to see the result, we're working on the
      fix.
    </div>
  </div>

  <div *slide id="exercise" no-padding milestone="forms">
    <slides-codelab-exercise
      milestone="forms"
      [translations]="t"
      [exercise]="exercise">
    </slides-codelab-exercise>
  </div>

  <div *slide id="end">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of The Forms Milestone</h1>
      </div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
        <h2>There are more than one way to handle forms in Angular. While <b>Advanced forms</b> milestone is in works,
          check out <a href="https://angular.io/guide/dynamic-form">Angular docs</a></h2>
        <h2>Next <a routerLink="/angular-cli/0">⏭️ Learn how to start working on your angular app in the Angular-cli
          Milestone</a></h2>
      </div>
      <div class="footer" footer>
        <slides-feedback-rating lesson="Forms">
        </slides-feedback-rating>
      </div>
    </slides-closing-slide>
  </div>
</slides-deck>
