<button-with-menu>

  <button class="menu-bar-btn">
    <img alt="GitHub" src="/assets/images/icons/github-icon.png"/>
  </button>

  <ng-container *modalContent>
    <div class="content-wrapper">
      <h2 class="modal-title"> Repository </h2>
      <p class="mb-0" i18n> We also have a repository on Github, </p>
      <p i18n> Join to our friendly community! </p>
      <a href="https://github.com/AngularNYC/angular-presentation" i18n> Go to Codelab repository </a>
    </div>

  </ng-container>

</button-with-menu>
