.menu-bar-btn.github-widget {
  background-color: white;
}

img {
  width: 100%;
}

.octocat {
  width: 224px;
  margin: 0 auto;
  height: 224px;
  background: url(images/octocat.png) no-repeat;
  margin-right: 16px;
}

h3 {
  font-weight: 300;
}
