<button class="menu-bar-btn github-widget" [matMenuTriggerFor]="menu">
  <img alt="GitHub" src="/assets/images/icons/github-icon.png" />
</button>

<mat-menu #menu="matMenu">
  <div class="buttons-nav-bar-modal-content-wrapper">
    <div class="octocat"></div>
    <div class="content">
      <h2 class="modal-title" i18n>This Codelab is written in Angular!</h2>
      <h3 i18n>
        It's 100% open-source and is available on
        <a target="_blank" href="https://github.com/codelab-fun/codelab">
          Github
        </a>
      </h3>
      <h3 i18n>Please ⭐ the repo if you find it useful.</h3>
    </div>
  </div>
</mat-menu>
