<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>

  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>
    <slides-mode-overview></slides-mode-overview>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <slides-slide id="intro" no-padding milestone="Pipes">
    <slides-title-slide
      title="Structural directives"
      description=""
      prereqs=""
    ></slides-title-slide>
  </slides-slide>


  <slides-slide id="ng-if" no-padding milestone="Pipes">
    <slides-playground [config]="code.ngIf" [openFilesIndex]="[0,1]"></slides-playground>
  </slides-slide>

  <slides-slide id="ng-if-solved" no-padding milestone="Pipes">
    <slides-playground [config]="code.ngIfSolved" [openFilesIndex]="[0,1]"></slides-playground>
  </slides-slide>


</slides-presentation>
