.date {
  float: right;
  margin-right: 5px;
}

.title {
  margin-top: 0px;
  margin-top: 0px;
  padding-left: 5px;
}

mat-card {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.text {
  overflow: hidden;
  max-height: 100px;
}

.gradient {
  position: absolute;
  height: 130px;
  bottom: 0;
  width: 100%;
}

.container {
  position: relative;
}
