:host {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.title {
  border: 0 solid;
  font-size: 24px;
  padding: 0;
  width: 100%;
}

.id {
  border: 0 solid;
  padding: 0;
  color: #585a6b;
}

.id-wrapper {
  display: flex;
  align-items: center;
}
