<div *ngIf="!isLoading else loadingTmp" class="container">
  <div class="header">
    <h1 class="mat-h1" i18n>{{isEditing ? '' : 'New'}} Snippet</h1>

    <button (click)="openPreview()" mat-raised-button color="accent">
      {{isEditing ? 'Edit' : 'Create'}} Snippet
    </button>
  </div>

  <p i18n>
    This form will generate a snippet request for you.
  </p>

  <form [formGroup]="snippetForm" class="layout">
    <section class="layout__col-medium">
      <label for="snippetTitle" i18n>
        Title <span class="required">*</span>
      </label>
      <mat-form-field>
        <input formControlName="title"
               maxlength="120"
               id="snippetTitle"
               type="text"
               matInput>
        <mat-hint i18n>Maximum 120 symbols</mat-hint>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </section>

    <section class="layout__col1">
      <div class="input-block">
        <div>
          <label for="snippetLevel">
            Level <span class="required">*</span>
          </label>
          <mat-form-field>
            <mat-select formControlName="level"
                        id="snippetLevel">
              <mat-option value="beginner">beginner</mat-option>
              <mat-option value="intermediate">intermediate</mat-option>
              <mat-option value="advanced">advanced</mat-option>
            </mat-select>

            <mat-error i18n>This field is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <label for="tags">
            Tags <span class="required">*</span>
          </label>
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let tag of tags"
                        [removable]="true"
                        (removed)="removeTag(tag)"> {{tag}}
              </mat-chip>
              <input #tagInput
                     formControlName="tags"
                     id="tags"
                     [matAutocomplete]="auto"
                     [matChipInputFor]="chipList"
                     [matChipInputAddOnBlur]="true"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTags($event)">
              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag}}
              </mat-option>
            </mat-autocomplete>

            <mat-hint i18n>Maximum 5 tags</mat-hint>
          </mat-form-field>

          <div *ngIf="tagsControl.touched && tagsControl.invalid">
            <div *ngIf="tagsControl.errors['required']" class="validation-message" i18n>
              This field is required
            </div>
            <div *ngIf="tagsControl.errors['tagsError']" class="validation-message">
              {{ tagsControl.errors['tagsError'] }}
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="layout__col2">
      <div>
        <label for="snippetTwitter">
          Your twitter handle
        </label>
        <mat-form-field>
          <input formControlName="twitter"
                 id="snippetTwitter"
                 type="text"
                 matInput>
          <span matPrefix>@</span>
        </mat-form-field>
      </div>

    </section>

    <section class="layout__col-all layout50">
      <div>
        <label for="content">
          Content <span class="required">*</span>
        </label>
        <mat-form-field>
          <textarea formControlName="content"
                    id="content"
                    type="text"
                    matInput>
          </textarea>
        </mat-form-field>
        <div *ngIf="snippetForm.get('content').touched && snippetForm.get('content').invalid">
          <div *ngIf="snippetForm.get('content').errors['required']" class="validation-message">
            This field is required
          </div>
          <div *ngIf="snippetForm.get('content').errors['linesError']" class="validation-message">
            {{snippetForm.get('content').errors['linesError']}}
          </div>
        </div>
      </div>

      <div class="markdown-info">
        <markdown [data]="snippetForm.get('content').value"></markdown>
      </div>
    </section>

<!--    todo: keep old remove functionality -->
    <section class="layout__col-all">
      <mat-expansion-panel>
        <mat-expansion-panel-header i18n>Bonus section</mat-expansion-panel-header>

        <section class="layout50">
          <div>
            <mat-form-field>
              <textarea formControlName="bonus"
                        id="bonus"
                        type="text"
                        matInput>
              </textarea>
            </mat-form-field>
          </div>

          <div class="markdown-info">
            <markdown [data]="snippetForm.get('bonus').value"></markdown>
          </div>
        </section>
      </mat-expansion-panel>
    </section>

    <section class="layout__col-all">
      <mat-expansion-panel>
        <mat-expansion-panel-header i18n>Links section</mat-expansion-panel-header>

        <mat-form-field>
            <textarea formControlName="links"
                      id="links"
                      type="text"
                      matInput>
            </textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </section>

    <section class="layout__col-all">
      <mat-expansion-panel>
        <mat-expansion-panel-header i18n>Demo section</mat-expansion-panel-header>

        <code-demo formControlName="demo" bootstrap="main"></code-demo>
      </mat-expansion-panel>
    </section>

  </form>
</div>

<ng-template #loadingTmp>
  <codelab-snippet-spinner></codelab-snippet-spinner>
</ng-template>
