<!--<div style="display: flex;">-->
<!--  <div [style.height]="'100%'" style="flex: 1">-->
<!--    <div>-->
<!--      <button-->
<!--        mat-button-->
<!--        (click)="code = helper.code"-->
<!--        *ngFor="let helper of helpers"-->
<!--      >-->
<!--        {{ helper.label }}-->
<!--      </button>-->
<!--      <button (click)="submit()" mat-raised-button color="primary">-->
<!--        Submit-->
<!--      </button>-->
<!--    </div>-->
<!--    <code-demo-editor-->
<!--      [(ngModel)]="code"-->
<!--      [lineNumbers]="false"-->
<!--      fontSize="30"-->
<!--    ></code-demo-editor>-->
<!--  </div>-->
<!--  <div style="height: 500px; width: 500px; flex-shrink: 0;flex-grow: 0">-->
<!--    <div style="height: 100%;" [innerHTML]="allCode | safeHtml"></div>-->
<!--    <div-->
<!--      style="height: 100%;margin-top: -500px"-->
<!--      [innerHTML]="code | safeHtml"-->
<!--    ></div>-->
<!--  </div>-->
<!--</div>-->
