@import "variables";

mat-radio-button {
  cursor: pointer;
  display: inline-block;
  width: 590px;
  height: auto;
  font-family: $font-stack;
  font-size: 20px;
  color: $dark-brown;
  background-color: $light-gray;
  border: 2px solid $medium-gray;
  padding: 10px 5px 10px 30px;
  margin-left: -5px;

  &:hover {
    border: 2px solid $vivid-blue;
  }

  &:first-child {
    margin-top: -25px;
  }
}


.mat-radio-layout {
  display: block !important;
}
div.mat-radio-inner-container {
  display: none;
}
