<slide-deck slideShortcuts slidesRouting slides-tracking>
  <slides-sync-button></slides-sync-button>


  <!--  INTRO -->
  <div *slide no-padding id="intro">
    <div class="bg intro">
      <h2>Angular ❤️ SVG
        <br>
        @kirjs</h2>
    </div>
  </div>

  <div *slide id="why-svg">
    <h1>What is SVG?</h1>
    <ul>
      <li>Scalable Vector Graphic Format</li>
      <li>Every object is just an XML tag</li>
      <li>Also works with CSS</li>
    </ul>
  </div>


  <div *slide id="race">
    <h1>Race</h1>
    <slides-race [track]="'M50 450 v -400 h 400 v 400 h-300'"></slides-race>
  </div>

  <div *slide id="race2">
    <h1>Race</h1>
    <slides-race [track]="tracks.advanced"></slides-race>
  </div>


</slide-deck>
