<!--<div *ngFor="let slide of slides; let i = index">-->
<!--  <slides-full-slide [slide]="slide"></slides-full-slide>-->
<!--</div>-->
<div class="wrapper" *ngIf="presentation$ | async as presentation">
  <slides-side-panel
    [presentationId]="presentation.id"
    (reorder)="reorder($event)"
    [selectedSlide]="selectedSlide$ | async"
    [slides]="presentation.slides"
  ></slides-side-panel>

  <div class="editor" *ngIf="currentSlide$ | async as slide">
    <slides-slide-editor
      [presentationId]="presentation.id"
      [slide]="slide"
    ></slides-slide-editor>
  </div>
</div>
