<div *ngIf="logs.length">
  <div *ngFor="let log of logs">
    <pre>{{log|json}}</pre>
    <hr>
  </div>
</div>

<mat-card>
  <div class="summary">
    <div class="label">Running {{tests.length}} tests.</div>
    <div>
      <div *ngFor="let test of tests; let i = index" [class.pass]="test.pass" [class.test-point]="true"
           [class.compeleted]="i < firstFailingIndex()" [class.current]="test === firstFailing"
           [class.future]="i > firstFailingIndex()">
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="results" *ngIf="firstFailing">
    <div class="label">When seeing:</div>
    <pre><code>{{firstFailing.title.trim()}}</code></pre>
    <div class="label">Should return:</div>
    <code>
      {{firstFailing.shouldPass}}
    </code>
    <div class="label">Instead got:</div>
    <code class="failing">
      {{!firstFailing.shouldPass}}
    </code>

    <ng-container *ngIf="showAst">
    <div class="label">AST: + -</div>
    <code class="ast" style="zoom: 0.4">
      <slides-ast-preview-runner [code]="firstFailing.title.trim()"></slides-ast-preview-runner>
    </code>
    </ng-container>
  </div>


  <div *ngIf="!firstFailing" class="complete">
  </div>
</mat-card>
