dist: trusty
language: node_js
node_js:
  - 7
  - 6

before_install:
  # Install & start Chrome for Karma
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm test -- --single-run

notifications:
  email: false

cache:
  yarn: true
  directories:
    - node_modules

deploy:
  provider: firebase
  token:
    secure: ***REMOVED***
  before_deploy:
    - npm run ng build -- --aot --prod
  on:
    branch: master