<div #translations style="display: none">
  <div i18n="@@thisIsValidHTML" id="thisIsValidHTML">
    This is valid HTML syntax.
  </div>
  <div i18n="@@worksOnAttributeSyntax" id="worksOnAttributeSyntax">
    It works on attribute syntax.
  </div>
  <div
    i18n="@@allowsToConditionallyBindClass"
    id="allowsToConditionallyBindClass"
  >
    It allows to conditionally bind a class
  </div>
  <div i18n="@@orStyleProps" id="orStyleProps">Or style properties</div>
  <div i18n="@@worksWithCustomComponents" id="worksWithCustomComponents">
    And works with custom components!
  </div>
  <div
    i18n="@@whenUserClicksItCallsSaveUser"
    id="whenUserClicksItCallsSaveUser"
  >
    When user clicks the button, it calls the "saveUser" function on the
    component instance and passes the underlying event.
  </div>
  <div
    i18n="@@youCanAlsoCreateEventsForCustomComponents"
    id="youCanAlsoCreateEventsForCustomComponents"
  >
    You can also create events for custom components. Here we have a depleted
    event, and it's going to call the "soundAlarm" function on the component
    instance when it fires.
  </div>
  <div
    i18n="@@thereAreShortcutEventBindings"
    id="thereAreShortcutEventBindings"
  >
    There are also shortcut event bindings! The submit function on the component
    instance will be called when the user presses control and enter (this is an
    Angular feature).
  </div>
  <div i18n="@@userNameHasRefToInput" id="userNameHasRefToInput">
    userName has a reference to the input element
  </div>
  <div i18n="@@tryChangingToTrue" id="tryChangingToTrue">
    Try changing to true!
  </div>
  <div i18n="@@needToRepeatPuppiesHere" id="needToRepeatPuppiesHere">
    Need to repeat puppies here
  </div>
  <div i18n="@@addVideosProperty" id="addVideosProperty">
    app.component.ts: Add a 'videos' property, set the value as empty array.
  </div>
  <div i18n="@@assignFakeVideosToComponent" id="assignFakeVideosToComponent">
    app.component.ts: Inside of the 'search' method assign FAKE_VIDEOS, to the
    component 'videos' property.
  </div>
  <div i18n="@@addH1HeaderWithATitle" id="addH1HeaderWithATitle">
    app.html: Add an H1 header, display the 'title' property of the AppComponent
    inside
  </div>

  <div i18n="@@addSearchMethodOnComponent" id="addSearchMethodOnComponent">
    app.component.ts: Add a 'search' method on the component, that takes a
    'searchString' parameter.
  </div>
  <div
    i18n="@@addClickHandlerToButtonCallSearch"
    id="addClickHandlerToButtonCallSearch"
  >
    app.html: Add a click handler to the button, call 'search' method and pass
    the input value (Actual search functionality will be implemented in the next
    exercise)
  </div>
  <div i18n="@@addMessageNoVideos" id="addMessageNoVideos">
    app.html: Add a message saying 'no videos' which is displayed only when the
    videos array is empty
  </div>

  <div
    i18n="@@bonusDisplayAllVideosByDefault"
    id="bonusDisplayAllVideosByDefault"
  >
    #Bonus app.component.ts: Right now it takes pressing a search button to
    display the videos. Instead display all videos by default.
  </div>
  <div
    i18n="@@insideSearchMethodFilterFakeVideos"
    id="insideSearchMethodFilterFakeVideos"
  >
    app.component.ts: Inside of the 'search' method filter FAKE_VIDEOS and only
    return videos with the title containing searchString. (hint: use .includes
    or .indexOf string methods)
  </div>
  <div i18n="@@alsoDisplayThumbnail" id="alsoDisplayThumbnail">
    app.html: Also display a thumbnail
  </div>
  <div
    i18n="@@IterateWithNgForAndDisplayTitle"
    id="IterateWithNgForAndDisplayTitle"
  >
    app.html: Iterate over the videos using '*ngFor', and display a title for
    each
  </div>

  <div i18n="@@addButtonWithtextSearch" id="addButtonWithtextSearch">
    app.html: Add a button tag with a text 'search'
  </div>
  <div i18n="@@addInputWithPlaceholderVideo" id="addInputWithPlaceholderVideo">
    app.html: Add an input tag with a 'placeholder' attribute set to 'video'
  </div>
</div>
<slides-deck slidesShortcuts slidesRouting slides-tracking>
  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png" />
      </a>
    </div>

    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <codelab-progress-bar></codelab-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <div *slide id="intro" no-padding>
    <codelab-title-slide
      title="Templates"
      i18n-title="@@templates"
      description="Learn more about Angular templates!"
      i18n-description
      prereqs=""
    ></codelab-title-slide>
  </div>

  <!--  COMPONENT -->
  <div *slide id="component" milestone="Templates">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n="@@intro">Intro</ng-container>
    </h1>
    <h2 i18n>
      Angular has a very expressive template system, which takes HTML as a base,
      and extends it with custom elements
    </h2>
    <codelab-exercise-playground
      [highlights]="code.template.matches.template"
      [exercise]="code.template.intro"
    ></codelab-exercise-playground>
  </div>

  <!--  INTERPOLATION-->
  <div *slide id="interpolation" milestone="Templates">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Interpolation</ng-container>
    </h1>
    <h2 i18n>
      Double curlies include the appropriate component property value
    </h2>
    <codelab-exercise-playground
      [exercise]="code.template.interpolation"
      [highlights]="code.template.matches.curlies"
    ></codelab-exercise-playground>
    <div class="info" milestone="Templates" style="margin-top: -8px;" i18n>
      Backticks <b>` `</b>, are magic quotes that allow multi-line strings and
      text interpolation.
    </div>
  </div>

  <!--INTERPOLATION-METHOD-->
  <div *slide id="interpolation-method" milestone="Templates">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Interpolation</ng-container>
    </h1>
    <h2 i18n>
      Simple expressions are also allowed, you can run a component method (like
      fullName() below), or calculate <code>323213+34234</code>
    </h2>
    <codelab-exercise-playground
      [exercise]="code.template.interpolationMethod"
      [highlights]="code.template.matches.curliesFullName"
    ></codelab-exercise-playground>
  </div>

  <div *slide id="exercise-pre" milestone="Templates">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n="@@exercise">Exercise</ng-container>
    </h1>
    <h2 i18n>
      In the next slide you'll edit a component template to create a simple
      header and search form. The result will look like this:
    </h2>

    <slides-codelab-exercise-preview
      column-5
      [exercise]="exercises[0]"
    ></slides-codelab-exercise-preview>
  </div>

  <div *slide id="exercise" no-padding>
    <slides-codelab-exercise
      milestone="Templates"
      [translations]="t"
      [exercise]="exercises[0]"
    >
    </slides-codelab-exercise>
  </div>

  <!--  PRE DATA BINDING-->
  <div *slide id="data-binding-pre" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Interpolation</ng-container>
      /
      <ng-container i18n>Properties</ng-container>
    </h1>
    <h2 i18n>
      String interpolation <b>{{ curlies }}</b> can also be used to pass a value
      to a child element's attribute
    </h2>
    <codelab-exercise-playground
      [exercise]="code.template.dataBindingPre"
      [highlights]="code.template.matches.curliesAttribute"
    ></codelab-exercise-playground>
  </div>

  <!--  DATA BINDING  -->
  <div *slide id="data-binding" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Property Binding</ng-container>
    </h1>
    <h2 i18n>
      Better option is to use property binding <b>[attribute] = property</b>
    </h2>
    <codelab-exercise-playground
      [exercise]="code.template.dataBinding"
      [highlights]="code.template.matches.squares"
    ></codelab-exercise-playground>
    <div class="info" style="margin-top: -10px; z-index: 2;" i18n>
      You can use arbitrary expressions in the binding.
    </div>
  </div>

  <!--  DATA BINDING EXTRAS-->
  <div *slide id="data-binding-extras" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Data binding extras</ng-container>
    </h1>
    <h2 i18n>
      Angular supports more advanced property bindings than just attribute name
    </h2>
    <code-demo-file-path path="app.component.html"></code-demo-file-path>
    <code-demo-editor
      [(ngModel)]="code.template.dataBindingExtra"
      language="html"
    >
    </code-demo-editor>
  </div>

  <!--  BINDING EVENT -->
  <div *slide id="event-binding" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Event binding: (event)</ng-container>
    </h1>
    <h2 i18n>
      The bindings directives you've met so far flow data in one direction: from
      a component to an element
    </h2>
    <code-demo-file-path path="app.component.html"></code-demo-file-path>
    <code-demo-editor
      [(ngModel)]="code.eventBinding"
      [fontSize]="25"
      [codeDemoSimpleHighlightMatch]="[code.eventBindingMatch]"
      language="html"
    >
    </code-demo-editor>
    <div class="info" i18n>
      While Parentheses are used for event binding: <b>(event)</b>, "on-" can
      also be used: <b>on-event</b>.
    </div>
  </div>

  <!--  REFERENCE BINDING -->
  <div *slide id="reference-binding" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Reference binding ( #var )</ng-container>
    </h1>
    <h2 i18n>
      Sometimes we need to access an HTML element or Angular component from the
      template. We can mark it with <b>#userName</b>, and it becomes available
      as <b>userName</b> everywhere in the template
    </h2>

    <code-demo-file-path path="app.component.html"></code-demo-file-path>
    <code-demo-editor
      [(ngModel)]="code.bindingRef"
      [fontSize]="25"
      [codeDemoSimpleHighlightMatch]="[
        code.bindingRefMatch,
        code.bindingRef2Match
      ]"
      language="html"
    >
    </code-demo-editor>
  </div>

  <!--  CONDITIONAL DISPLAY-->
  <div *slide id="conditional-display-ngif" milestone="Templates2">
    <h2 i18n>Templates / Conditional Display (*ngIf)</h2>
    <h2 i18n>
      This conditional expression will add or remove an element from the DOM if
      it evaluates as a truthy
    </h2>
    <codelab-exercise-playground
      [exercise]="code.ngIfDirective.template"
      [highlights]="code.ngIfDirective.matches.ngIf"
    ></codelab-exercise-playground>
  </div>

  <div *slide id="exercise-2-pre" milestone="Templates2">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Exercise 2</ng-container>
    </h1>
    <h2 i18n>
      In the next slide you'll add a click handler to the search button, and
      display a message for the case where no videos were found. The result will
      look like this:
    </h2>

    <slides-codelab-exercise-preview
      column-5
      [exercise]="exercises[1]"
    ></slides-codelab-exercise-preview>
  </div>

  <div *slide id="exercise-2" no-padding>
    <slides-codelab-exercise
      milestone="Templates2"
      [translations]="t"
      [exercise]="exercises[1]"
    >
    </slides-codelab-exercise>
  </div>

  <div *slide id="repeating" milestone="Templates3">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Repeating elements</ng-container>
    </h1>
    <h2 i18n>
      Let's say you have an array of puppies, and want to display all of them on
      the page. Angular has a special syntax for that called <b>*ngFor</b>,
      let's see how it works on the next slide
    </h2>
    <codelab-exercise-playground
      [exercise]="code.ngForDirectivePre.template"
      [highlights]="code.ngForDirectivePre.matches"
    ></codelab-exercise-playground>
  </div>

  <div *slide id="conditional-display-ngfor" milestone="Templates3">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Repeating elements (*ngFor)</ng-container>
    </h1>
    <h2 i18n>
      Here <b>*ngFor</b> repeats HTML element it's attached to (li in this case)
      for every single puppy in the puppies array
    </h2>
    <codelab-exercise-playground
      #forExercise
      [exercise]="code.ngForDirective.template"
      [highlights]="code.ngForDirective.matches.ngFor"
    ></codelab-exercise-playground>
    <div class="info" i18n>
      HTML attributes in <b>Angular</b> are case sensitive:
      <b><s>*ngfor</s></b> won't work, <b>*ngFor</b> will
    </div>
  </div>

  <div *slide id="exercise-3-pre" milestone="Templates3">
    <h1>
      <ng-container i18n>Templates</ng-container>
      /
      <ng-container i18n>Exercise 3</ng-container>
    </h1>
    <div flex style="height: 100%;">
      <div column-5>
        <h2 i18n>
          In the next slide you'll finally display the videos! The result will
          look like this:
        </h2>
      </div>
      <slides-codelab-exercise-preview
        column-5
        [exercise]="exercises[2]"
      ></slides-codelab-exercise-preview>
    </div>
  </div>

  <div *slide id="exercise-3" no-padding>
    <slides-codelab-exercise
      [translations]="t"
      [exercise]="exercises[2]"
      milestone="Templates3"
    >
    </slides-codelab-exercise>
  </div>

  <div *slide id="end">
    <codelab-closing-slide>
      <div class="header" header>
        <h1>
          <ng-container i18n>Templates</ng-container>
          /
          <ng-container i18n>Milestone Completed!</ng-container>
        </h1>
      </div>
      <div class="body" body></div>
      <div class="footer" footer>
        <h2 i18n>
          Next:
          <a routerLink="/dependency-injection/intro"
            >Learn how to use Angular Dependency Injection</a
          >
        </h2>
        <slides-feedback-rating lesson="AngularTemplates">
        </slides-feedback-rating>
      </div>
    </codelab-closing-slide>
  </div>
</slides-deck>
