@font-face {
  font-family: 'Droid Sans';
  src: url('/assets/fonts/droid-sans/DroidSans.ttf') format("opentype");
}

@font-face {
  font-family: 'Droid Sans Bold';
  src: url('/assets/fonts/droid-sans/DroidSans-Bold.ttf') format("opentype");
}

h3 {
  font-family: 'Droid Sans', 'Droid Sans Bold';
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.container > * {
  width: 600px;
}

.form-control {
  margin: 2px;
}

textarea {
  overflow:auto;
  resize: vertical;
}
