<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>
  <div class="btn-bar">

    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide id="intro" no-padding>
    <slides-title-slide
      title="Templates"
      description="Learn more about Angular templates!"
      prereqs=""
    ></slides-title-slide>
  </slides-slide>


  <!--  COMPONENT -->
  <slides-slide id="component" milestone="Templates">
    <h1>Templates / Intro</h1>
    <h2>Angular has a very expressive template system, which takes HTML as a base, and extends it with custom
      elements</h2>
    <slides-playground [config]="code.template.intro"></slides-playground>
  </slides-slide>

  <!--  INTERPOLATION-->
  <slides-slide id="interpolation" milestone="Templates">
    <h1>Templates / Interpolation</h1>
    <h2>Double curlies allow you to include properties from the component</h2>
    <slides-playground [config]="code.template.interpolation"
                       [focus-highlight-match]="[code.template.matches.curlies,code.template.matches.firstName]"></slides-playground>
    <div class="info" milestone="Templates" style="margin-top: -8px;">
      Backticks <b>` `</b>, are magic quotes that allow multi-line strings and text interpolation.
    </div>
  </slides-slide>


  <!--INTERPOLATION-METHOD-->
  <slides-slide id="interpolation-method" milestone="Templates">
    <h1>Templates / Interpolation</h1>
    <h2>Simple expressions are also allowed, you can run a component method (like fullName() below), or calculate <code>323213+34234</code>
    </h2>
    <slides-playground [config]="code.template.interpolationMethod"
                       [focus-highlight-match]="[code.template.matches.curlies,code.template.matches.fullName]"></slides-playground>
  </slides-slide>

  <slides-slide id="exercise-pre" milestone="Templates">
    <h1>Templates / Exercise</h1>
    <h2>In the next slide you'll edit component template to create a simple header and search form. Ther result will look like
      this:</h2>

    <slides-browser-window>
      <div>
        <h1>MewTube</h1><input placeholder="video" type="text">
        <button>Search</button>
      </div>
    </slides-browser-window>
  </slides-slide>

  <slides-slide id="exercise" no-padding>
    <slides-exercise [config]="exercises[0]" milestone="Templates">
      <div class="description">
      </div>
    </slides-exercise>
  </slides-slide>

  <!--  PRE DATA BINDING-->
  <slides-slide id="data-binding-pre" milestone="Templates2">
    <h1>Templates / Interpolation / Properties</h1>
    <h2>String interpolation <b>{{ curlies }}</b> can also be used to pass value to a child element's attribute.</h2>
    <slides-playground [config]="code.template.dataBindingPre"
                       [focus-highlight-match]="[code.template.matches.curliesAttribute]"></slides-playground>
  </slides-slide>

  <!--  DATA BINDING  -->
  <slides-slide id="data-binding" milestone="Templates2">
    <h1>Templates / Property Binding</h1>
    <h2>Another option is to use property binding <b>[attribute] = property</b></h2>
    <slides-playground [config]="code.template.dataBinding"
                       [focus-highlight-match]="[code.template.matches.squares]"></slides-playground>
    <div class="info" style="margin-top: -10px; z-index: 2;">
      You can use arbitrary expressions in the binding
    </div>
  </slides-slide>

  <!--  DATA BINDING EXTRAS-->
  <slides-slide id="data-binding-extras" milestone="Templates2">
    <h1>Templates / Data binding extras</h1>
    <h2>Angular supports more advanced property bindings than just attribute name</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.template.dataBindingExtra"
      type="html">
    </slides-code-editor>
  </slides-slide>


  <!--  BINDING EVENT -->
  <slides-slide id="event-binding" milestone="Templates2">
    <h1>Templates / Event binding: (event)</h1>
    <h2>The bindings directives you've met so far flow data in one direction: from a component to an element</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.eventBinding"
      [fontSize]="25"
      [focus-highlight-match]="[code.eventBindingMatch]"
      [readonly]="true"
      type="html">
    </slides-code-editor>
    <div class="info">
      While Parentheses are used for event binding: <b>(event)</b>, "on-" can also be used: <b>on-event</b>.
    </div>
  </slides-slide>

  <!--  REFERENCE BINDING -->
  <slides-slide id="reference-binding" milestone="Templates2">
    <h1>Templates / Reference binding ( #var )</h1>
    <h2>Sometimes we need to access HTML element or Angular component from the template. We can mark it with <b>#userName</b>,
      and it becomes
      available as <b>userName</b> everywhere in the template</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.bindingRef"
      [fontSize]="25"
      [focus-highlight-match]="[code.bindingRefMatch, code.bindingRef2Match]"
      [readonly]="true"
      type="html">
    </slides-code-editor>
  </slides-slide>

  <!--  CONDITIONAL DISPLAY-->
  <slides-slide id="conditional-display-ngif" milestone="Templates2">
    <h2>Templates / Conditional Display (*ngIf)</h2>
    <p>
      This conditional expression will add or remove an element from the DOM if it evaluates as a truthy.
    </p>
    <slides-playground [config]="code.ngIfDirective.template"
                       [focus-highlight-match]="[code.ngIfDirective.matches.ngIf]"></slides-playground>
  </slides-slide>


  <slides-slide id="exercise-2-pre" milestone="Templates2">
    <h1>Templates / Exercise 2</h1>
    <h2>In the next slide you'll add a click handler to the search button, and display a message for the case where no
      videos were found. The result will look like this:</h2>

    <slides-browser-window>
      <div>
        <h1>MewTube</h1><input placeholder="video" type="text">
        <button>Search</button>
        <div>no videos</div>
      </div>
    </slides-browser-window>
  </slides-slide>

  <slides-slide id="exercise-2" no-padding>
    <slides-exercise [config]="exercises[1]" milestone="Templates2">
      <div class="description">
      </div>
    </slides-exercise>
  </slides-slide>

  <!--  CONDITIONAL NGFOR-->
  <slides-slide id="conditional-display-ngfor" milestone="Templates3">
    <h1>Templates / Repeating elements (*ngFor)</h1>
    <h2>
      <b>*ngFor</b> loops over an array and displays HTML Element for each item.
    </h2>
    <slides-playground [config]="code.ngForDirective.template"
                       [focus-highlight-match]="[code.ngForDirective.matches.ngFor]"></slides-playground>
    <div class="info">Html attributes in <b>Angular</b> are case sensitive</div>
  </slides-slide>


  <slides-slide id="exercise-3-pre" milestone="Templates3">
    <h1>Templates / Exercise 3</h1>
    <div flex>
      <div column-5>
        <h2>
          In the next slide you'll finally display the videos! The result will look like this:
        </h2>
      </div>
      <div column-5>
        <slides-browser-window>
          <div>
            <h1>MewTube</h1>
            <input placeholder="video" type="text">
            <button>Search!</button>
            <div>
              <h2>Cute kitten</h2>
              <img src="/assets/images/cat-01.jpg">
            </div>
            <div>
              <h2>Kitten on the tree</h2>
              <img src="/assets/images/cat-05.png">
            </div>
            <div>
              <h2>Serious cat</h2>
              <img src="/assets/images/cat-03.jpg">
            </div>
          </div>
        </slides-browser-window>
      </div>
    </div>
  </slides-slide>

  <slides-slide id="exercise-3" no-padding>
    <slides-exercise [config]="exercises[2]" milestone="Templates3">
      <div class="description">
      </div>
    </slides-exercise>
  </slides-slide>


  <slides-slide id="end">
    <slides-closing-slide>
      <div class="header" header><h1 i18n>Templates / Milestone Completed!</h1></div>
      <div class="body" body>
      </div>
      <div class="footer" footer>
        <h2>
          Next: <a routerLink="/dependency-injection/intro">Learn how to use Angular Dependency Injection</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>

</slides-presentation>
