<app-presentation app-slides-routing>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>
  <app-slide>Templates module
  </app-slide>

  <app-slide>
    <h1>Templates</h1>
    <app-playground [config]="code.bindingExercise"></app-playground>
  </app-slide>
  <app-slide>
    <h1>Templates 2</h1>
    <app-code-editor
      [code]="code.bindingProp"
      [fontSize]="30"
      [focus-highlight-match]="[code.bindingPropMatch]"
      [readonly]="false"
      type="html"
    ></app-code-editor>
  </app-slide>
  <app-slide>
    <h1>Templates 2</h1>
    <app-code-editor
      [code]="code.bindingPropSquare"
      [fontSize]="30"
      [focus-highlight-match]="[code.bindingPropSquareMatch]"
      [readonly]="false"
      type="html"
    ></app-code-editor>
  </app-slide>
</app-presentation>
