<app-presentation app-slides-routing>
  <app-menu-shortcut></app-menu-shortcut>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>
  <app-slide>Templates module
  </app-slide>

  <app-slide>
    <h1>Templates</h1>
    <h2>Display both firstName and lastName in the header</h2>
    <app-playground vertical [config]="code.bindingExercise"
                    [focus-highlight-match]="[code.bindingExerciseMatch]"></app-playground>
  </app-slide>
  <app-slide>
    <h1>Templates 2</h1>
    <app-code-editor
      [code]="code.bindingProp"
      [fontSize]="30"
      [focus-highlight-match]="[code.bindingPropMatch]"
      [readonly]="false"
      type="html"
    ></app-code-editor>
  </app-slide>
  <app-slide>
    <h1>Templates 2</h1>
    <app-code-editor
      [code]="code.bindingPropSquare"
      [focus-highlight-match]="[code.bindingPropMatch]"
      [fontSize]="30"
      [readonly]="false"
      type="html"
    ></app-code-editor>
  </app-slide>
</app-presentation>
