<div class="exercise-panel">
  <div class="main">
    <ng-content select=".editor"></ng-content>
    <ng-content select=".slides-preview"></ng-content>
  </div>

  <div class="side">
    <div>
      <ng-content select=".description"></ng-content>
      <div class="exercise-complete" *ngIf="solved">
        Well done! <a class="next-button" (click)="goToNextSlide()">Go to the next slide</a>
      </div>
      <ng-content select=".tests"></ng-content>
    </div>

    <ng-content select=".preview"></ng-content>
  </div>
</div>
