.wrapper {
  display: grid;
  grid-template-columns: 200px 100px 100%;
  font-size: 20px;
}

.bin-block {
  word-break: break-all;
}

[name='section-type'] {
  background: #dd0900;
  color: #fff;
}

.cell {
  padding: 10px;
}
