<slide-deck slideShortcuts slidesRouting slides-tracking>
  <div *slide cover>
    codelab.fun
  </div>

  <!--  TODO(anya):-->
  <div *slide cover>What is codelab.fun</div>
  <div *slide>
    <h2>Online interactive angular tutorial no setup</h2>
    <iframe
      src="https://codelab.fun"
      frameborder="0"
      style="height: 100%;"
    ></iframe>
  </div>
  <div *slide>
    <h1>Interactive code samples</h1>
    <code-demo
      [(ngModel)]="code.simpleAngular.code"
      [files]="code.simpleAngular.files"
    ></code-demo>
  </div>
  <div *slide>
    <h1>Hands on exercises</h1>
    <codelab-exercise
      testRunner="babel"
      [translations]="code.exercise.translations"
      [exercise]="code.exercise.config"
    ></codelab-exercise>
  </div>
  <div *slide>
    <h2>All open source/Angular Ivy/on Github</h2>
    <div class="issues" pic></div>
  </div>

  <div *slide>
    <h2>Almost 50 contributors</h2>
    <div pic class="contributors"></div>
  </div>

  <div *slide>
    <h2>Regular offline contributors meetings</h2>
    <div pic class="community" pic></div>
  </div>
  <div *slide>
    <h2>20+ Live-events in 10+ countries</h2>
    <div pic class="live"></div>
  </div>
  <div *slide>
    <h2>~1000 users a month</h2>
    <div pic class="visitors"></div>
  </div>

  <div *slide>
    <h2>Live-Stream "Звуки программистов"</h2>
    <h2>
      @kirjs and @thekiba_io meet on weekends and do long technical streams in
      russian, https://www.twitch.tv/kirjs
    </h2>
    <div pic class="zvuki"></div>
  </div>

  <div *slide>
    <h2>Live-Stream "Звуки программистов"</h2>
    <h2>
      @kirjs and @thekiba_io meet on weekends and do long technical streams in
      russian, https://www.twitch.tv/kirjs
    </h2>
    <div pic class="zvuki2"></div>
  </div>

  <!--
   Story
  -->
  <div *slide cover>Nov 11, 2016</div>
  <div *slide text>Angular 2.1</div>

  <div *slide text>Move exercises to the browser</div>
  <div *slide>
    <h2>version 1 looked like this:</h2>
    <div pic class="v1"></div>
  </div>

  <ng-container>
    <div *slide text>Managing source code in exercises</div>
    <div *slide text>
      <codelab-exercise-preview
        *ngFor="let preview; in: code.preview"
        [exercise]="preview"
      ></codelab-exercise-preview>
    </div>

    <div *slide>
      <slides-stages></slides-stages>
    </div>

    <div *slide>
      <h2>Need a way to manage source code in a way that:</h2>
      <ul>
        <li>Defined in text format</li>
        <li>Easy to modify versions</li>
        <li>Changes in older versions propagate to the newer versions</li>
        <li>Works in a browser</li>
      </ul>
    </div>

    <div *slide>
      <h2>TODO: One folder per exercise</h2>

      <ul>
        <li>✅ Defined in text format</li>
        <li>🚫 Easy to modify versions</li>
        <li>🚫 Changes in older versions propagate to the newer versions</li>
        <li>✅ Works in a browser</li>
      </ul>
    </div>

    <div *slide>
      <h2>This sounds like a version control system...?</h2>
      <ol>
        <li>Create a github repo</li>
        <li>Create the app commit by commit</li>
        <li>
          Use
          <a href="https://github.com/isomorphic-git/isomorphic-git"
            >isomorphic-git</a
          >
        </li>
      </ol>
      <ul>
        <li>✅ Defined in text format</li>
        <li>🤷 Easy to modify versions</li>
        <li>✅ Changes in older versions propagate to the newer versions</li>
        <li>✅ Works in a browser</li>
      </ul>
    </div>

    <div *slide>
      <h2>This sounds like a version control system...?</h2>
      <ol>
        <li>Create a github repo</li>
        <li>Create the app commit by commit</li>
        <li>
          Use
          <a href="https://github.com/isomorphic-git/isomorphic-git"
            >isomorphic-git</a
          >
        </li>
      </ol>
      <ul>
        <li>✅ Defined in text format</li>
        <li>🤷 Easy to modify versions</li>
        <li>✅ Changes in older versions propagate to the newer versions</li>
        <li>✅ Works in a browser</li>
        <li>🚫 Exists in 2016</li>
        <li>🚫 Version history (Yo dawg, who controls the version control?)</li>
      </ul>
    </div>

    <div *slide>
      <h2>Can we have our own Angular-aware VCS in a browser?</h2>
      <code-demo-editor [(ngModel)]="code.stages.builders"></code-demo-editor>
      <ul>
        <li>✅ Defined in text format</li>
        <li>✅ Easy to modify versions</li>
        <li>✅ Changes in older versions propagate to the newer versions</li>
        <li>✅ Works in a browser</li>
        <li>🚫 Doesn't require a ton of code to maintain</li>
      </ul>
    </div>

    <div *slide>
      <h2>New meta-language</h2>
      <code-demo-editor [(ngModel)]="code.stages.component"></code-demo-editor>
      <ul>
        <li>✅ Defined in text format</li>
        <li>✅ Easy to modify versions</li>
        <li>✅ Changes in older versions propagate to the newer versions</li>
        <li>✅ Works in a browser</li>
        <li>
          🚫 I shouldn't be the only human in the universe understanding how it
          works
        </li>
      </ul>
    </div>

    <div *slide>
      <h2>Differ</h2>
      <code-demo-editor [(ngModel)]="code.stages.differ"></code-demo-editor>
    </div>
  </ng-container>

  <div *slide>
    <h2>☁️☁️🌤 My dream solution ☁️☁️☁️️</h2>
    <h2>All code stored/edited online in a UI</h2>
  </div>

  <!--
   TODO: Runner story
  -->
  <div *slide>Running tests (mocha / babel + traversing AST)</div>

  <div *slide>
    - The goal is to quickly assess whether user's code does what we want.
  </div>
  <div *slide>
    - Initially the plan was to run unit tests in an iframe with TestBed, mocha
    + chai (code TBD)
  </div>

  <!--
     Types
  -->

  <div *slide cover>Next level</div>

  <!--
      Creating slides
  -->
  <div cover *slide>Creating slides library with Angular</div>

  <div *slide>
    <h2>What's an ideal API for a presentation written in Angular?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.initial"
    ></code-demo-editor>
  </div>

  <div *slide>
    <h2>What do we want</h2>
    <ul>
      <li>Clean and concise API</li>
      <li>On-demand per-slide content loading</li>
      <li>Additional per-slides attributes</li>
      <li>
        Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>What's an ideal API for a presentation written in Angular?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.initial"
    ></code-demo-editor>
    <ul>
      <li>✅ Clean and concise API</li>
      <li>🚫 On-demand per-slide content loading</li>
      <li>🚫 Additional per-slides attributes</li>
      <li>
        🚫 Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>The same but with ids</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.component"
    ></code-demo-editor>

    <ul>
      <li>✅ Clean and concise API</li>
      <li>🚫 .On-demand per-slide content loading</li>
      <li>🚫 Additional per-slides attributes</li>
      <li>
        ✅ Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>Can we use ng-template?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.template"
    ></code-demo-editor>
    <ul>
      <li>🚫 Clean and concise API</li>
      <li>✅ .On-demand per-slide content loading</li>
      <li>🚫 Additional per-slides attributes</li>
      <li>
        🚫 Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>Structural directive?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.directive"
    ></code-demo-editor>
    <ul>
      <li>✅ Clean and concise API</li>
      <li>✅ .On-demand per-slide content loading</li>
      <li>✅ Additional per-slides attributes</li>
      <li>
        ✅ Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>But how do we get the ID?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.directiveId"
    ></code-demo-editor>
    <ul>
      <li>🚫 Clean and concise API</li>
      <li>✅ .On-demand per-slide content loading</li>
      <li>✅ Additional per-slides attributes</li>
      <li>
        ✅ Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>What if we need more attributes</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.directiveIdMilestone"
    ></code-demo-editor>
    <ul>
      <li>🚫🚫🚫🚫 Clean and concise API 🚫🚫🚫🚫</li>
      <li>✅ .On-demand per-slide content loading</li>
      <li>✅ Additional per-slides attributes</li>
      <li>
        ✅ Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.final"
    ></code-demo-editor>
    <ul>
      <li>✅ Clean and concise API</li>
      <li>✅ .On-demand per-slide content loading</li>
      <li>✅ Additional per-slides attributes</li>
      <li>
        ✅ Ability to have
        <a href="https://codelab.fun/angular/router/router-intro"
          >feedback per slide</a
        >
      </li>
    </ul>
  </div>

  <div *slide>
    <h2>But how???</h2>
  </div>

  <div *slide>
    <div
      class="info"
      style="background: red; color: white; margin-bottom: 20px;"
    >
      💀🙀Don't try this at home!🙀💀
    </div>
    <code-demo-editor
      language="typescript"
      [(ngModel)]="code.gettingId.code"
    ></code-demo-editor>
  </div>

  <div *slide>
    <h2>☁️☁️🌤 My dream solution ☁️☁️☁️️</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.slides.final"
    ></code-demo-editor>
    <h2>Angular to support attributes for structural directives.</h2>
  </div>
  <!--
    Highlighting directive
  -->
  <div *slide cover>
    Highlights
  </div>

  <div *slide>
    <h2>How to implement this?</h2>
    <div class="highlight-slides" pic></div>
  </div>

  <div *slide>
    <h2>We need a popup which</h2>
    <ul>
      <li>plays well with Monaco</li>
      <li>Updates when the code is updated</li>
      <li>Not obstructive</li>
      <li>Provides additional context</li>
    </ul>
  </div>

  <div *slide>
    <h2>ng-popover, and 10 other libraries</h2>
    <ul>
      <li>🚫 plays well with Monaco</li>
      <li>🚫 Updates when the code is updated</li>
      <li>🚫 Not obstructive</li>
      <li>✅ Provides additional context</li>
    </ul>
  </div>

  <div *slide>
    <h2>We don't need popovers, we need highlight</h2>
    <code-demo
      [(ngModel)]="code.simpleAngular.code"
      [files]="code.simpleAngular.files"
      [highlights]="code.highlights.appComponent"
    ></code-demo>
    <ul>
      <li>✅ plays well with Monaco</li>
      <li>✅ Updates when the code is updated</li>
      <li>✅ Not obstructive</li>
      <li>🚫 Provides additional context</li>
    </ul>
  </div>

  <div *slide>
    <h2>Find position by regex or string</h2>
    <code-demo-editor [(ngModel)]="code.highlights.find"></code-demo-editor>
  </div>

  <div *slide>
    <h2>☁️☁️🌤 My dream solution ☁️☁️☁️️</h2>
    <div pic class="dream-highlight" style="flex-shrink: 0"></div>
    <ul>
      <li>✅ plays well with Monaco</li>
      <li>✅ Updates when the code is updated</li>
      <li>✅ Not obstructive</li>
      <li>✅ Provides additional context</li>
    </ul>
  </div>

  <!--
      Code in a template
  -->
  <div *slide cover>Storing code samples</div>
  <div *slide>
    <h2>Requirements:</h2>
    <ul>
      <li>Compiles</li>
      <li>Easy to manage</li>
      <li>Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>This can't be hard!</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.plain"
    ></code-demo-editor>
    <ul>
      <li>🚫 Compiles</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Can we use multiline strings?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.backticks"
      [codeDemoHighlight]="code.storingCode.backticksMatch"
    ></code-demo-editor>
    <ul>
      <li>🚫 Compiles</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Custom interpolation to the rescue?</h2>
    <code-demo
      language="html"
      [(ngModel)]="code.storingCode.interpolation"
    ></code-demo>
    <ul>
      <li>🚫 Compiles</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>Can we use ng-template?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.ngTemplate"
      [codeDemoHighlight]="code.storingCode.backticksMatch"
    ></code-demo-editor>
    <ul>
      <li>🚫 Compiles</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Can we use ngNonBindable?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.ngNonBindable"
    ></code-demo-editor>
    <ul>
      <li>🚫 Compiles</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Can we use Script tag?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.script"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>🚫🙀 Can't get access to it 🙀🚫 (security)</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Can we use a comment?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.comment"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>🚫🙀 Can't get access to it 🙀🚫 (Angular strips comments)</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Textarea?</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.textarea"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles (although my IDE complains)</li>
      <li>✅ Can get access</li>
      <li>🚫🙀 Curlies intepolate</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>
  <div *slide>
    <h2>Textarea + ngNonBindable</h2>
    <code-demo-editor
      language="html"
      [(ngModel)]="code.storingCode.textareaNonBindable"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>✅ Can get access</li>
      <li>✅ Curlies do not interpolate</li>
      <li>✅ Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>✨ We won! ✨</h2>
    <div style="width:50%;height:0;padding-bottom:100%;position:relative;">
      <iframe
        src="https://giphy.com/embed/aXg4TKmvxHVAc"
        width="480"
        height="480"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
    </div>
  </div>

  <div *slide cover>Now, we need a sane way</div>

  <div *slide>
    <h2>Code in the component</h2>

    <code-demo-editor
      language="typescript"
      [(ngModel)]="code.storingCode.inComponent"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>✅ Can get access</li>
      <li>✅ Curlies do not interpolate</li>
      <li>🚫 Easy to manage</li>
      <li>🚫 Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>Storing it in appropriate files</h2>
    <code-demo-editor
      language="typescript"
      [(ngModel)]="code.simpleAngular.code['app.component.ts']"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>✅ Can get access</li>
      <li>✅ Curlies do not interpolate</li>
      <li>🤷 ‍Easy to manage</li>
      <li>✅ Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>raw-loader - code in files</h2>
    <code-demo-editor
      language="typescript"
      [(ngModel)]="code.storingCode.rawLoader"
    ></code-demo-editor>
    <ul>
      <li>✅ Compiles</li>
      <li>✅ Can get access</li>
      <li>✅ Curlies do not interpolate</li>
      <li>🤷 ‍Easy to manage</li>
      <li>✅ Syntax highlighting</li>
    </ul>
  </div>

  <div *slide>
    <h2>☁️☁️🌤 My dream solution ☁️☁️☁️️</h2>

    <code-demo-editor
      language="typescript"
      [(ngModel)]="code.simpleAngular.code['app.component.ts']"
    ></code-demo-editor>

    <h2>UI for editing code (and content)</h2>
  </div>
  <!--
    Types
   -->

  <div *slide text>Types</div>
  <div *slide>
    <h2>Types requirements:</h2>
    <ul>
      <li>Autocomplete words</li>
      <li>Quick to implement</li>
      <li>Quick to update</li>
      <li>Lightweight</li>
    </ul>
  </div>
  <div *slide>
    <h2>No types ¯\_(ツ)_/¯</h2>
    <ul>
      <li>🚫 Autocomplete works</li>
      <li>✅ Quick to implement</li>
      <li>✅ Quick to update</li>
      <li>✅ Lightweight</li>
    </ul>
  </div>

  <div *slide>
    <h2>Fake types!</h2>
    <code-demo-file-path path="fake-types.d.ts"></code-demo-file-path>
    <code-demo-editor
      [autoSize]="false"
      [(ngModel)]="code.fakeTypes"
    ></code-demo-editor>

    <ul>
      <li>✅ Autocomplete works</li>
      <li>🚫 Quick to implement</li>
      <li>🚫 Quick to update</li>
      <li>✅ Lightweight</li>
    </ul>
  </div>

  <div *slide>
    <h2>Then webstorm started shouting at me.</h2>
    <div class="types-error" pic></div>
  </div>
  <div *slide>
    <h2>Let's rename the file</h2>
    <code-demo-file-path
      path="fake-types.d.ts.not-really"
    ></code-demo-file-path>
    <code-demo-editor [(ngModel)]="code.types.fakeTypes"></code-demo-editor>
  </div>

  <div *slide>
    <h2>Types work!</h2>
    <div class="types-work" pic></div>
  </div>

  <div *slide>
    <h2>Let's use real types!</h2>
    <code-demo-editor
      [(ngModel)]="code.types.realtypes"
      language="typescript"
    ></code-demo-editor>
    <ul>
      <li>✅ Autocomplete works</li>
      <li>✅ Quick to implement</li>
      <li>✅ Quick to update</li>
      <li>✅ Lightweight</li>
      <li>🚫 Actually works</li>
    </ul>
  </div>

  <div *slide>
    <h2>@angular/core/core.d.ts</h2>
    <code-demo-editor
      [(ngModel)]="code.types.coreTypes"
      language="typescript"
    ></code-demo-editor>
  </div>

  <div *slide>
    <h2>@rxjs/index.d.ts</h2>
    <code-demo-editor
      [(ngModel)]="code.types.rxjsTypes"
      language="typescript"
    ></code-demo-editor>
  </div>

  <div *slide>
    <h2>It can't be too many files?</h2>
  </div>

  <div *slide>
    <h2>It can't be too many files?</h2>
    <table>
      <tr>
        <td></td>
        <td># Files</td>
        <td>Size</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>2808</td>
        <td>14M</td>
      </tr>
      <tr>
        <td>RxJS</td>
        <td>686</td>
        <td>2.7M</td>
      </tr>
    </table>
  </div>

  <div *slide>
    <h2>Let's prebundle</h2>
    <code-demo-editor
      [(ngModel)]="code.types.bundler"
      language="typescript"
    ></code-demo-editor>
    <ul>
      <li>✅ Autocomplete works</li>
      <li>✅ Quick to implement</li>
      <li>🤷 Quick to update</li>
      <li>🚫 Lightweight</li>
      <li>✅ Actually works</li>
    </ul>
  </div>

  <div *slide>
    <h2>☁️☁️🌤 My dream solution ☁️☁️☁️️</h2>

    <ol>
      <li>Parse all user .ts files</li>
      <li>Extract all the imports</li>
      <li>Fetch types from a CDN (e.g. npmcdn.com)</li>
    </ol>
    <ul>
      <li>✅ Autocomplete works</li>
      <li>✅ Quick to implement</li>
      <li>✅ Quick to update</li>
      <li>✅ Lightweight</li>
      <li>🚫 Actually works</li>
    </ul>
    <div class="info">
      Many other tools like stackblitz do that, but proxy it through a server
    </div>
  </div>

  <div *slide>
    <h2>People will probably get really mad?</h2>
    <!--    TODO-->
  </div>

  <div *slide>
    <h2>Let's add feedback feature</h2>
    <!--    TODO screenshot-->
  </div>
  <div *slide>
    <h2>We use firebase</h2>
    <!--    TODO screenshot-->
  </div>

  <div *slide>
    <h2>
      We want the feedback to be as specific as possible, so we need to identify
      the slide
    </h2>
    <!--    TODO screenshot-->
  </div>

  <div *slide>
    <h2>We Already use routing, and each slide has a #</h2>
    <!--    TODO screenshot-->
  </div>

  <div *slide>
    <h2>We can't generate and ID</h2>
    <!--    TODO screenshot-->
  </div>
  <div *slide>
    <h2>We have to give an ID manually</h2>
    <!--    TODO screenshot-->
  </div>

  <div *slide>
    <h2>TADA</h2>
    <!-- Ugly code -->
  </div>

  <!--
    Success
   -->

  <!--
    Translations
   -->
  <div *slide cover>i18n</div>

  <div *slide>
    <h2>We use standard Angular i18n</h2>
    <!--    TODO: Code sample-->
  </div>
  <div *slide>
    <h2>But how can we translate code samples?</h2>
    <!--    TODO: Illustration-->
  </div>
  <div *slide>
    <ul>
      <li>Have strings in template with ids</li>
      <li>Then query it in the Component</li>
    </ul>
    {{ "@ViewChild('translations', { static: true }) translation;" }}
    <!--    TODO: Illustration-->
  </div>

  <div *slide text>
    How to we translate it in a way that scales?
  </div>

  <div *slide>
    <h2>Codelab uses PoEditor</h2>
    <div pic class="i18n-poeditor"></div>
  </div>

  <div *slide>
    <h2>Thanks PoEditor for providing us with an Open Source license!</h2>
    <div pic class="i18n-poeditor"></div>
  </div>

  <div *slide text>Anybody can help with translation</div>
  <div *slide text>- Already translated into Russian</div>

  <!--
    Optimizing everything.
   -->
  <!--  TODO(🦊):-->
  <div *slide>Let's make it faster</div>

  <div *slide>- изначальные проблемы:</div>
  <div *slide>очень долго пересобиралось, потому что пересоздавался iframe</div>
  <div *slide>
    типы задавались вручную, поэтому было проблемно подключать дополнительные
    библиотеки
  </div>
  <div *slide>- что сделано:</div>
  <div *slide>iframe стал переиспользоваться</div>
  <div *slide>инстанс ts compiler был переведен на watch режим</div>
  <div *slide>реализован bundler, который собирает типы в один файл</div>
  <div *slide>оптимизация бандла с пакетами, чтобы все сжималось</div>
  <div *slide>- что получили:</div>
  <div *slide>
    перезапуск вместо 0.5-1 сек стало почти мгновенно (показать демонстрацию)
  </div>
  <div *slide>размер бандла уменьшился в 2 раза (todo: посмотреть размер)</div>
  <div *slide>
    появилась возможность подключать любые библиотеки на этапе компиляции
  </div>
  <div *slide>Running tests (mocha / babel + traversing AST)</div>
  <div *slide>
    - The goal is to quickly assess whether user's code does what we want.
  </div>
  <div *slide>
    - Initially the plan was to run unit tests in an iframe with TestBed, mocha
    + chai (code TBD)
  </div>
  <div *slide>- Phase 2 - We started reusing iframe (code TBD)</div>
  <div *slide>- Special case testing bootstrapping the app (code TBD)</div>
  <div *slide>
    - We also added babel tests (babel can parse TypeScript) (code TBD)
  </div>
  <div *slide>- This works, we look at the code, not at the result.</div>
  <div *slide>Monaco</div>
  <div *slide>
    - The goal is to give users a type aware editor with SyntaxHighlighting
    quick, extensible
  </div>
  <div *slide>- We chose monaco</div>
  <div *slide>
    - Bundle size/It's own AMD loader/Have to be included in the assets
  </div>
  <div *slide>- Adding types to monaco</div>
  <div *slide>- Highlighting</div>
  <div *slide>- Autofolding</div>
  <div *slide>- Init on app load</div>
  <div *slide>Experiments/What's next?</div>
  <div *slide>Sync lib</div>
  <div *slide>- Codelab is not just an angular course it is a platform</div>
  <div *slide>- Demo</div>
  <div *slide>New runner</div>
  <div *slide>- What we want:</div>
  <div *slide>- Generic runner (not just angular)</div>
  <div *slide>
    - Does not need types/libraries bundled (fetched them asynchronously from
    cdn)
  </div>
  <div *slide>- Where we are?</div>
  <div *slide>- We don't know how to</div>
  <div *slide>How/Why to contribute?</div>
  <div *slide>Is is hard?</div>
  <div *slide>How to start</div>
  <div *slide>Why to contribute?</div>
  <div *slide>What's next?</div>
</slide-deck>
