.screenshot {
  /*background: url("images/sss");*/
}

[cover] ::ng-deep {
  line-height: 100vh;
  text-align: center;
  background: #6cae00;
  color: white;
  font-size: 100px;
  font-weight: 300;
}

[text] ::ng-deep {
  line-height: 100vh;
  text-align: center;
  background: #6cae00;
  color: white;
  font-size: 100px;
  font-weight: 300;
}

[pic] {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.types-error {
  background-image: url('./images/types-error.png');
}
