<!--<div *ngFor="let slide of slides; let i = index">-->
<!--  <slides-full-slide [slide]="slide"></slides-full-slide>-->
<!--</div>-->
<div class="wrapper">
  <div class="slides-wrapper">
    <button (click)="addSlide()">Add</button>
    <div cdkDropList (cdkDropListDropped)="reorder($event)">
      <button
        *ngFor="let slide of slides; let i = index"
        (click)="selectedSlide = i"
        class="slide"
        [class.selected]="i === selectedSlide"
        cdkDrag
      >
        <slides-slide-preview
          inert="true"
          [slide]="slide"
          [class.selected]="i === selectedSlide"
        ></slides-slide-preview>
      </button>
    </div>
  </div>

  <div class="editor" *ngIf="slides[selectedSlide]">
    <slides-slide-editor
      [slide]="slides[selectedSlide]"
      (updateSlide)="updateSlide($event)"
    ></slides-slide-editor>
  </div>
</div>
