<!--<div *ngFor="let slide of slides; let i = index">-->
<!--  <slides-full-slide [slide]="slide"></slides-full-slide>-->
<!--</div>-->
<div class="wrapper">
  <slides-side-panel
    (addSlide)="addSlide()"
    (reorder)="reorder($event)"
    [selectedSlide]="selectedSlide"
    (updateSelectedSlideIndex)="updateSelectedSlideIndex($event)"
    [slides]="slides"
  ></slides-side-panel>
  <div class="editor" *ngIf="slides[selectedSlide]">
    <slides-slide-editor
      [slide]="slides[selectedSlide]"
      (updateSlide)="updateSlide($event)"
    ></slides-slide-editor>
  </div>
</div>
