<table class="wikitable" style="margin-left:auto;margin-right:auto;">
  <tbody>
    <tr>
      <th>Period</th>
      <th>First discovered</th>
      <th>Discoverer</th>
      <th>Year of discovery</th>
      <th style="background-color:white;border-top-color:white;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </th>
      <th>Smallest known</th>
      <th>Minimum # of cells</th>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_2"
          title="Category:Oscillators with period 2"
          >2</a
        >
      </th>
      <td><a href="/wiki/Blinker" title="Blinker">blinker</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_John_Conway"
          title="Category:Patterns found by John Conway"
          >John Conway</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1970"
          title="Category:Patterns found in 1970"
          >1970</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/Blinker" title="Blinker">blinker</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_3_cells"
          title="Category:Patterns with 3 cells"
          >3</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_3"
          title="Category:Oscillators with period 3"
          >3</a
        >
      </th>
      <td><a href="/wiki/Pulsar" title="Pulsar">pulsar</a></td>
      <td>John Conway</td>
      <td>1970</td>
      <td></td>
      <td><a href="/wiki/Caterer" title="Caterer">caterer</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_12_cells"
          title="Category:Patterns with 12 cells"
          >12</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_4"
          title="Category:Oscillators with period 4"
          >4</a
        >
      </th>
      <td><a href="/wiki/Pinwheel" title="Pinwheel">pinwheel</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_Simon_Norton"
          title="Category:Patterns found by Simon Norton"
          >Simon Norton</a
        >
      </td>
      <td>1970</td>
      <td></td>
      <td>
        <a href="/wiki/Mazing" title="Mazing">mazing</a>,
        <a href="/wiki/Mold" title="Mold">mold</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_12_cells"
          title="Category:Patterns with 12 cells"
          >12</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_5"
          title="Category:Oscillators with period 5"
          >5</a
        >
      </th>
      <td><a href="/wiki/Octagon_2" title="Octagon 2">octagon 2</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_Sol_Goodman"
          title="Category:Patterns found by Sol Goodman"
          >Sol Goodman</a
        >,
        <a
          href="/wiki/Category:Patterns_found_by_Arthur_Taber"
          title="Category:Patterns found by Arthur Taber"
          >Arthur Taber</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1971"
          title="Category:Patterns found in 1971"
          >1971</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Pseudo-barberpole" title="Pseudo-barberpole"
          >pseudo-barberpole</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_15_cells"
          title="Category:Patterns with 15 cells"
          >15</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_6"
          title="Category:Oscillators with period 6"
          >6</a
        >
      </th>
      <td><a href="/wiki/$rats" title="$rats">$rats</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_David_Buckingham"
          title="Category:Patterns found by David Buckingham"
          >David Buckingham</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1972"
          title="Category:Patterns found in 1972"
          >1972</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/Unix" title="Unix">unix</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_16_cells"
          title="Category:Patterns with 16 cells"
          >16</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_7"
          title="Category:Oscillators with period 7"
          >7</a
        >
      </th>
      <td>
        <a href="/wiki/Burloaferimeter" title="Burloaferimeter"
          >burloaferimeter</a
        >
      </td>
      <td>David Buckingham</td>
      <td>1972</td>
      <td></td>
      <td>
        <a href="/wiki/28P7.1" title="28P7.1">28P7.1</a>,
        <a href="/wiki/28P7.2" title="28P7.2">28P7.2</a>,
        <a href="/wiki/Burloaferimeter" title="Burloaferimeter"
          >burloaferimeter</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_28_cells"
          title="Category:Patterns with 28 cells"
          >28</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_8"
          title="Category:Oscillators with period 8"
          >8</a
        >
      </th>
      <td>
        <a href="/wiki/Figure_eight" title="Figure eight">figure eight</a>
      </td>
      <td>Simon Norton</td>
      <td>1970</td>
      <td></td>
      <td>
        <a href="/wiki/Figure_eight" title="Figure eight">figure eight</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_12_cells"
          title="Category:Patterns with 12 cells"
          >12</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_9"
          title="Category:Oscillators with period 9"
          >9</a
        >
      </th>
      <td><a href="/wiki/Worker_bee" title="Worker bee">worker bee</a></td>
      <td>David Buckingham</td>
      <td>1972</td>
      <td></td>
      <td><a href="/wiki/29P9" title="29P9">29P9</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_29_cells"
          title="Category:Patterns with 29 cells"
          >29</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_10"
          title="Category:Oscillators with period 10"
          >10</a
        >
      </th>
      <td><a href="/wiki/42P10.1" title="42P10.1">42P10.1</a></td>
      <td>David Buckingham</td>
      <td>
        ≤<a
          href="/wiki/Category:Patterns_found_in_1976"
          title="Category:Patterns found in 1976"
          >1976</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/24P10" title="24P10">24P10</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_24_cells"
          title="Category:Patterns with 24 cells"
          >24</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_11"
          title="Category:Oscillators with period 11"
          >11</a
        >
      </th>
      <td><a href="/wiki/38P11.1" title="38P11.1">38P11.1</a></td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1977"
          title="Category:Patterns found in 1977"
          >1977</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/Rattlesnake" title="Rattlesnake">rattlesnake</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_33_cells"
          title="Category:Patterns with 33 cells"
          >33</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_12"
          title="Category:Oscillators with period 12"
          >12</a
        >
      </th>
      <td>
        <a href="/wiki/Dinner_table" title="Dinner table">dinner table</a>
      </td>
      <td>
        <a href="/wiki/Robert_Wainwright" title="Robert Wainwright"
          >Robert Wainwright</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1972"
          title="Category:Patterns found in 1972"
          >1972</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Dinner_table" title="Dinner table">dinner table</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_33_cells"
          title="Category:Patterns with 33 cells"
          >33</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_13"
          title="Category:Oscillators with period 13"
          >13</a
        >
      </th>
      <td><a href="/wiki/65P13.1" title="65P13.1">65P13.1</a></td>
      <td>David Buckingham</td>
      <td>1976</td>
      <td></td>
      <td><a href="/wiki/34P13" title="34P13">34P13</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_34_cells"
          title="Category:Patterns with 34 cells"
          >34</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_14"
          title="Category:Oscillators with period 14"
          >14</a
        >
      </th>
      <td><a href="/wiki/Tumbler" title="Tumbler">tumbler</a></td>
      <td>George Collins, Jr.</td>
      <td>1970</td>
      <td></td>
      <td><a href="/wiki/Tumbler" title="Tumbler">tumbler</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_16_cells"
          title="Category:Patterns with 16 cells"
          >16</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_15"
          title="Category:Oscillators with period 15"
          >15</a
        >
      </th>
      <td>
        <a href="/wiki/Pentadecathlon" title="Pentadecathlon">pentadecathlon</a>
      </td>
      <td>John Conway</td>
      <td>1970</td>
      <td></td>
      <td>
        <a href="/wiki/Pentadecathlon" title="Pentadecathlon">pentadecathlon</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_12_cells"
          title="Category:Patterns with 12 cells"
          >12</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_16"
          title="Category:Oscillators with period 16"
          >16</a
        >
      </th>
      <td>
        <a href="/wiki/Two_pre-L_hasslers" title="Two pre-L hasslers"
          >two pre-L hasslers</a
        >
      </td>
      <td>Robert Wainwright</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1983"
          title="Category:Patterns found in 1983"
          >1983</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/Achim%27s_p16" title="Achim's p16">Achim's p16</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_32_cells"
          title="Category:Patterns with 32 cells"
          >32</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_17"
          title="Category:Oscillators with period 17"
          >17</a
        >
      </th>
      <td><a href="/wiki/54P17.1" title="54P17.1">54P17.1</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_Dean_Hickerson"
          title="Category:Patterns found by Dean Hickerson"
          >Dean Hickerson</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1997"
          title="Category:Patterns found in 1997"
          >1997</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Honey_thieves" title="Honey thieves">Honey thieves</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_36_cells"
          title="Category:Patterns with 36 cells"
          >36</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_18"
          title="Category:Oscillators with period 18"
          >18</a
        >
      </th>
      <td><a href="/wiki/117P18" title="117P18">117P18</a></td>
      <td>David Buckingham</td>
      <td>
        ≤<a
          href="/wiki/Category:Patterns_found_in_1991"
          title="Category:Patterns found in 1991"
          >1991</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/43P18" title="43P18">43P18</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_43_cells"
          title="Category:Patterns with 43 cells"
          >43</a
        >
      </td>
    </tr>
    <tr>
      <th class="red_td">19</th>
      <td class="red_td" colspan="6"><i>None found</i></td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_20"
          title="Category:Oscillators with period 20"
          >20</a
        >
      </th>
      <td><a href="/wiki/145P20" title="145P20">145P20</a></td>
      <td><a href="/wiki/Noam_Elkies" title="Noam Elkies">Noam Elkies</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1995"
          title="Category:Patterns found in 1995"
          >1995</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Mold_on_fumarole" title="Mold on fumarole"
          >mold on fumarole</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_30_cells"
          title="Category:Patterns with 30 cells"
          >30</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_21"
          title="Category:Oscillators with period 21"
          >21</a
        >
      </th>
      <td><a href="/wiki/124P21" title="124P21">124P21</a></td>
      <td>Robert Wainwright</td>
      <td>1995</td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_42P7.1" title="Caterer on 42P7.1"
          >caterer on 42P7.1</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_54_cells"
          title="Category:Patterns with 54 cells"
          >54</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_22"
          title="Category:Oscillators with period 22"
          >22</a
        >
      </th>
      <td><a href="/wiki/168P22.1" title="168P22.1">168P22.1</a></td>
      <td>Noam Elkies</td>
      <td>1997</td>
      <td></td>
      <td><a href="/wiki/36P22" title="36P22">36P22</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_36_cells"
          title="Category:Patterns with 36 cells"
          >36</a
        >
      </td>
    </tr>
    <tr>
      <th class="red_td">23</th>
      <td class="red_td" colspan="6"><i>None found</i></td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_24"
          title="Category:Oscillators with period 24"
          >24</a
        >
      </th>
      <td><a href="/wiki/186P24" title="186P24">186P24</a></td>
      <td><a href="/wiki/Bill_Gosper" title="Bill Gosper">Bill Gosper</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1994"
          title="Category:Patterns found in 1994"
          >1994</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_figure_eight" title="Caterer on figure eight"
          >caterer on figure eight</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_24_cells"
          title="Category:Patterns with 24 cells"
          >24</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_25"
          title="Category:Oscillators with period 25"
          >25</a
        >
      </th>
      <td><a href="/wiki/134P25" title="134P25">134P25</a></td>
      <td>Noam Elkies</td>
      <td>1994</td>
      <td></td>
      <td>
        <a
          href="/w/index.php?title=P25_honey_farm_hassler&amp;action=edit&amp;redlink=1"
          class="new"
          title="P25 honey farm hassler (page does not exist)"
          >p25 honey farm hassler</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_88_cells"
          title="Category:Patterns with 88 cells"
          >88</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_26"
          title="Category:Oscillators with period 26"
          >26</a
        >
      </th>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_26" title="Pre-pulsar shuttle 26"
          >pre-pulsar shuttle 26</a
        >
      </td>
      <td>David Buckingham</td>
      <td>1983</td>
      <td></td>
      <td><a href="/wiki/87P26" title="87P26">87P26</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_87_cells"
          title="Category:Patterns with 87 cells"
          >87</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_27"
          title="Category:Oscillators with period 27"
          >27</a
        >
      </th>
      <td><a href="/wiki/123P27.1" title="123P27.1">123P27.1</a></td>
      <td>Noam Elkies</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2002"
          title="Category:Patterns found in 2002"
          >2002</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/56P27" title="56P27">56P27</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_56_cells"
          title="Category:Patterns with 56 cells"
          >56</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_28"
          title="Category:Oscillators with period 28"
          >28</a
        >
      </th>
      <td><a href="/wiki/Newshuttle" title="Newshuttle">Newshuttle</a></td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1973"
          title="Category:Patterns found in 1973"
          >1973</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_28" title="Pre-pulsar shuttle 28"
          >pre-pulsar shuttle 28</a
        >,
        <a href="/wiki/Mold_on_41P7.2" title="Mold on 41P7.2">mold on 41P7.2</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_53_cells"
          title="Category:Patterns with 53 cells"
          >53</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_29"
          title="Category:Oscillators with period 29"
          >29</a
        >
      </th>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_29" title="Pre-pulsar shuttle 29"
          >pre-pulsar shuttle 29</a
        >
      </td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1980"
          title="Category:Patterns found in 1980"
          >1980</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_29" title="Pre-pulsar shuttle 29"
          >pre-pulsar shuttle 29</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_54_cells"
          title="Category:Patterns with 54 cells"
          >54</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_30"
          title="Category:Oscillators with period 30"
          >30</a
        >
      </th>
      <td>
        <a href="/wiki/Queen_bee_shuttle" title="Queen bee shuttle"
          >queen bee shuttle</a
        >
      </td>
      <td>Bill Gosper</td>
      <td>1970</td>
      <td></td>
      <td>
        <a href="/wiki/Queen_bee_shuttle" title="Queen bee shuttle"
          >queen bee shuttle</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_20_cells"
          title="Category:Patterns with 20 cells"
          >20</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_31"
          title="Category:Oscillators with period 31"
          >31</a
        >
      </th>
      <td><a href="/wiki/48P31" title="48P31">48P31</a></td>
      <td>
        <a
          href="/w/index.php?title=Matthias_Merzenich&amp;action=edit&amp;redlink=1"
          class="new"
          title="Matthias Merzenich (page does not exist)"
          >Matthias Merzenich</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2010"
          title="Category:Patterns found in 2010"
          >2010</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/48P31" title="48P31">48P31</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_48_cells"
          title="Category:Patterns with 48 cells"
          >48</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_32"
          title="Category:Oscillators with period 32"
          >32</a
        >
      </th>
      <td><a href="/wiki/Gourmet" title="Gourmet">gourmet</a></td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1978"
          title="Category:Patterns found in 1978"
          >1978</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/Gourmet" title="Gourmet">gourmet</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_66_cells"
          title="Category:Patterns with 66 cells"
          >66</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_33"
          title="Category:Oscillators with period 33"
          >33</a
        >
      </th>
      <td>
        <a href="/wiki/258P3_on_Achim%27s_p11" title="258P3 on Achim's p11"
          >258P3 on Achim's p11</a
        >
      </td>
      <td>
        Noam Elkies,
        <a
          href="/wiki/Category:Patterns_found_by_Achim_Flammenkamp"
          title="Category:Patterns found by Achim Flammenkamp"
          >Achim Flammenkamp</a
        >
      </td>
      <td>1997</td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_rattlesnake" title="Caterer on rattlesnake"
          >caterer on rattlesnake</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_46_cells"
          title="Category:Patterns with 46 cells"
          >46</a
        >
      </td>
    </tr>
    <tr>
      <th class="red_td">34</th>
      <td class="red_td" colspan="6"><i>No non-trivial examples found</i></td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_35"
          title="Category:Oscillators with period 35"
          >35</a
        >
      </th>
      <td>
        <a href="/wiki/P35_beehive_hassler" title="P35 beehive hassler"
          >P35 beehive hassler</a
        >
      </td>
      <td>Dean Hickerson</td>
      <td>1995</td>
      <td></td>
      <td>
        <a href="/wiki/P35_honey_farm_hassler" title="P35 honey farm hassler"
          >p35 honey farm hassler</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_44_cells"
          title="Category:Patterns with 44 cells"
          >44</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_36"
          title="Category:Oscillators with period 36"
          >36</a
        >
      </th>
      <td>
        <a href="/wiki/P36_toad_hassler" title="P36 toad hassler"
          >P36 toad hassler</a
        >
      </td>
      <td>Robert Wainwright</td>
      <td>1984</td>
      <td></td>
      <td><a href="/wiki/22P36" title="22P36">22P36</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_22_cells"
          title="Category:Patterns with 22 cells"
          >22</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_37"
          title="Category:Oscillators with period 37"
          >37</a
        >
      </th>
      <td><a href="/wiki/124P37" title="124P37">124P37</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_Nicolay_Beluchenko"
          title="Category:Patterns found by Nicolay Beluchenko"
          >Nicolay Beluchenko</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2009"
          title="Category:Patterns found in 2009"
          >2009</a
        >
      </td>
      <td></td>
      <td><a href="/wiki/124P37" title="124P37">124P37</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_124_cells"
          title="Category:Patterns with 124 cells"
          >124</a
        >
      </td>
    </tr>
    <tr>
      <th class="red_td">38</th>
      <td class="red_td" colspan="6"><i>None found</i></td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_39"
          title="Category:Oscillators with period 39"
          >39</a
        >
      </th>
      <td><a href="/wiki/134P39.1" title="134P39.1">134P39.1</a></td>
      <td>David Buckingham, Noam Elkies</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2000"
          title="Category:Patterns found in 2000"
          >2000</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_34P13" title="Caterer on 34P13"
          >caterer on 34P13</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_46_cells"
          title="Category:Patterns with 46 cells"
          >46</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_40"
          title="Category:Oscillators with period 40"
          >40</a
        >
      </th>
      <td>
        <a href="/wiki/P40_B-heptomino_shuttle" title="P40 B-heptomino shuttle"
          >P40 B-heptomino shuttle</a
        >
      </td>
      <td>David Buckingham</td>
      <td>≤1991</td>
      <td></td>
      <td><a href="/wiki/26P40" title="26P40">26P40</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_26_cells"
          title="Category:Patterns with 26 cells"
          >26</a
        >
      </td>
    </tr>
    <tr>
      <th class="red_td">41</th>
      <td class="red_td" colspan="6"><i>None found</i></td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_42"
          title="Category:Oscillators with period 42"
          >42</a
        >
      </th>
      <td>
        <a href="/wiki/P42_glider_shuttle" title="P42 glider shuttle"
          >P42 glider shuttle</a
        >
      </td>
      <td>Noam Elkies</td>
      <td>1994</td>
      <td></td>
      <td>
        <a href="/wiki/Unix_on_41P7.2" title="Unix on 41P7.2">unix on 41P7.2</a>
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_57_cells"
          title="Category:Patterns with 57 cells"
          >57</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_43"
          title="Category:Oscillators with period 43"
          >43</a
        >
      </th>
      <td>
        <a
          href="/wiki/P43_glider_loop"
          title="P43 glider loop"
          class="mw-redirect"
          >P43 glider loop</a
        >
      </td>
      <td>
        <a
          href="/w/index.php?title=Mike_Playle&amp;action=edit&amp;redlink=1"
          class="new"
          title="Mike Playle (page does not exist)"
          >Mike Playle</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2013"
          title="Category:Patterns found in 2013"
          >2013</a
        >
      </td>
      <td></td>
      <td>
        <a
          href="/wiki/P43_glider_loop"
          title="P43 glider loop"
          class="mw-redirect"
          >P43 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_44"
          title="Category:Oscillators with period 44"
          >44</a
        >
      </th>
      <td>
        <a
          href="/wiki/P44_pi-heptomino_hassler"
          title="P44 pi-heptomino hassler"
          >P44 pi-heptomino hassler</a
        >
      </td>
      <td>David Buckingham</td>
      <td>1992</td>
      <td></td>
      <td>
        <a href="/wiki/Mold_on_rattlesnake" title="Mold on rattlesnake"
          >mold on rattlesnake</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_45_cells"
          title="Category:Patterns with 45 cells"
          >45</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_45"
          title="Category:Oscillators with period 45"
          >45</a
        >
      </th>
      <td>
        <a
          href="/wiki/Pentadecathlon_on_snacker"
          title="Pentadecathlon on snacker"
          >pentadecathlon on snacker</a
        >
      </td>
      <td>&nbsp;?</td>
      <td>≤1995</td>
      <td></td>
      <td>
        <a
          href="/wiki/Pentadecathlon_on_thumb_1"
          title="Pentadecathlon on thumb 1"
          >pentadecathlon on thumb 1</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_48_cells"
          title="Category:Patterns with 48 cells"
          >48</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_46"
          title="Category:Oscillators with period 46"
          >46</a
        >
      </th>
      <td>
        <a href="/wiki/Twin_bees_shuttle" title="Twin bees shuttle"
          >twin bees shuttle</a
        >
      </td>
      <td>Bill Gosper</td>
      <td>1971</td>
      <td></td>
      <td>
        <a href="/wiki/Twin_bees_shuttle" title="Twin bees shuttle"
          >twin bees shuttle</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_28_cells"
          title="Category:Patterns with 28 cells"
          >28</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_47"
          title="Category:Oscillators with period 47"
          >47</a
        >
      </th>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_47" title="Pre-pulsar shuttle 47"
          >pre-pulsar shuttle 47</a
        >
      </td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1982"
          title="Category:Patterns found in 1982"
          >1982</a
        >
      </td>
      <td></td>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_47" title="Pre-pulsar shuttle 47"
          >pre-pulsar shuttle 47</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_84_cells"
          title="Category:Patterns with 84 cells"
          >84</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_48"
          title="Category:Oscillators with period 48"
          >48</a
        >
      </th>
      <td>
        <a href="/wiki/P48_toad_hassler" title="P48 toad hassler"
          >P48 toad hassler</a
        >
      </td>
      <td>Bill Gosper</td>
      <td>1994</td>
      <td></td>
      <td><a href="/wiki/65P48" title="65P48">65P48</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_65_cells"
          title="Category:Patterns with 65 cells"
          >65</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_49"
          title="Category:Oscillators with period 49"
          >49</a
        >
      </th>
      <td>
        <a href="/wiki/P49_glider_shuttle" title="P49 glider shuttle"
          >p49 glider shuttle</a
        >
      </td>
      <td>Noam Elkies</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1999"
          title="Category:Patterns found in 1999"
          >1999</a
        >
      </td>
      <td></td>
      <td>
        <a
          href="/wiki/P49_glider_loop"
          title="P49 glider loop"
          class="mw-redirect"
          >p49 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_50"
          title="Category:Oscillators with period 50"
          >50</a
        >
      </th>
      <td>
        <a href="/wiki/P50_glider_shuttle" title="P50 glider shuttle"
          >P50 glider shuttle</a
        >
      </td>
      <td>Dean Hickerson</td>
      <td>1992</td>
      <td></td>
      <td>
        <a href="/wiki/P50_traffic_jam" title="P50 traffic jam"
          >P50 traffic jam</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_92_cells"
          title="Category:Patterns with 92 cells"
          >92</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_51"
          title="Category:Oscillators with period 51"
          >51</a
        >
      </th>
      <td><a href="/wiki/112P51" title="112P51">112P51</a></td>
      <td>Nicolay Beluchenko</td>
      <td>2009</td>
      <td></td>
      <td><a href="/wiki/92P51" title="92P51">92P51</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_92_cells"
          title="Category:Patterns with 92 cells"
          >92</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_52"
          title="Category:Oscillators with period 52"
          >52</a
        >
      </th>
      <td><a href="/wiki/35P52" title="35P52">35P52</a></td>
      <td>David Buckingham</td>
      <td>1977</td>
      <td></td>
      <td><a href="/wiki/35P52" title="35P52">35P52</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_35_cells"
          title="Category:Patterns with 35 cells"
          >35</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_53&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 53 (page does not exist)"
          >53</a
        >
      </th>
      <td>
        <a
          href="/wiki/P53_glider_loop"
          title="P53 glider loop"
          class="mw-redirect"
          >P53 glider loop</a
        >
      </td>
      <td>
        <a
          href="/w/index.php?title=Mike_Playle&amp;action=edit&amp;redlink=1"
          class="new"
          title="Mike Playle (page does not exist)"
          >Mike Playle</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_2013"
          title="Category:Patterns found in 2013"
          >2013</a
        >
      </td>
      <td></td>
      <td>
        <a
          href="/wiki/P53_glider_loop"
          title="P53 glider loop"
          class="mw-redirect"
          >P53 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_54"
          title="Category:Oscillators with period 54"
          >54</a
        >
      </th>
      <td><a href="/wiki/P54_shuttle" title="P54 shuttle">P54 shuttle</a></td>
      <td>David Buckingham</td>
      <td>1974</td>
      <td></td>
      <td><a href="/wiki/P54_shuttle" title="P54 shuttle">P54 shuttle</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_48_cells"
          title="Category:Patterns with 48 cells"
          >48</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_55"
          title="Category:Oscillators with period 55"
          >55</a
        >
      </th>
      <td>
        <a href="/wiki/Pre-pulsar_hassler_55" title="Pre-pulsar hassler 55"
          >pre-pulsar hassler 55</a
        >
      </td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1986"
          title="Category:Patterns found in 1986"
          >1986</a
        >
      </td>
      <td></td>
      <td>
        <a
          href="/wiki/Pseudo-barberpole_on_rattlesnake"
          title="Pseudo-barberpole on rattlesnake"
          >pseudo-barberpole on rattlesnake</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_49_cells"
          title="Category:Patterns with 49 cells"
          >49</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_56"
          title="Category:Oscillators with period 56"
          >56</a
        >
      </th>
      <td>
        <a href="/wiki/P56_B-heptomino_shuttle" title="P56 B-heptomino shuttle"
          >P56 B-heptomino shuttle</a
        >
      </td>
      <td>David Buckingham</td>
      <td>≤1991</td>
      <td></td>
      <td>
        <a href="/wiki/P56_B-heptomino_shuttle" title="P56 B-heptomino shuttle"
          >P56 B-heptomino shuttle</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_45_cells"
          title="Category:Patterns with 45 cells"
          >45</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_57"
          title="Category:Oscillators with period 57"
          >57</a
        >
      </th>
      <td>
        <a href="/wiki/P57_Herschel_loop_1" title="P57 Herschel loop 1"
          >P57 Herschel loop 1</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_by_Dietrich_Leithner"
          title="Category:Patterns found by Dietrich Leithner"
          >Dietrich Leithner</a
        >
      </td>
      <td>1997</td>
      <td></td>
      <td>
        <a
          href="/wiki/P57_glider_loop"
          title="P57 glider loop"
          class="mw-redirect"
          >P57 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_58"
          title="Category:Oscillators with period 58"
          >58</a
        >
      </th>
      <td>
        <a href="/wiki/P58_toadsucker" title="P58 toadsucker">P58 toadsucker</a>
      </td>
      <td>Bill Gosper</td>
      <td>1994</td>
      <td></td>
      <td>
        <a href="/wiki/Pre-pulsar_shuttle_58" title="Pre-pulsar shuttle 58"
          >pre-pulsar shuttle 58</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_104_cells"
          title="Category:Patterns with 104 cells"
          >104</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_59"
          title="Category:Oscillators with period 59"
          >59</a
        >
      </th>
      <td>
        <a href="/wiki/P59_Herschel_loop_1" title="P59 Herschel loop 1"
          >P59 Herschel loop 1</a
        >
      </td>
      <td>David Buckingham</td>
      <td>1997</td>
      <td></td>
      <td>
        <a
          href="/wiki/P59_glider_loop"
          title="P59 glider loop"
          class="mw-redirect"
          >P59 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_60"
          title="Category:Oscillators with period 60"
          >60</a
        >
      </th>
      <td>
        <a
          href="/w/index.php?title=P60_glider_shuttle&amp;action=edit&amp;redlink=1"
          class="new"
          title="P60 glider shuttle (page does not exist)"
          >P60 glider shuttle</a
        >
      </td>
      <td>David Buckingham</td>
      <td>≤ 1971</td>
      <td></td>
      <td>
        <a href="/wiki/Mold_on_pentadecathlon" title="Mold on pentadecathlon"
          >mold on pentadecathlon</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_24_cells"
          title="Category:Patterns with 24 cells"
          >24</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_61"
          title="Category:Oscillators with period 61"
          >61</a
        >
      </th>
      <td>
        <a href="/wiki/P61_Herschel_loop_1" title="P61 Herschel loop 1"
          >P61 Herschel loop 1</a
        >
      </td>
      <td>David Buckingham</td>
      <td>
        <a
          href="/wiki/Category:Patterns_found_in_1996"
          title="Category:Patterns found in 1996"
          >1996</a
        >
      </td>
      <td></td>
      <td>
        <a
          href="/wiki/P61_glider_loop"
          title="P61 glider loop"
          class="mw-redirect"
          >P61 glider loop</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_228_cells"
          title="Category:Patterns with 228 cells"
          >228</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_62"
          title="Category:Oscillators with period 62"
          >62</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/110P62" title="110P62">110P62</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_110_cells"
          title="Category:Patterns with 110 cells"
          >110</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_63"
          title="Category:Oscillators with period 63"
          >63</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Snacker_on_38P7.2" title="Snacker on 38P7.2"
          >snacker on 38P7.2</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_78_cells"
          title="Category:Patterns with 78 cells"
          >78</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_64"
          title="Category:Oscillators with period 64"
          >64</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Merzenich%27s_p64" title="Merzenich's p64"
          >Merzenich's p64</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_34_cells"
          title="Category:Patterns with 34 cells"
          >34</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_65"
          title="Category:Oscillators with period 65"
          >65</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Fumarole_on_34P13" title="Fumarole on 34P13"
          >fumarole on 34P13</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_52_cells"
          title="Category:Patterns with 52 cells"
          >52</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_66"
          title="Category:Oscillators with period 66"
          >66</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_36P22" title="Caterer on 36P22"
          >caterer on 36P22</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_48_cells"
          title="Category:Patterns with 48 cells"
          >48</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_67&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 67 (page does not exist)"
          >67</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_68&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 68 (page does not exist)"
          >68</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_69&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 69 (page does not exist)"
          >69</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_70"
          title="Category:Oscillators with period 70"
          >70</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/78P70" title="78P70">78P70</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_78_cells"
          title="Category:Patterns with 78 cells"
          >78</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_71&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 71 (page does not exist)"
          >71</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_72"
          title="Category:Oscillators with period 72"
          >72</a
        >
      </th>
      <td><a href="/wiki/47P72" title="47P72">47P72</a></td>
      <td>Robert Wainwright</td>
      <td>1990</td>
      <td></td>
      <td>
        <a href="/wiki/Figure_eight_on_22P36" title="Figure eight on 22P36"
          >figure eight on 22P36</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_36_cells"
          title="Category:Patterns with 36 cells"
          >36</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_73&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 73 (page does not exist)"
          >73</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_74&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 74 (page does not exist)"
          >74</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_75"
          title="Category:Oscillators with period 75"
          >75</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/6_bits" title="6 bits">6 bits</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_49_cells"
          title="Category:Patterns with 49 cells"
          >49</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_76&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 76 (page does not exist)"
          >76</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_77"
          title="Category:Oscillators with period 77"
          >77</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/77P77" title="77P77">77P77</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_77_cells"
          title="Category:Patterns with 77 cells"
          >77</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_78"
          title="Category:Oscillators with period 78"
          >78</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/126P78.1" title="126P78.1">126P78.1</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_126_cells"
          title="Category:Patterns with 126 cells"
          >126</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_79&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 79 (page does not exist)"
          >79</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_80"
          title="Category:Oscillators with period 80"
          >80</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/122P80.1" title="122P80.1">122P80.1</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_122_cells"
          title="Category:Patterns with 122 cells"
          >122</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_81&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 81 (page does not exist)"
          >81</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_82&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 82 (page does not exist)"
          >82</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_83&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 83 (page does not exist)"
          >83</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_84"
          title="Category:Oscillators with period 84"
          >84</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/114P84" title="114P84">114P84</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_84_cells"
          title="Category:Patterns with 84 cells"
          >84</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_85&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 85 (page does not exist)"
          >85</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_86&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 86 (page does not exist)"
          >86</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_87"
          title="Category:Oscillators with period 87"
          >87</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td><a href="/wiki/84P87" title="84P87">84P87</a></td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_84_cells"
          title="Category:Patterns with 84 cells"
          >84</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_88"
          title="Category:Oscillators with period 88"
          >88</a
        >
      </th>
      <td>
        <a
          href="/wiki/P44_pi-heptomino_hassler#Image_gallery"
          title="P44 pi-heptomino hassler"
          >P88 pi-heptomino hassler</a
        >
      </td>
      <td>Dean Hickerson</td>
      <td>1994</td>
      <td></td>
      <td>
        <a
          href="/wiki/Figure_eight_on_rattlesnake"
          title="Figure eight on rattlesnake"
          >figure eight on rattlesnake</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_45_cells"
          title="Category:Patterns with 45 cells"
          >45</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_89&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 89 (page does not exist)"
          >89</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_90"
          title="Category:Oscillators with period 90"
          >90</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Fumarole_on_43P18" title="Fumarole on 43P18"
          >fumarole on 43P18</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_61_cells"
          title="Category:Patterns with 61 cells"
          >61</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/w/index.php?title=Category:Oscillators_with_period_91&amp;action=edit&amp;redlink=1"
          class="new"
          title="Category:Oscillators with period 91 (page does not exist)"
          >91</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_92"
          title="Category:Oscillators with period 92"
          >92</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a
          href="/wiki/Twin_bees_shuttles_hassling_blinker"
          title="Twin bees shuttles hassling blinker"
          >twin bees shuttles hassling blinker</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_61_cells"
          title="Category:Patterns with 61 cells"
          >61</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <a
          href="/wiki/Category:Oscillators_with_period_93"
          title="Category:Oscillators with period 93"
          >93</a
        >
      </th>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td>&nbsp;?</td>
      <td></td>
      <td>
        <a href="/wiki/Caterer_on_48P31" title="Caterer on 48P31"
          >caterer on 48P31</a
        >
      </td>
      <td>
        <a
          href="/wiki/Category:Patterns_with_60_cells"
          title="Category:Patterns with 60 cells"
          >60</a
        >
      </td>
    </tr>
  </tbody>
</table>
