<slides-presentation>
  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>

    <slides-feedback-widget></slides-feedback-widget>
  </div>

  <slides-slide *slidesIf="'index'">
    <h1 i18n>Angular Codelab</h1>
    <h2 i18n>Welcome! Choose a topic below to start learning:</h2>

    <div class="intro" row>
      <ol>
        <li *ngFor="let route of getMainPageRoutes()">
          <h2><a [routerLink]="route.path + '/0'">{{route.name}}</a></h2>
          <div>{{route.description}}</div>
        </li>
      </ol>
      <div column-2>
        <img src="/assets/images/angular.svg" alt="angular" class="angular">
      </div>
    </div>
  </slides-slide>
</slides-presentation>
