<slides-deck>
  <slides-arrow-navigation></slides-arrow-navigation>

  <div *slide id="react-description" no-padding>
    <h1 i18n="@@introduction">Introduction</h1>
    <div fxLayout style="height: 100%">
      <slides-simple-editor style="width: 50%;" [fontSize]="30" [(ngModel)]="code.hook1" language="javascript"
                            [lineNumbers]="false"></slides-simple-editor>
      <slides-react-preview-runner style="width: 50%;" [code]="code.hook1"></slides-react-preview-runner>
    </div>
  </div>
</slides-deck>
