<<<<<<< HEAD
<<<<<<< HEAD
@import "variables";

=======
>>>>>>> 970bc9feaf1792343871197b517f495f0567e967
=======
@import "variables";

>>>>>>> quiz-holder
mat-card-header {
  display: block;

  .header-image {
    margin: 5px 0 0 15px;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> quiz-holder
}

.quiz-topic-image {
  display: flex;
  justify-content: center;
  margin: 20px -10px 0 -15px;
  height: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
=======
  margin-top: 15px;
>>>>>>> quiz-holder

  span {
    text-align: justify;
    margin-top: -25px;
  }
<<<<<<< HEAD
=======

  .quiz-topic-img {
    display: flex;
    justify-content: center;
    background: url('images/DIDiagram.png') no-repeat;
    background-size: 100%;
    margin: 20px -10px 0 5px;
    height: 300px;
    width: 100%;
  }
}

mat-card-content p {
  text-align: justify;
  margin-top: -25px;
>>>>>>> 970bc9feaf1792343871197b517f495f0567e967
=======
>>>>>>> quiz-holder
}

mat-card-actions {
  text-align: center;
<<<<<<< HEAD

  button {
    margin-bottom: 10px;
  }
  button:hover {
<<<<<<< HEAD
    border: 1px solid $vivid-blue;
=======
    border: 1px solid #007aff;
>>>>>>> 970bc9feaf1792343871197b517f495f0567e967
  }
}
=======
  padding-bottom: 15px !important;

  mat-checkbox {
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
    background: $vivid-blue;
    color: $black;
  }
  button:hover {
    border: 2px solid $vivid-blue;
  }
}


// overwrite the checkbox background
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: $green !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: $black !important;
}
>>>>>>> quiz-holder
