<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title i18n>{{ quizData?.milestone }} Quiz</mat-card-title>
    <mat-card-subtitle i18n>
      <span>How well do you know {{ quizData?.milestone }}?</span>
      <span>Take the quiz and find out!</span>
    </mat-card-subtitle>
  </mat-card-header>

  <div mat-card-image class="quiz-topic-image"
       [ngStyle]="{ 'background': 'url(' + quizData?.imageUrl + ') no-repeat center center',
                    'background-size': '95%' }">
  </div>

  <mat-card-content>
    <span i18n><strong>{{ quizData?.summary }}</strong>  This quiz is composed of
      <strong>{{ quizData?.questions.length }}</strong> timed, multiple-choice questions. Taking this quiz should
      solidify your understanding of {{ quizData?.milestone }}. Beat the clock and match wits with your friends! Good
      luck and have fun with this quiz. Share and enjoy!</span>
  </mat-card-content>

  <mat-card-actions>
    <button
      type="button"
      mat-raised-button
      disableRipple="true"
      class="btn btn-outline-primary"
      routerLink="/quiz/question/1">
        <span i18n><strong>Start the Quiz!</strong></span>
    </button>
  </mat-card-actions>
</mat-card>
