@import "variables";

mat-card-header {
  display: block;

  .header-image {
    margin: 5px 0 0 15px;
  }
}

.quiz-topic-image {
  display: flex;
  justify-content: center;
  margin: 20px -10px 0 -15px;
  height: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  span {
    text-align: justify;
    margin-top: -25px;
  }
}

mat-card-actions {
  text-align: center;

  mat-checkbox {
    text-align: center;
  }

  button {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  button:hover {
    border: 1px solid $vivid-blue;
  }
}
