@import "variables";

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  clear: both;

  .scoreboard-score {
    margin-left: 2rem;
  }

  .scoreboard-time {
    margin-right: 1.7rem;
  }

  .badge {
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: $dark-green;
    margin: 30px 0 0 10px;
    padding: -10px 0; // fix
  }
}
