@import "variables";

.scoreboard {
<<<<<<< HEAD
  margin-top: 10px;

  .row {
    display: inline;
  }

  .badge {
    float: left;
    margin: 30px -25px 0 85px;
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: $dark-green;
    border-radius: 8px;
=======
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  clear: both;

  .scoreboard-score {
    margin-left: 2rem;
  }

  .scoreboard-time {
    margin-right: 1.7rem;
  }

  .badge {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-style: italic;
    font-size: 26px;
    color: $dark-green;
    margin: 30px 0 0 10px;
>>>>>>> quiz-holder
    padding: -10px 0;
  }
}
