<section class="scoreboard">
  <div class="container">
    <div class="row">
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <codelab-scoreboard-score class="scoreboard-score"></codelab-scoreboard-score>
      </div>

      <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span class="badge" i18n>Question {{ badgeQuestionNumber }} of {{ totalQuestions }}</span>
      </div>

      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <codelab-scoreboard-time class="scoreboard-time"></codelab-scoreboard-time>
      </div>
    </div>
  </div>
</section>
