$font-stack: Space Mono, monospace;
$font-weight-max: 900;

.scoreboard {
  margin-top: 10px;

  .row {
    display: inline;
  }

  .badge {
    float: left;
    margin: 20px 10px 0 100px;
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: #006400;
    border-radius: 8px;
    padding: -10px 0;
  }
}
