:host {
  display: block;
  border-radius: 8px;
  padding: 24px;
  zoom: 0.25;
  width: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.title {
  font-size: 24px;
  font-weight: 300;
}

.slide {
  display: block;
  padding: 20px;
}

.id {
  color: #999;
}

:host ::ng-deep {
  aside {
    background: #ebf7ff;
    padding: 8px;
    margin: 16px -8px -8px -8px;
    border-radius: 8px;

    &:before {
      content: '❤️';
      display: inline-block;
      margin-right: 10px;
      color: #b02121;
    }
  }

  pre {
    background: #f7ffeb;
    padding: 24px;
    margin: 16px 0 24px;
    border-radius: 8px;
  }

  b {
    color: #d01515;
    font-weight: 400;
  }

  ul,
  p {
    margin-bottom: 24px;
    font-size: 20px;
  }

  code {
    font-size: 20px;

    &:before {
      //content: attr(data-name, "lol");
      display: block;
    }
  }
}

code-example {
  file {
  }
}
