:host {
  display: block;
  border-radius: 8px;
  padding: 24px;
  zoom: 0.25;
  width: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.title {
  font-size: 24px;
  font-weight: 300;
}

.slide {
  display: block;
  padding: 20px;
}

.id {
  color: #999;
}
