<app-presentation
  app-slides-routing
  app-mode-routing
  app-tracking>
  <div class="btn-bar">
    <app-mode-overview></app-mode-overview>
    <app-feedback-widget></app-feedback-widget>
    <app-menu-shortcut></app-menu-shortcut>
  </div>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>

  <app-slide id="intro" class="no-padding" milestone="DependencyInjection">
    <app-title-slide
      title="Dependency injection"
      description="Angular has a powerful dependency injection system"
      prereqs=""
    ></app-title-slide>
  </app-slide>

  <!--  MILESTONE #3  Dependency Injection  -->
  <!-- RECAP -->
  <app-slide id="recap" milestone="DependencyInjection">
    <h1 style="text-align: center;">Recap</h1>
    <h2>
      <b>Dependency Injection</b> is a way to provide dependencies to your code instead of hard-coding them.
    </h2>
  </app-slide>

  <!--  COMPARISON -->
  <app-slide id="comparison" milestone="DependencyInjection">
    <h1>Comparison</h1>
    <div class="content-container">
      <div class="col-6">
        <app-code-editor [fontSize]="15" [code]="code.withOutDI.code"
                         [focus-highlight-match]="[code.withOutDI.matches.noDI, 'profession']"></app-code-editor>
        <h2>Without Dependency injection Profession has to be instantiated in the Person class</h2>
      </div>
      <div class="col-6" style="margin-left: 10px;">
        <app-code-editor [fontSize]="15" [code]="code.withDI.code"
                         [focus-highlight-match]="[code.withDI.matches.constructor]"></app-code-editor>
        <h2>With Dependency Injection Person class just "requires" an instance of Profession in the constructor, and
          Angular takes care of instantiating it.</h2>
      </div>
    </div>
  </app-slide>

  <app-slide id="comparison-2" milestone="DependencyInjection">
    <h1>Comparison - Parametrs</h1>
    <div class="content-container">
      <div class="col-6">
        <app-code-editor [fontSize]="15" [code]="code.withOutDI.code2"
                         [focus-highlight-match]="[code.withOutDI.matches.noDI, 'profession']"></app-code-editor>
        <h2>Without Dependency injection you have to figure out all the parameters yourself</h2>
      </div>
      <div class="col-6" style="margin-left: 10px;">
        <app-code-editor [fontSize]="15" [code]="code.withDI.code"
                         [focus-highlight-match]="[code.withDI.matches.constructor]"></app-code-editor>
        <h2>With Dependency Injection Angular takes care of it.</h2>
      </div>
    </div>
  </app-slide>

  <app-slide id="comparison-3" milestone="DependencyInjection">
    <h1>Comparison - Parametrs</h1>
    <h2>Also testing is harder without DI, but I'll have to create a slide about it (TODO).</h2>
  </app-slide>

  <!--  Steps to create an Angular app -->
  <app-slide id="angular-app" milestone="DependencyInjection">
    <h1>Providing dependencies with Angular takes 3 simple steps:</h1>
    <ol>
      <li>Mark dependency as @Injectable()</li>
      <li>Provide in the module</li>
      <li>Require in the component</li>
    </ol>
  </app-slide>

  <!--  IMPLEMENTATION STEP #1  -->
  <app-slide id="make-injectable" milestone="DependencyInjection">
    <h1>Implementation Step #1</h1>
    <h2>Mark a class as Injectable</h2>
    <app-code-editor [fontSize]="15" [code]="code.classAsInjectable.code"
                     [focus-highlight-match]="[code.classAsInjectable.matches.injectable]"></app-code-editor>
  </app-slide>

  <!--  IMPLEMENTATION STEP #2  -->
  <app-slide id="provide-injectable" milestone="DependencyInjection">
    <h1>Implementation Step #2</h1>
    <h2>Provide the injectable to the <b>providers</b> section of <b>NgModule</b></h2>
    <app-code-editor [fontSize]="20" [code]="code.provideInjectable.code"
                     [focus-highlight-match]="[code.provideInjectable.matches.providers, 'UnitConverterService']"></app-code-editor>
    <div class="info">Now this service becomes available for every <b>Component</b> and other service in the Module.
    </div>
  </app-slide>

  <!--  IMPLEMENTATION STEP #3  -->
  <app-slide id="consume-injectable" milestone="DependencyInjection">
    <h1>Implementation Step #3</h1>
    <h2>Consume the Injectable in the component</h2>
    <app-code-editor [fontSize]="20" [code]="code.consumeInjectable.code"
                     [focus-highlight-match]="[code.consumeInjectable.matches.constructor]"></app-code-editor>
    <div class="info">Because of the <b>private</b> access modifier the service becomes accessible across the class as
      <b>this.converter</b></div>
  </app-slide>


  <app-slide id="exercise-pre" milestone="DependencyInjection">
    <h1>Exercise</h1>
    <h2>In the next slide you'll use videoService which has even more cats!!! The result will look like this: </h2>

    <app-browser-window>
      <div>
        <h1>CatTube</h1>
        <input placeholder="video" type="text">
        <button>Search!</button>

        <!--bindings={
        "ng-reflect-ng-if": "false"
      }-->

        <!--bindings={
        "ng-reflect-ng-for-of": "[object Object],[object Object"
      }-->
        <div>
          <h2>Cute kitten</h2>
          <img src="/assets/images/cat-0.png">
        </div>
        <div>
          <h2>Kitten on the tree</h2>
          <img src="/assets/images/cat-1.jpg">
        </div>
        <div>
          <h2>More kitten</h2>
          <img src="/assets/images/cat-2.jpg">
        </div>
        <div>
          <h2>Another kitten</h2>
          <img src="/assets/images/cat-3.jpg">
        </div>
        <div>
          <h2>Serouis cat</h2>
          <img src="/assets/images/cat-4.jpg">
        </div>
        <div>
          <h2>Serouis cat</h2>
          <img src="/assets/images/cat-5.jpg">
        </div>
        <div>
          <h2>Serouis cat</h2>
          <img src="/assets/images/cat-5.jpg">
        </div>
        <div>
          <h2>Opps, looks like a bug!</h2>
          <img src="/assets/images/dog.jpg">
        </div>
        <div>
          <h2>Serouis cat</h2>
          <img src="/assets/images/cat-6.jpg">
        </div>
      </div>
    </app-browser-window>
  </app-slide>

  <!--  CREATE FIRST ANGULAR COMPONENT EXERCISE-->
  <app-slide id="exercise">
    <app-exercise [config]="exercise" milestone="DependencyInjection">
      <div class="description">
        <p>Create first Angular component!</p>
      </div>
    </app-exercise>
  </app-slide>

  <app-slide id="end">
    <app-closing-slide>
      <div class="header" header><h1 i18n>End of Dependency Injection Section</h1></div>
      <div class="body" body>
        <h2>Please leave your thoughts using the feedback button below!</h2>
      </div>
      <div class="footer" footer>
        <h2>
            <a routerLink="/">Go to Index</a>
            <a routerLink="/component-tree/0">Go to the next Milestone</a>
        </h2>
      </div>
    </app-closing-slide>
  </app-slide>
</app-presentation>
