<app-presentation app-slides-routing>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>
  <app-overview></app-overview>
  
  <!--  MILESTONE #3  Dependency Injection  -->
  <!-- RECAP -->
  <app-slide>
    <h1 style="text-align: center;">Recap</h1>
    <h2>
      <b>Dependency Injection</b> is a way to provide dependencies to your code instead of hard-coding them.
    </h2>
  </app-slide>

  <!--  COMPARISON -->
  <app-slide>
    <h1>Comparison</h1>
    <div class="content-container">
      <div class="col-6">
        <h3 style="text-align: justify;">Without Dependency Injection</h3>
        <app-code-editor [fontSize]="15" [code]="code.withOutDI.code"
                         [focus-highlight-match]="[code.withOutDI.matches.noDI, 'profession']"></app-code-editor>
        <ul style="margin-top: 10px; text-align: justify;">
          <li>The Person class creates everything it needs inside its constructor.</li>
          <li>The Person class is brittle, inflexible, and hard to test.</li>
          <li>This Person needs a profession. Instead of asking for it, the Person constructor
            instantiates its own copy from the very specific class Profession.</li>
          <li>If the Profession class evolve and requires a parameter, we will break the Person class.</li>
          <li>You have no control over the person's hidden dependencies.</li>
        </ul>
      </div>
      <div class="col-6" style="margin-left: 10px;">
        <h3 style="text-align: center;">With Dependency Injection</h3>
        <app-code-editor [fontSize]="15" [code]="code.withDI.code"
                         [focus-highlight-match]="[code.withDI.matches.constructor]"></app-code-editor>
        <ul style="margin-top: 10px; text-align: justify;">
          <li>The Person class no longer creates a profession. It just consume it.</li>
          <li>If someone extends the Profession class, it is not a Person's problem.</li>
          <li>You have complete control of Person's dependencies.</li>
        </ul>
      </div>
    </div>
  </app-slide>

  <!--  IMPLEMENTATION STEP #1  -->
  <app-slide>
    <h1>Implementation Step #1</h1>
    <h2>Mark a class as Injectable</h2>
    <app-code-editor [fontSize]="15" [code]="code.classAsInjectable.code"
                     [focus-highlight-match]="[code.classAsInjectable.matches.injectable]"></app-code-editor>
  </app-slide>

  <!--  IMPLEMENTATION STEP #2  -->
  <app-slide>
    <h1>Implementation Step #2</h1>
    <h2>Provide the injectable</h2>
    <app-code-editor [fontSize]="15" [code]="code.provideInjectable.code"
                     [focus-highlight-match]="[code.provideInjectable.matches.providers, 'UnitConverterService']"></app-code-editor>
  </app-slide>

  <!--  IMPLEMENTATION STEP #3  -->
  <app-slide>
    <h1>Implementation Step #3</h1>
    <h2>Consume the Injectable</h2>
    <app-code-editor [fontSize]="15" [code]="code.consumeInjectable.code"
                     [focus-highlight-match]="[code.consumeInjectable.matches.constructor]"></app-code-editor>
  </app-slide>

  <!--  HANDLING SERVICES PROMISES  -->
  <app-slide>
    <h1>Handling services</h1>
    <h2>Promises and callbacks</h2>
  </app-slide>

  <!--  HANDLING SERVICES OBSERVABLES  -->
  <app-slide>
    <h1>Handling services</h1>
    <h2>Observables and callbacks</h2>
  </app-slide>

</app-presentation>
