.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.center-preview {
  margin: 0 auto;
}

.mewtube-preview {
  height: 40vh;
  padding: 2vw;
  overflow: auto;
}
.mewtube-preview::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 0.3);
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
}

.mewtube-preview::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.mewtube-preview::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.86, rgb(248,148,6)),
									   color-stop(0.44, rgb(156,50,50)));
}
