<div class="snippets-info" [ngClass]="{'on-motion': isInfoOnMotion}">
  Here are some tips on snippet creation:
  <ol>
    <li>Tags: <span>3 - 5 items</span></li>
    <li>Content: <span>15 - 50 lines</span>
      <ul>
        <li>Description: <span>3 - 5 lines</span></li>
        <li>Code: <span>8 - 40 lines</span></li>
        <li>Conclusion: <span>3 - 5 lines</span></li>
      </ul>
    </li>
    <li>Bonus (optional): <span>1 - 4 lines</span></li>
    <li>Links (optional): <span>1 - 4 lines</span></li>
    <li>Demo (optional): <span>Short, please ^^</span></li>
  </ol>
  <ng-container *ngIf="isInfoOnMotion">
    <div class="nav-relative-wrapper">
      <div class="nav-fixed-wrapper">
        <div class="animated fadeIn">
          <a (click)="scrollUp()"
             class="nav-btn nav-btn-go-up">
            <p> Up </p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>


