<mat-card
  *ngIf="data$ | async as config"
  style="width: 240px;position: absolute;right: 10px;top: 10px;bottom: 10px"
>
  <h1>{{ config.header }}</h1>
  <p>{{ config.subHeader }}</p>
  <div [innerHTML]="config.description"></div>
  <div style="display:flex;text-align: center; margin-top: 8px;">
    <div *ngFor="let guest of config.guests" style="width: 120px;">
      <img
        [src]="guest.avatar"
        style="width: 90px;border-radius: 50%;height: 90px;"
        [alt]="guest.name"
      />
      <div
        style="font-size: 20px;font-weight: 400;height: 32px;line-height: 32px;"
      >
        {{ guest.name }}
      </div>
      <div>@{{ guest.twitter }}</div>
    </div>
  </div>
  <h2>Chat</h2>
</mat-card>
