:host {
  border: 1px #ddd solid;
  width: 1650px;
  height: 1050px;
  display: block;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}

.circle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

:host ::ng-deep {
  h2 {
    margin-bottom: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }

  p {
    margin-top: 8px;
  }
}
