.terminal-frame {
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
}

.frame {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 0px;
  color: #444;
  width: 100%;
  background-color: #fff;
  white-space: pre-wrap;
  font-family: monospace;
}


.img-full {
  width: 100%;
  height: 2vw;
  background-image: url(/assets/images/consoletop-middle.png);
  background-repeat: repeat;
  display: flex;
  justify-content: space-between;
}

.img-full img {
  height: 2vw;
}

::ng-deep .success {
  color: green;
}


::ng-deep .skipped {
  color: #ddd;
}
