/*d:router:forms/trimLeading*/
<h1>Uploading coming soon!</h1>
/*/d*//*d:formsSolved/trimBoth*/
<div>
  <mat-form-field class="example-full-width">
    <input matInput #titleInput="ngModel" placeholder="Title" required [(ngModel)]="title">
    <mat-error>
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
  </mat-form-field>
</div>
<button mat-button>Submit</button>
/*/d*/
