::ng-deep [name='section-type'] {
  display: block;
  flex-basis: 100%;
  background: #444 !important;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px 16px;
  color: white !important;
}
