<div #translations style="display: none">
  <div i18n="@@shorthandFunction" id="shorthandFunction">Or use shorthand function notation.</div>
  <div i18n="@@errorNotAPuppy" id="errorNotAPuppy">Error: this is clearly not a puppy</div>
  <div i18n="@@thisIsNumber" id="thisIsNumber">This is a number</div>
  <div i18n="@@useShorthandNotation" id="useShorthandNotation">Or use shorthand function notation.</div>
  <div i18n="@@calledArrowFunction" id="calledArrowFunction">(Also called arrow function)</div>
  <div i18n="@@typescriptCanInferNumber" id="typescriptCanInferNumber">Actually TypeScript can infer number here;</div>
  <div i18n="@@typescriptCanInferString" id="typescriptCanInferString">TypeScript can infer it's a string.</div>
  <div i18n="@@cantAddNumAndBool" id="cantAddNumAndBool">Can't add number and boolean</div>
  <div i18n="@@cantSliceNum" id="cantSliceNum">Can't slice a number</div>
  <div i18n="@@canSliceString" id="canSliceString">But can slice a string!</div>
  <div i18n="@@works" id="works">Works!</div>
  <div i18n="@@defineArrayAsArray" id="defineArrayAsArray">define array as Array</div>
  <div i18n="@@typeDoesSameThing" id="typeDoesSameThing">Type[] does the same thing.</div>
  <div i18n="@@thisIsMethod" id="thisIsMethod">This is a method.</div>
  <div i18n="@@thatsHowRussianDogsTalk" id="thatsHowRussianDogsTalk">That's how russian dogs talk.</div>
  <div i18n="@@nowWeCanInstantiate" id="nowWeCanInstantiate">Now we can instantiate (create) it</div>
  <div i18n="@@andUseItsMethods" id="andUseItsMethods">And use its methods</div>
  <div i18n="@@laterWeWillHaveCode" id="laterWeWillHaveCode">Later we'll have code here</div>
  <div i18n="@@letsCreateMorePuppies" id="letsCreateMorePuppies">Let's create more puppies</div>
  <div i18n="@@varAllowedNotRecommended" id="varAllowedNotRecommended">Var is still allowed but not recommended.</div>
  <div i18n="@@letInsteadOfVar" id="letInsteadOfVar">Let should be used instead of var.</div>
  <div i18n="@@letUnavailableOutsideIfUnlikeIf" id="letUnavailableOutsideIfUnlikeIf">Unlike var let is unavailable
    outside of this if.
  </div>
  <div i18n="@@constLikeLet" id="constLikeLet">Const is like let, but if you try to change it, TS will give you an
    error.
  </div>
  <div i18n="@@definitelyBoolean" id="definitelyBoolean">okay, definitely a boolean</div>
  <div i18n="@@createClassCodelab" id="createClassCodelab">Create a class called 'Codelab'</div>

</div>
<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>
  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>


  <slides-slide *slidesIf="'intro'; milestone: 'TypeScript'" no-padding>
    <slides-title-slide
      title="TypeScript"
      description="Angular is written in TypeScript. Learn more about the language basics."
      prereqs="Basic understanding of JavaScript is required."
    ></slides-title-slide>
  </slides-slide>

  <slides-slide *slidesIf="'why-typescript'; milestone: 'TypeScript'">
    <h1 i18n>Why TypeScript</h1>
    <h2><b>JavaScript</b> is a great language, but there's space for improvement:</h2>
    <ul>
      <li>JS is not types safe which makes it harder to develop large scale applications</li>
      <li>New features of the latest versions of JS standards (ES6, ES7) are not supported well across all the
        browsers
      </li>
    </ul>
    <div class="info"><b>ES</b> stands for <b>EcmaScript</b>, which the name of the JavaScript language specification
      (standard)
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'about-typescript-2'; milestone: 'TypeScript'">
    <h1 i18n>TypeScript</h1>
    <h2>This is why <b>TypeScript</b> was created. It transpiles to JavaScript, so it can be used in any browser.</h2>
    <div row>
      <div>
        <ul>
          <li i18n>TypeScript extends the latest
            version of JavaScript (ES6)
          </li>
          <li i18n>TypeScript adds somefeatures from the next version (ES7)
          </li>
          <li i18n>On top of it, TypeScript adds an optional type system and decorators
          </li>
        </ul>
      </div>
      <div class="space-left">
        <svg width="460" height="460" xmlns="http://www.w3.org/2000/svg" style="margin:0 auto;">
          <g>
            <ellipse stroke="#000" ry="227.013155" rx="229.499997" cy="227.986845" cx="228.999988"
                     st roke-width="1.5" fill="#09bcd3"></ellipse>
            <ellipse stroke="#000" ry="120.786392" rx="125.000014" cy="314.213608" cx="286.499992"
                     stroke-width="1.5" fill="#b060b0"></ellipse>
            <ellipse stroke="#000" ry="57.866101" rx="58.500002" cy="356.133899" cx="335" stroke-width="1.5"
                     fill="#7baaf7"></ellipse>
            <text stroke="#000"
                  transform="matrix(13.140515327453613,0,0,2.8643743991851807,-3943.7705259025097,-461.11222444847226) "
                  font-size="24" y="272"
                  x="342.016307" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000"></text>
            <text stroke="#000"
                  transform="matrix(18.086650848388672,0,0,3.8073328758437137,-6947.660337984561,-421.3642402462918) "
                  font-size="24" y="162"
                  x="393.328125" stroke-opacity="null" stroke-width="0" fill="#000000"></text>
            <text font-size="24" y="129" x="84.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>ES7
            </text>
            <text font-size="24" y="173" x="83.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>Decorators
            </text>
            <text font-size="24" y="214.593269" x="83.5" stroke-opacity="null"
                  stroke-width="0" stroke="#000" fill="#000000" i18n>Types
            </text>
            <text font-size="33" y="81" x="83.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>TypeScript
            </text>
            <text font-size="20" y="293" x="188.5"
                  stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000" i18n>Classes
            </text>
            <text font-size="20" y="315" x="188.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>Modules
            </text>
            <text font-size="20" y="339.593269" x="189.5"
                  stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000" i18n>More...
            </text>
            <text font-size="25"
                  y="262" x="188.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">ES6
            </text>
            <text font-size="33"
                  y="371" x="306.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">ES5
            </text>
          </g>
        </svg>
      </div>
    </div>
    <div class="info">Decorator looks like @twitter_handles, we'll learn more about them later</div>
  </slides-slide>

  <!--  NUMBER-TYPE  -->
  <slides-slide *slidesIf="'typescript-why-ts'; milestone: 'TypeScript'">
    <h1 data-step="1">
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@typeSystem">Type System</ng-container>
    </h1>
    <h2 i18n>Below we have an <b>add</b> function, and we're adding 2 and 2. What could go wrong?</h2>
    <slides-playground [config]="code.js2And2"
                       [focus-highlight-match]="[code.tsExerciseMatch]"
                       [browserUseConsole]="true"
    ></slides-playground>
    <h2 i18n>Turns out it's possible to pass a string to this function and we get <b>22</b> instead of <b>4</b>. Let's
      see how TypeScript can help address this issue on the next slide</h2>
  </slides-slide>

  <!--  NUMBER-TYPE  -->
  <slides-slide slidesIntroJs *slidesIf="'typescript-mini-exercise'; milestone: 'TypeScript'">
    <h1 data-step="1" data-intro="Welcome to the first coding exercise!" i18n>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@typeSystem">Type System</ng-container>
    </h1>
    <h2 i18n> TypeScript uses <b>:</b> to specify the type information (e.g. <b>n: number</b>g). Both <b>a</b> and
      <b>b</b> should be
      numbers. We specified the type for <b>a</b>, now it's your turn!</h2>
    <slides-playground [config]="code.tsExercise"
                       [browserUseConsole]="true"
                       #tsexercises
    ></slides-playground>
    <div data-position="top"
         class="info"
         i18n>
      The code above is editable!
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'types-primitives'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@types">Types</ng-container>
      /
      <ng-container i18n>Primitives (strings, numbers, etc...)</ng-container>
    </h1>
    <h2 i18n>Types are more types we can use></h2>
    <slides-code-editor path="types.ts" [fontSize]="25" [readonly]="false"
                        [code]="code.moreTypes.code"></slides-code-editor>
    <div class="info" i18n>
      <b>const</b> is a new way to declare variables (introduced in <b>ES6</b>). Similar to <b>var</b>,
      but is block scoped (only exist inside of curly braces block), and errors out if the value is reassigned.
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'types-more'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@types">Types</ng-container>
      /
      <ng-container i18n>Interfaces</ng-container>
    </h1>
    <h2 i18n>TypeScript allows to define more complex objects using interfaces:</h2>
    <slides-code-editor path="puppies.ts" [fontSize]="25" [readonly]="false"
                        [code]="code.moreTypes.codeInterfaces"></slides-code-editor>
    <div class="info" i18n>
      Here, <b>realPuppy</b> is an instance of the <b>Puppy</b> Interface.
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'types-arrays'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@types">Types</ng-container>
      /
      <ng-container i18n>Arrays</ng-container>
    </h1>
    <h2 i18n>Arrays are defined as <b>Array{{'<'}}Type{{'>'}}&gt;</b> or <b>Type[]</b></h2>
    <slides-playground [config]="code.moreTypes.codeArrays" [browserUseConsole]="true"></slides-playground>
    <div class="info">Here, each element in the <b>betterCats</b> array is an instance of the <b>Cat</b> Interface.
    </div>
  </slides-slide>

  <!--  CLASSES  -->
  <slides-slide *slidesIf="'classes'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@classes">Classes</ng-container>
    </h1>
    <h2 i18n>TypeScript has <b>classes</b>, and Angular uses them heavily.</h2>
    <h2 i18n>They are similar to classes in other languages, and are used to group methods and properties together</h2>
    <slides-playground [config]="code.classDescription.code" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.classPuppyMatch]"></slides-playground>
  </slides-slide>
  <slides-slide *slidesIf="'classes-constructor'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@classes">Classes</ng-container>
      /
      <ng-container i18n>Constructor</ng-container>
    </h1>
    <h2 i18n>
      There's a special method on the class called <b>constructor</b>. It's run when the class is instantiated and
      allows the class to take parameters
    </h2>
    <slides-playground [config]="code.classDescription.codeConstructor" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.constructorMatch,code.classDescription.matches.edouardMatch]"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'classes-access-modifier'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@classes">Classes</ng-container>
      /
      <ng-container i18n>Access Modifiers</ng-container>
    </h1>
    <h2 i18n>
      Constructor parameters marked as <b>public</b> (or private, or protected), become class properties accessible as
      <b>this.{{'<'}}parameter name{{'>'}}</b> within the class
    </h2>
    <slides-playground [config]="code.classDescription.codeConstructor" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.thisMatch,code.classDescription.matches.publicMatch]"></slides-playground>
    <div class="info" i18n>private or protected properties are not visible outside of the class.</div>
  </slides-slide>

  <slides-slide *slidesIf="'export'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n>Export</ng-container>
    </h1>
    <h2 i18n>By the way, did you notice the <b>export</b> keyword before class? It is used to share information
      between files. In the next slide, we'll show you how to export and use this class in a different file</h2>
    <slides-code-editor
      path="puppy.ts"
      [focus-highlight-match]="[code.classDescription.matches.exportMatch]"
      [code]="code.classDescription.codeExport.files[0].code"></slides-code-editor>
  </slides-slide>

  <slides-slide *slidesIf="'import'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n>Import</ng-container>
    </h1>
    <h2 i18n>Now we can use the <b>Puppy</b> class in the other file</h2>
    <slides-playground [config]="code.classDescription.codeImport" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.importMatch]"></slides-playground>
    <div class="info" i18n>Imports and exports are not just for classes. They work with variables, functions and other
      things!
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'filter'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n>Filter (One last thing)</ng-container>
    </h1>
    <h2 i18n>Filter is an Array method that allows you to generate a new array keeping only the truthy values that are
      provided
      from the returning callback</h2>
    <slides-playground [config]="code.filter" [browserUseConsole]="true"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'more'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n>More</ng-container>
    </h1>
    <h2 i18n>TypeScript supports lots of other cool features such as: </h2>
    <ul>
      <li i18n>Interfaces</li>
      <li i18n>Enums</li>
      <li i18n>Async / Await</li>
      <li i18n>Getters / Setters</li>
      <li i18n>Destructuring</li>
      <li i18n>Arrow functions</li>
      <li i18n>And more!</li>
    </ul>
    <h2 i18n>We won't cover them in detail, check out the <a href="http://www.typescriptlang.org/"
                                                             target="_blank">TypeScript</a> website!
    </h2>
  </slides-slide>

  <slides-slide *slidesIf="'exercise-pre'; milestone: 'TypeScript'">
    <h1>
      <ng-container i18n="@@typescript">TypeScript</ng-container>
      /
      <ng-container i18n="@@exercise">Exercise</ng-container>
    </h1>
    <h2 i18n>In the next slide we have a TypeScript exercise</h2>
    <h3 i18n>Your task is to build a TypeScript class which will take a list of guests, and will have a method to output
      only
      the ones who are coming.</h3>
    <h3 i18n>The result will be as follows:</h3>
    <slides-exercise-preview column-5 [config]="exercises[0]"></slides-exercise-preview>
  </slides-slide>

  <slides-slide *slidesIf="'exercise';" no-padding>
    <slides-exercise [files]="exercises[0].files">
      <div class="description"></div>
      <slides-new-editors class="editor">
      </slides-new-editors>
      <slides-slides-preview milestone="TypeScript" class="slides-preview">
      </slides-slides-preview>
      <slides-angular-test-runner class="tests"></slides-angular-test-runner>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>

  <slides-slide *slidesIf="'end'; milestone: 'TypeScript'">
    <slides-closing-slide>
      <div header>
        <h1>
          <ng-container i18n="@@typescript">TypeScript</ng-container>
          /
          <ng-container i18n>Milestone Completed</ng-container>
        </h1>
      </div>
      <div body>
        <h2 i18n>
          Now you should know enough <b>TypeScript</b> to learn <b>Angular</b>!
          Read more about TypeScript on
          <a href="http://www.typescriptlang.org/">TypeScript web site</a>
        </h2>

      </div>
      <div footer>
        <br>
        <br>
        <br>
        <h2 i18n>next:
          <a routerLink="/create-first-app/0">Learn how to create your first Angular app!</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>
</slides-presentation>
