<div class="wrapper">
  <div class="panel">
    <mat-form-field>
      <mat-select [ngModel]="file" (ngModelChange)="openFile($event)">
        <ng-template>Lol</ng-template>
        <mat-option *ngFor="let fileName of files" [value]="fileName">
          <slides-file-path [path]="fileName"></slides-file-path>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="solutions[file] && solutions[file] != code[file]" style="cursor: pointer"
            (click)="loadSolution(file)">Load
      solution
    </button>
  </div>

  <div class="editor">
    <div #editor class="monaco-editor"></div>
  </div>
</div>

