.intro li a:hover {
  text-decoration: underline;
}

.intro li a {
  color: #ff594b;
  text-decoration: none;
}

.intro li:hover {
  padding-left: 21px;
}

.intro ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro li {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  font-size: 16px;
}

.feedback-shift {
  position: fixed;
  right: 107px;
  bottom: 1vh;
}

.btn-bar {
  z-index: 110;
}
