<app-presentation
  app-slides-routing
  app-mode-routing>
  <div class="btn-bar">
    <app-mode-overview></app-mode-overview>
    <app-feedback-widget></app-feedback-widget>
    <app-menu-shortcut></app-menu-shortcut>
  </div>

  <app-slide class="no-padding">
    <app-feedback-slide></app-feedback-slide>
  </app-slide>

  <app-slide  id="index">
    <h1>Angular codelab</h1>
    <h2>Welcome! Chose the topic below to learn</h2>

    <div class="intro">
      <ul *ngFor="let route of routes">
        <li>
          <h2><a [routerLink]="route.path + '/0'">{{route.name}}</a></h2>
          <div>{{route.description}}</div>
        </li>
      </ul>
    </div>
  </app-slide>
</app-presentation>
