.intro li a:hover {
  text-decoration: underline;
}

.intro li a {
  text-decoration: none;
  color: #888;
}


.intro ul {
  margin: 0;
  padding: 0;
}

.intro li {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  font-size: 16px;
  margin-bottom: 16px;
}

.intro li h2{
  font-size: 22px;
}

.feedback-shift {
  position: fixed;
  right: 107px;
  bottom: 1vh;
}

.btn-bar {
  z-index: 110;
}


@media only screen and (min-width: 1800px) {
  .intro.intro li h2 {
    font-size: 45px;
  }

  .intro.intro li div {
    font-size: 25px;
  }
  img {
    width: 600px;
    margin-left: 50px;
  }
}
