<slides-presentation
  slides-slides-routing
  slides-mode-routing>
  <div class="btn-bar">
    <slides-mode-overview></slides-mode-overview>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>

  <slides-slide no-padding>
    <slides-feedback-slide></slides-feedback-slide>
  </slides-slide>

  <slides-slide  id="index">
    <h1>Angular codelab</h1>
    <h2>Welcome! Chose the topic below to learn</h2>

    <div class="intro">
      <ul *ngFor="let route of routes">
        <li>
          <h2><a [routerLink]="route.path + '/0'">{{route.name}}</a></h2>
          <div>{{route.description}}</div>
        </li>
      </ul>
    </div>
  </slides-slide>
</slides-presentation>
