<slides-presentation slides-slides-routing slides-mode-routing slides-tracking>
  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide *slidesIf="'intro'" no-padding>
    <slides-title-slide title="Forms" description="Adding basics forms into your app"></slides-title-slide>
  </slides-slide>

  <!--  INTRO -->
  <slides-slide *slidesIf="'content'" no-padding>
    TODO: Add forms content
  </slides-slide>

</slides-presentation>


