:host {
  h1 {
    color: #28a745;
  }

  .container {
    max-width: 850px;
    padding: 0 15px 30px 15px;
    margin: 0 auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  table {
    width: 100%;
  }
}
