<div class="wrapper">
  <div class="file-editor">
    <div class="file" *ngFor="let file of selectedFiles; let i = index">
      <mat-checkbox [(ngModel)]="file.selected" (ngModelChange)="update()">
        <input
          [ngModel]="file.name"
          (ngModelChange)="updateFileName(i, file.name, $event)"
        />
      </mat-checkbox>
      <button mat-icon-button (click)="deleteFile(file.name)">
        <mat-icon>cancel</mat-icon>
      </button>
      <div class="highlights">
        <div class="highlights-header">
          <h3>Highlights</h3>
          <ng-container *ngIf="selection$ | async as selection ">
            <button
              mat-button
              *ngIf="selection.file === file.name"
              (click)="addHighlight(file, selection)"
            >
              (add selected)
            </button>
          </ng-container>
          <ng-container *ngIf="!(selection$ | async)">
            <button
              mat-button
              (click)="addRegexHighlight(file)"
            >
              (Add regex)
            </button>
          </ng-container>
        </div>

        <div
          class="highlight"
          *ngFor="let highlight of file.highlights; let highlightIndex = index"
        >
          <ng-container *ngIf="highlight.selection?.selectionStartLineNumber !== undefined else highlightInput">
            {{ highlight.text | slice: 0:20 }}
          </ng-container>
          <ng-template #highlightInput>

            <mat-form-field >
              <mat-label>Regex</mat-label>

              <input [(ngModel)]="highlight.selection"
                     [validateInputMatchesText]="code[file.name]"
                     matInput
                     #model="ngModel"
                     (ngModelChange)="model.valid && update()">

              <mat-error *ngIf="model.errors?.invalidRegex">Invalid regex</mat-error>
              <mat-error *ngIf="model.errors?.regexDoesNotMatch">Regex doesn't match</mat-error>
            </mat-form-field>


          </ng-template>
          <button
            mat-icon-button
            (click)="deleteHighlight(file, highlightIndex)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

      </div>
    </div>
    <button
      mat-button
      [disabled]="code[defaultNewFileName]"
      (click)="addFile()"
    >
      Add file
    </button>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="showPreview" (ngModelChange)="update()">
      Show preview
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="allowSwitchingFiles" (ngModelChange)="update()">
      Allow switching files
    </mat-checkbox>
  </div>
</div>


<code-demo
  [showPreview]="showPreview"
  [allowSwitchingFiles]="allowSwitchingFiles"
  [highlights]="highlights"
  [(ngModel)]="code"
  [displayFileName]="!allowSwitchingFiles"
  (ngModelChange)="update()"
  [files]="openFiles"
  [ui]="ui"
  [bootstrap]="false"
></code-demo>
