.wrapper {
  display: flex;
}

.file {
  display: flex;
  border-bottom: 1px #999999 solid;
  padding: 16px;

  ::ng-deep {
    mat-checkbox {
      line-height: 40px;
    }

    input {
      margin-left: 8px;
    }
  }
}

.highlights {
  margin-left: 16px;

  .highlight {
    display: flex;
    line-height: 40px;
  }

  .highlights-header {
    display: flex;

    h3 {
      margin: 8px 0;
      padding: 0;
      font-family: 'Helvetica Neue';
      font-size: 14px;
    }
  }
}
