.presentation {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.presentation--expanded {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  iframe {
    height: 100%;
  }
}

.presentation-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-expand {
  outline: none;
  width: 35px;
  height: 35px;
  padding: 0;
  border: 0;
  background-image: url("/assets/images/expand.png");
  background-size: 100% 100%;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.presentation-body {
  flex: 1;
}

iframe {
  width: 100%;
  height: 320px;
}
