<slides-simple-angular-test-runner
  *ngIf="bootstrapTest"
  class="quarter"
  [translations]="translations"
  [bootstrap]="bootstrapTest"
  [code]="code"></slides-simple-angular-test-runner>

<div style=" display: flex;">
  <div style="width: 50%;flex-grow: 0">
    <div *ngIf="path" style="margin-left: 20px;color: red;">{{path}}</div>
    <slides-simple-editor
      style="width: 100%;flex-grow: 0"
      (ngModelChange)="update($event)"
      [slidesSimpleHighlightMatch]="slidesSimpleHighlightMatch"
      language="typescript"
      [lineNumbers]="false"
      [fontSize]="20"
      [(ngModel)]="code[file]">
    </slides-simple-editor>
  </div>

  <slides-simple-angular-runner style="width: 50%;flex-grow: 0"
                                [ui]="ui"
                                *ngIf="code" class="quarter"
                                [bootstrap]="bootstrap"
                                [code]=code></slides-simple-angular-runner>
</div>
