<slides-presentation slides-slides-routing slides-mode-routing slides-tracking>
  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide *slidesIf="'intro'" no-padding>
    <slides-title-slide title="Material design" description="Learn how to use Angular Material"></slides-title-slide>
  </slides-slide>
  <!--  INTRO -->
  <slides-slide *slidesIf="'components'">
    <h2>Now let's use <a href="https://material.angular.io">Angular Material</a> to make our app look beautiful ✨</h2>
    <h2>Angular material provides you with a set of <a href="https://material.io/">Material Design</a> components for
      Angular</h2>
    <ul>
      <li>Fast and Consistent</li>
      <li>Versatile</li>
      <li>Accessible</li>
      <li>Optimized for Angular</li>
      <li>Look great on mobile</li>
    </ul>

    <h2>See the list of components <a href="https://material.angular.io/components/categories">here</a></h2>

  </slides-slide>

  <slides-slide *slidesIf="'toolbar'">
    <h1>Material / NavBar</h1>
    <h2>Let's start with adding a Navigation Bar with 2 simple steps:</h2>
    <ul>
      <li>add <b>MatToolbarModule</b> to the imports</li>
      <li>Add the component to the template</li>
    </ul>
    <slides-playground [openFilesIndex]="[0,1]" [config]="code.material.step1"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'card'">
    <h1>Material / Card</h1>
    <slides-playground [openFilesIndex]="[0,1]" [config]="code.material.step2"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'header'">
    <h1>Material / Card Header</h1>
    <slides-playground [openFilesIndex]="[0,1]" [config]="code.material.step3"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'buttons'">
    <h1>Material / Buttons</h1>
    <slides-playground [openFilesIndex]="[0,1]" [config]="code.material.step4"></slides-playground>
  </slides-slide>


  <slides-slide *slidesIf="'themes'">
    <h1>Material / Themes</h1>
    <h2>All material components are also themable, try different themes by clicking the buttons below:</h2>
    <div>
      <button mat-button mat-raised-button [color]="theme === 'indigo' ? 'primary' : 'secondary'"
              (click)="setTheme('indigo');">Indigo
      </button>
      <button mat-button mat-raised-button [color]="theme === 'deeppurple' ? 'primary' : 'secondary'"
              (click)="setTheme('deeppurple')">
        Deep purple
      </button>
      <button mat-button mat-raised-button [color]="theme === 'pink' ? 'primary' : 'secondary'"
              (click)="setTheme('pink')">Pink
      </button>
      <button mat-button mat-raised-button [color]="theme === 'purple' ? 'primary' : 'secondary'"
              (click)="setTheme('purple')">Purple
      </button>
    </div>
    <slides-playground #themePlayground [openFilesIndex]="[0,1]" [config]="code.material.theme"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'end'">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of The Material Milestone</h1>
      </div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
        <h2>Check out Angular Material <a href="https://material.angular.io/guide/getting-started">"Getting Started"</a>
          Guide</h2>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          Next <a routerLink="/forms/0">Go to the Forms Milestone</a>
        </h2>
        <slides-feedback-rating lesson="FirstAngularApp">
        </slides-feedback-rating>
      </div>
    </slides-closing-slide>
  </slides-slide>
</slides-presentation>


