<div class="slides-wrapper">
  <button (click)="addSlide()">Add</button>

  <div cdkDropList (cdkDropListDropped)="reorder.emit($event)">
    <button
      class="slide-wrapper"
      *ngFor="let slide of slides; let i = index"
      [class.selected]="i === currentSlideIndex"
      inert="true"
      (click)="this.contentService.goToSlide(presentationId, i)"
    >
      <div
        cdkDrag
        class="slide"
        style="pointer-events: none;text-decoration: none; color: inherit"
      >
        <slides-slide-preview
          mode="preview"
          [slide]="slide"
          [class.selected]="i === currentSlideIndex"
        ></slides-slide-preview>
      </div>
    </button>
  </div>
</div>
