.slide.selected {
  border: 1px #999 solid;
  background: radial-gradient(#fff, #f5f5f5);
  box-shadow: 0 0 2px 1px #155ad0;
}

.slides-wrapper {
  display: flex;
  flex-direction: column;
  width: 158px;
  height: 100%;
  padding: 0 4px;
  box-shadow: 1px 0 2px 0 #ddd;
  background: #f8f8f8;
}

.slides-wrapper:focus {
  outline: 0;
}

.slide-wrapper.current {
  border: 1px #ddd solid;
  box-shadow: 0 0 2px 1px #155ad0;
  outline: none;
}

.slide-wrapper.selected {
  background: #dde;
}

.slide-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  padding: 4px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f8f8f8;
  margin: 0;
}

.slide-wrapper + .slide-wrapper {
  margin-top: 4px;
}

.slides-list {
  max-height: calc(100vh - 21px - 40px);
  width: 150px;
  overflow: auto;
  padding: 0 4px;
}

.slide {
  padding: 0;
  background: #fff;
  box-shadow: 1px 1px #ddd;
  overflow: hidden;
  border: 0 solid;
  display: flex;
  margin: 0;
  text-align: left;
  pointer-events: none;
  text-decoration: none;
  color: inherit;

  slides-slide-preview {
    zoom: 0.2;
  }
}

.dragging {
  .slide-wrapper.selected:not(.cdk-drag-placeholder) {
    display: none;
  }
}

.drag-placeholder {
  height: 1px;
  width: 100%;
  margin: 2px 0;
  background: #00a4ff;
}
