<div class="slides-wrapper" tabindex="0">
  <button (click)="addSlide()">Add</button>

  <div
    (cdkDropListDropped)="droppedIntoList($event)"
    [class.dragging]="dragging"
    cdkDropList
    [multiselectList]="selectionModel"
    class="slides-list"
  >
    <div
      (cdkDragDropped)="dropped()"
      (cdkDragEnded)="dragEnded()"
      (cdkDragStarted)="dragStarted($event)"
      (click)="makeCurrent($event, index)"
      *ngFor="let slide of slides; let index = index; trackBy: trackBySlideId"
      [class.selected]="selectionModel.isSelected(slide.id)"
      [class.current]="index == currentSlideIndex"
      cdkDragLockAxis="y"
      cdkDrag
      [multiselectItem]="slide.id"
      class="slide-wrapper"
      role="button"
    >
      <div *cdkDragPreview>
        <div *ngFor="let selectedItem of selectionModel.selected"></div>
      </div>
      <div *cdkDragPlaceholder>
        <div class="drag-placeholder"></div>
      </div>

      <div class="slide">
        <slides-slide-preview
          inert
          [slide]="slide"
          mode="preview"
        ></slides-slide-preview>
      </div>
    </div>
  </div>
</div>
