<mat-nav-list class="wrapper">
  <button
    *ngFor="let presentation of presentations$ | async"
    mat-list-item
    (click)="goToPresentation(presentation.id)"
    class="presentation"
  >
    <div class="header">
      <div>{{ presentation.name }}</div>
    </div>
    <div *ngIf="presentation.slides[0] as slide" class="first-slide">
      <div class="slides-slide-preview-wrapper">
        <slides-small-slide-preview
          class="medium"
          mode="preview"
          [slide]="slide"
        ></slides-small-slide-preview>
      </div>
    </div>
  </button>
</mat-nav-list>
