<mat-nav-list class="wrapper">
  <a
    *ngFor="let presentation of presentations$ | async"
    mat-list-item
    [routerLink]="'./' + presentation.id + '/0'"
    class="presentation"
  >
    <div class="header">
      <div>{{ presentation.name }}</div>
    </div>
    <div *ngIf="presentation.slides[0] as slide" class="first-slide">
      <div class="slides-slide-preview-wrapper">
        <slides-slide-preview
          mode="preview"
          [slide]="slide"
        ></slides-slide-preview>
      </div>
    </div>
  </a>
</mat-nav-list>
