.resize {
  position: relative;
  width: 600px;
  height: 100%;
}

.spacer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 8px;
  cursor: col-resize;
}

.handle {
  height: 100%;
  border-right: 1px dashed rgba(128, 128, 128, 0.5);
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
