@import "variables";
@import "mixins";

.score {
  float: left;
<<<<<<< HEAD
  margin-left: 1rem;

  .leader, span.scoreboard {
    margin: 5px 0 0 25px;
=======
  margin-left: 1.5rem;

  .leader, span.scoreboard {
    margin: 5px 0 0 15px;
>>>>>>> quiz-holder
  }
}
