<slides-presentation slides-slides-routing class="binary-presentation">
  <slides-new-progress-bar [fontSize]="fontSize"
                           title="Binary ❤️ JavaScript"
                           (fontSizeChange)="fontSize = fontSize + $event"></slides-new-progress-bar>
  <slides-arrows></slides-arrows>
  <slides-feedback-widget></slides-feedback-widget>

  <slides-slide *slidesIf="'intro'" bg intro>
    <h1>@kirjs</h1>
    <h2>Binary ❤️ JavaScript</h2>
    <h3>kirjs.com/binary/0</h3>
  </slides-slide>

  <!--<slides-slide *slidesIf="'overview'">-->
  <!--<h1>In this talk:</h1>-->
  <!--<ul>-->
  <!--<li><b>binary</b> + files</li>-->
  <!--<li><b>binary</b> + parsing files</li>-->
  <!--<li><b>binary</b> + HTTP requests</li>-->
  <!--<li><b>binary</b> + JS memory internals</li>-->
  <!--</ul>-->
  <!--</slides-slide>-->

  <slides-slide *slidesIf="'font-size'">
    <h2>
      If you can't read the text below, move closer or go to <b style="font-size: 10vw">kirjs.com/binary/0</b>
    </h2>
    <div style="font-size: 3vw;word-break: break-all">
      {{binaryLittleGif.substr(0, 200)}}
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'gif-internals'" bg vc gif>
    <h1>Let's see what's inside of <b>gif</b></h1>
  </slides-slide>

  <slides-slide *slidesIf="'binary-file-upload'">
    <slides-simple-editor
      [lineNumbers]="false"
      [fontSize]="40"
      [(ngModel)]="code.fileHandler"
      [slidesSimpleHighlightMatch]="code.fileHandlerHighlight"
      language="javascript"></slides-simple-editor>
  </slides-slide>

  <slides-slide *slidesIf="'binary-file-value-2'" vertical-split>
    <code style="font-size: 2vw;font-weight: 300;word-break: break-word">
      {{chikinGif}}
    </code>
    <binary-gif [binary]="binaryChikinGif"></binary-gif>
  </slides-slide>

  <slides-slide *slidesIf="'binary-file-value'" vertical-split>
    <code style="font-size: 10vw;font-weight: 300;word-break: break-word"
          contenteditable="true"
          (input)="setLittleGifBinary($event.target.innerText)">
      {{littleGif}}
    </code>
    <binary-gif [binary]="binaryLittleGif"></binary-gif>
  </slides-slide>

  <slides-slide *slidesIf="'binary-file-upload-buffer'">
    <slides-simple-editor [fontSize]="40" [(ngModel)]="code.fileHandlerBinary"
                          language="javascript"></slides-simple-editor>
  </slides-slide>


  <slides-slide *slidesIf="'gif'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [binary]="binaryLittleGif"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-standard'" vc>
    <pre style="text-align: center;font-size: 2vw;">
GRAPHICS INTERCHANGE FORMAT(sm)

<a href="https://www.w3.org/Graphics/GIF/spec-gif89a.txt">Version 89a</a>

(c)1987,1988,1989,1990

Copyright
CompuServe Incorporated
Columbus, Ohio
      </pre>
  </slides-slide>

  <slides-slide *slidesIf="'gif-spaced'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [binary]="binaryLittleGif"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-spaced-sections'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [binary]="binaryLittleGif" [spacing]="true"
                     [highlightGroups]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-boolean'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [showPopups]="true" [binary]="binaryLittleGif"
                     [highlightedMap]="{boolean: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-number'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event"
                     [showPopups]="true"
                     [binary]="binaryLittleGif"
                     [highlightedMap]="{boolean: true, number: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'bin-dec'">
    <slides-bindec param="uint8"></slides-bindec>
  </slides-slide>


  <slides-slide *slidesIf="'convert-bin-to-dec'">
    <h2>Convert binary to decimal with JavaScript</h2>
    <realtime-eval code="parseInt('01010101', 2)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'convert-dec-to-bin'">
    <h2>Convert decimal to binary</h2>
    <realtime-eval code="(1212).toString(2)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'gif-spaced-bin-dec'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event"
                     [showPopups]="true"
                     [binary]="binaryLittleGif" [highlightedMap]="{boolean: true, number: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-spaced-hex'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [showPopups]="true"
                     [binary]="binaryLittleGif" [highlightedMap]="{boolean: true, number: true, hex: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>


  <slides-slide *slidesIf="'bin-hex-explained'">
    <kirjs-hexdec></kirjs-hexdec>
  </slides-slide>
  <slides-slide *slidesIf="'bin-hex'">
    <h2>Convert binary to hexadecimal with JavaScript</h2>
    <realtime-eval code="parseInt('01010101', 2).toString(16)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'hex-bin'">
    <h2>Convert hexadecimal to binary with JavaScript</h2>
    <realtime-eval code="parseInt('FEFEFE', 16).toString(2)"></realtime-eval>
  </slides-slide>


  <slides-slide *slidesIf="'gif-spaced-bin-hex'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [showPopups]="true"
                     [binary]="binaryLittleGif"
                     [highlightedMap]="{boolean: true, number: true, hex: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-spaced-string'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [showPopups]="true"
                     [binary]="binaryLittleGif"
                     [highlightedMap]="{boolean: true, number: true, hex: true, string: true}"
                     [spacing]="true"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'ascii'">
    <slides-ascii></slides-ascii>
  </slides-slide>

  <slides-slide *slidesIf="'ascii-2'">
    <slides-ascii param="ascii - Page 2"></slides-ascii>
  </slides-slide>

  <slides-slide *slidesIf="'windows-1251'">
    <slides-ascii param="windows-1251"></slides-ascii>
  </slides-slide>


  <slides-slide *slidesIf="'KOI8-R'">
    <slides-ascii param="KOI8-R"></slides-ascii>
  </slides-slide>

  <slides-slide *slidesIf="'krakoziabry'" bg krakoziabry>
  </slides-slide>


  <slides-slide *slidesIf="'utf-8'">
    <slides-ascii param="utf-8"></slides-ascii>
  </slides-slide>

  <slides-slide *slidesIf="'str-to-charcode'">
    <h2>Get charcode from string</h2>
    <realtime-eval code="'lol'.charCodeAt(0)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'charcode-to-str'">
    <h2>Get letter from charcode</h2>
    <realtime-eval code="String.fromCharCode(118)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'gif-string-2'">
    <slides-fake-gif (onBinaryUpdate)="binaryLittleGif = $event" [showPopups]="true"
                     [binary]="binaryLittleGif"
                     [highlightedMap]="{boolean: true, number: true, hex: true, string: true}"
                     [spacing]="true"
    ></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'chikin'">
    <slides-fake-gif (onBinaryUpdate)="binaryChikinGif = $event" [showPopups]="true"
                     [binary]="binaryChikinGif"
                     [highlightedMap]="{boolean: true, number: true, hex: true, string: true}"
                     [spacing]="true"
    ></slides-fake-gif>
  </slides-slide>

  <!--<slides-slide *slidesIf="'charcode-to-str'">-->
  <!--<realtime-eval code="String.fromCharCode(1034)"></realtime-eval>-->
  <!--</slides-slide>-->

  <!--<slides-slide *slidesIf="'charcode-to-str'">-->
  <!--<h1>ПЕЉМЕЊ!!!</h1>-->
  <!--</slides-slide>-->


  <slides-slide *slidesIf="'parsing-binary'" bg vc gif>
    <h1>Parsing binary(with <b>binary-parser</b>)</h1>
  </slides-slide>


  <slides-slide *slidesIf="'binary-parser-header'">
    <kirjs-binary-parser-demo
      [filterClassName]="binaryParserHeaderMatch"
      [helpers]="binaryParserHeaderHelpers"
      [binary]="binaryLittleGif"></kirjs-binary-parser-demo>
  </slides-slide>


  <slides-slide *slidesIf="'endianness'" bg endianness>
  </slides-slide>
  <slides-slide *slidesIf="'binary-parser-palette'">
    <kirjs-binary-parser-demo [helpers]="binaryParserPaletteHelpers"
                              [filterClassName]="binaryParserPaletteMatch"
                              [binary]="binaryLittleGif"></kirjs-binary-parser-demo>
  </slides-slide>


  <!--<slides-slide *slidesIf="'summary'">-->
  <!--<h2>Summary</h2>-->
  <!--<table>-->
  <!--<tr>-->
  <!--<td>boolean</td>-->
  <!--<td>true</td>-->
  <!--<td>1</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>number</td>-->
  <!--<td>251</td>-->
  <!--<td>11111011</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>string</td>-->
  <!--<td>U</td>-->
  <!--<td>01010101</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>color</td>-->
  <!--<td style="color:#2b981f">#2b981f</td>-->
  <!--<td>1010111001100000011111</td>-->
  <!--</tr>-->
  <!--</table>-->
  <!--</slides-slide>-->
  <!---->
  <slides-slide *slidesIf="'binary-json'" bg vc json>
    <h1>Can we use <b>binary</b> instead of <b>JSON</b>?</h1>
  </slides-slide>

  <slides-slide *slidesIf="'json'">
    <slides-json></slides-json>
  </slides-slide>

  <slides-slide *slidesIf="'compare-size'">
    <h1>Serialized Size</h1>
    <div style="display: flex;" class="compare-serialization">

      <div class="compare-json">
        <h2>JSON</h2>
        <ul>
          <li class="compare-value">Bigger</li>
        </ul>
      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li class="compare-value">Smaller</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-speed'">
    <h1>Serialization speed</h1>
    <div style="display: flex;" class="compare-serialization">
      <div class="compare-json">
        <h2>JSON</h2>
        <ul>
          <li class="compare-value">Slower</li>
        </ul>
      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li class="compare-value">Faster</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-debugging'">
    <h1>Debugging</h1>
    <div style="display: flex;" class="compare-serialization">
      <div class="compare-json">
        <h2>JSON</h2>

        <ul>
          <li class="compare-value">Easy to understand</li>
          <li class="compare-value">Human readable</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li class="compare-value">Requires special tooling</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-tooling'">
    <h1>Tooling</h1>
    <div style="display: flex;" class="compare-serialization">
      <div class="compare-json">
        <h2>JSON</h2>
        <ul>
          <li class="compare-value">For JS works out of the box</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li class="compare-value">Requires special tooling</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-schema'">
    <h1>Schema</h1>
    <div style="display: flex;" class="compare-serialization">
      <div class="compare-json">
        <h2>JSON</h2>
        <ul>
          <li>No schema</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Needs a schema</li>
          <li>Comes with type checking</li>
          <li>Comes with validation</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-examles'">
    <h2>Existing solutions</h2>
    <ul>
      <li>Proto Buffers (google)</li>
      <li>Flatbuffers</li>
      <li>Thrift (apache/facebook)</li>
    </ul>
  </slides-slide>


  <slides-slide *slidesIf="'gif-internals'" bg vc gif>
    <h1>Bonus</h1>
  </slides-slide>

  <slides-slide *slidesIf="'files'">
    <h2>File header constants</h2>
    <ul>
      <li>Gif - GIF87a (or GIF89a)</li>
      <li>Jpeg - begin with ‘FF D8‘ and end with ‘FF D9'</li>
      <li>Java class - CAFEBABE</li>
      <li>ZIP files begin with ‘PK‘ (50 4B)</li>
      <li>PDF files start with ‘%PDF‘ (25 50 44 46)</li>
      <li>PNG image files begin with “\211 P N G \r \n 32 \n” (89 50 4E 47 0D 0A 1A 0A)</li>
      <li>HTTP2 - PRI * HTTP/2.0\r\n\r\nSM\r\n\r\n</li>
    </ul>
  </slides-slide>

  <slides-slide *slidesIf="'kaitai'" bg kaitai>
    <h1>Big library of binary formats</h1>
    <h2>https://formats.kaitai.io/</h2>
  </slides-slide>

  <slides-slide *slidesIf="'Facts'">
    <h2>Gif facts</h2>
    <ul>
      <li>Image size: 1х1 to 65535х65535</li>
      <li>Colors: 2 - 256</li>
      <li>True color gifs are possible</li>
      <li>Max number of animation frames - unlimited</li>
      <li>Animation delay 1/100 - 655 seconds</li>
      <li>There's a plain text extension</li>
      <li>24 pages + 12 pages appendix in gif89 standard</li>
    </ul>
  </slides-slide>

  <slides-slide *slidesIf="'outro'" bg intro>
    <h1>@kirjs</h1>
    <h2>Binary ❤️ JavaScript</h2>
    <h2>kirjs.com/binary/0</h2>
    <h3>Thanks @andrey_sitnik for review</h3>
  </slides-slide>
</slides-presentation>

