<slides-presentation slides-slides-routing class="binary-presentation">
  <slides-new-progress-bar [fontSize]="fontSize"
                           title="Binary ❤️ JavaScript"
                           (fontSizeChange)="fontSize = fontSize + $event"></slides-new-progress-bar>
  <slides-arrows></slides-arrows>
  <slides-feedback-widget></slides-feedback-widget>

  <slides-slide *slidesIf="'intro'" bg intro>
    <h1>@kirjs</h1>
    <h2>Binary ❤️ JavaScript</h2>
  </slides-slide>

  <slides-slide *slidesIf="'overview'">
    <h1>In this talk:</h1>
    <ul>
      <li><b>binary</b> inside</li>
      <li><b>binary</b> + JS memory internals</li>
      <li><b>binary</b> + HTTP requests</li>
      <li><b>Binary</b> + files (e.g. pics, audio, etc)</li>
    </ul>
  </slides-slide>


  <slides-slide *slidesIf="'binary-file-upload'">
    <h2>Let's read a gif file:</h2>
    <h2>And file </h2>
    <slides-simple-editor [fontSize]="40" [(ngModel)]="code.fileHandler" language="javascripts"></slides-simple-editor>
  </slides-slide>

  <slides-slide *slidesIf="'message'">
    <h2>Let's reverse-engineer this message:</h2>
    <slides-message param="basic"></slides-message>
  </slides-slide>


  <slides-slide *slidesIf="'can-be-anything'">
    <h2>This can be anything 🤔</h2>
    <ul>
      <li>Lots of booleans?</li>
      <li>Bunch of numbers</li>
      <li>Text?</li>
      <li>Hex data? colors?</li>
      <li>Media? Image? Song? Video?</li>
      <li>Bunch of random 1's and 0's?</li>
    </ul>
  </slides-slide>

  <slides-slide *slidesIf="'bit-1-1'">
    <angular-presentation-bit [param]="1">
      <h2>How many TBD do you have?</h2>
      <table>
        <tr>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-1'">
    <angular-presentation-bit [param]="1">
      <h2>Will you marry me?</h2>
      <table>
        <tr>
          <td>1</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>0</td>
          <td>No</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-2'">
    <angular-presentation-bit [param]="2">
      <h2>Numbers 0-3</h2>
      <table>
        <tr>
          <td>00</td>
          <td>0</td>
        </tr>
        <tr>
          <td>01</td>
          <td>1</td>
        </tr>
        <tr>
          <td>10</td>
          <td>2</td>
        </tr>
        <tr>
          <td>11</td>
          <td>3</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-2-1'">
    <angular-presentation-bit [param]="2">
      <h2>Will you marry me?</h2>
      <table>
        <tr>
          <td>00</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>01</td>
          <td>No</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Maybe</td>
        </tr>
        <tr>
          <td>11</td>
          <td>-</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>


  <slides-slide *slidesIf="'bit-3'">
    <angular-presentation-bit [param]="3">
      <h2>Numbers 0-7</h2>
      <table>
        <tr>
          <td>000</td>
          <td>0</td>
        </tr>
        <tr>
          <td>010</td>
          <td>2</td>
        </tr>
        <tr>
          <td>100</td>
          <td>4</td>
        </tr>
        <tr>
          <td>111</td>
          <td>7</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>


  <slides-slide *slidesIf="'bit-4'">
    <angular-presentation-bit [param]="4">
      <h2>Numbers 0-16</h2>
      <table>
        <tr>
          <td>0000</td>
          <td>0</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1</td>
        </tr>
        <tr>
          <td>0010</td>
          <td>2</td>
        </tr>
        <tr>
          <td>0011</td>
          <td>3</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>


  <slides-slide *slidesIf="'bit-5'">
    <angular-presentation-bit [param]="5">
      <h2>Numbers 0-32</h2>
      <table>
        <tr>
          <td>00000</td>
          <td>0</td>
        </tr>
        <tr>
          <td>00001</td>
          <td>1</td>
        </tr>
        <tr>
          <td>00010</td>
          <td>2</td>
        </tr>
        <tr>
          <td>00011</td>
          <td>3</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-5-1'">
    <angular-presentation-bit [param]="5">
      <h2>Letters?</h2>
      <table>
        <tr>
          <td>00000</td>
          <td>a</td>
        </tr>
        <tr>
          <td>00001</td>
          <td>b</td>
        </tr>
        <tr>
          <td>00010</td>
          <td>c</td>
        </tr>
        <tr>
          <td>...</td>
          <td>3</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-6'">
    <angular-presentation-bit [param]="6">
      <h2>One character from base64 encoding?</h2>
      <table>
        <tr>
          <td>000000</td>
          <td>a</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-7'">
    <angular-presentation-bit [param]="7">
      <h2>Basic ascii letter?</h2>
      <table>
        <tr>
          <td>00000</td>
          <td>a</td>
        </tr>
        <tr>
          <td>00001</td>
          <td>b</td>
        </tr>
        <tr>
          <td>00010</td>
          <td>c</td>
        </tr>
        <tr>
          <td>...</td>
          <td>3</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-8'">
    <angular-presentation-bit [param]="8">
      <h2>This is one byte!</h2>
      <h2>Numbers 0-255</h2>

    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-16'">
    <angular-presentation-bit [param]="16">
      <h2>Numbers 0-65535</h2>
    </angular-presentation-bit>
  </slides-slide>
  <slides-slide *slidesIf="'bit-24'">
    <angular-presentation-bit [param]="24">
      <h2>Numbers 0-16777215</h2>
      <table>
        <tr>
          <td>
            110100100000000000000110
          </td>
          <td>13762566</td>
        </tr>
      </table>

      <h2>Hex color</h2>
      <table>
        <tr>
          <td>
            110100100000000000000110
          </td>
          <td style="background: #d20006;color: white;">#d20006</td>
        </tr>
      </table>
    </angular-presentation-bit>
  </slides-slide>

  <slides-slide *slidesIf="'bit-32'">
    <angular-presentation-bit [param]="32">
      <h2>Numbers 0-4294967295</h2>
    </angular-presentation-bit>
  </slides-slide>


  <slides-slide *slidesIf="'message'">
    <h2>Let's reverse-engineer this message:</h2>
    <slides-message param="basic"></slides-message>
  </slides-slide>


  <slides-slide *slidesIf="'bytes'">
    <h2>Let's break it up into bytes</h2>
    <slides-message param="bytes"></slides-message>
  </slides-slide>

  <slides-slide *slidesIf="'can-they-be-numbers'" vc>
    <h1>Can this be <br> <b>numbers</b>?</h1>
  </slides-slide>

  <slides-slide *slidesIf="'bin-dec'">
    <slides-bindec param="uint8"></slides-bindec>
  </slides-slide>

  <slides-slide *slidesIf="'convert-bin-to-dec'">
    <h2>Convert binary to decimal with JavaScript</h2>
    <realtime-eval code="parseInt('01001110', 2)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'convert-dec-to-bin'">
    <h2>Convert decimal to binary</h2>
    <realtime-eval code="(1212).toString(2)"></realtime-eval>
  </slides-slide>


  <slides-slide *slidesIf="'negative-numbers'">
    <h1>What about negative <b>numbers</b>?</h1>
  </slides-slide>

  <slides-slide *slidesIf="'int8'">
    <slides-bindec param="int8"></slides-bindec>
  </slides-slide>

  <slides-slide *slidesIf="'mess-num'">
    <h1>Let's see our message expressed as <b>numbers</b></h1>
  </slides-slide>

  <slides-slide *slidesIf="'message-uint8'">
    <slides-message param="uint8"></slides-message>
  </slides-slide>

  <slides-slide *slidesIf="'can-they-be-letters'">
    <h1>Can they be <b>letters</b>?</h1>
  </slides-slide>

  <slides-slide *slidesIf="'ascii'">
    <slides-ascii></slides-ascii>
  </slides-slide>

  <slides-slide *slidesIf="'str-to-charcode'">
    <h2>Get charcode from string</h2>
    <realtime-eval code="'lol'.charCodeAt(0)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'charcode-to-str'">
    <h2>Get charcode from string</h2>
    <realtime-eval code="String.fromCharCode(118)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'charcode-to-str'">
    <realtime-eval code="String.fromCharCode(1034)"></realtime-eval>
  </slides-slide>

  <slides-slide *slidesIf="'charcode-to-str'">
    <h1>ПЕЉМЕЊ!!!</h1>
  </slides-slide>


  <slides-slide *slidesIf="'mess-num'">
    <h1>Let's see our message expressed as <b>letters</b></h1>
  </slides-slide>

  <slides-slide *slidesIf="'message-string'">
    <slides-message param="string"></slides-message>
  </slides-slide>

  <slides-slide *slidesIf="'summary'">
    <h2>Summary</h2>
    <table>
      <tr>
        <td>boolean</td>
        <td>true</td>
        <td>1</td>
      </tr>
      <tr>
        <td>number</td>
        <td>251</td>
        <td>11111011</td>
      </tr>
      <tr>
        <td>string</td>
        <td>'l'</td>
        <td>11111111</td>
      </tr>
      <tr>
        <td>color</td>
        <td style="color:#2b981f">#2b981f</td>
        <td>11111111</td>
      </tr>

    </table>
  </slides-slide>


  <slides-slide *slidesIf="'binary-memory'" bg vc json>
    <h1>Let's look at memory management in JS</h1>
  </slides-slide>

  <slides-slide *slidesIf="'binary-memory-1'">
    <h2>Let's see how memory works in typed arrays</h2>

    <angular-presentation-memory></angular-presentation-memory>
  </slides-slide>


  <slides-slide *slidesIf="'binary-memory-2'">
    <angular-presentation-memory [param]="1" code="Boolean b = new boolean[](5);"></angular-presentation-memory>
  </slides-slide>


  <slides-slide *slidesIf="'binary-memory-3'">
    <angular-presentation-memory [param]="2" code="Boolean b = new boolean[](5);\nb[3]"></angular-presentation-memory>
  </slides-slide>


  <slides-slide *slidesIf="'binary-memory-4'">
    <angular-presentation-memory [param]="3" code="Number b = new Uint8[](5);"></angular-presentation-memory>
  </slides-slide>


  <slides-slide *slidesIf="'binary-memory-5'">
    <angular-presentation-memory [param]="4" code="Number b = new Uint8[](5);b[3]"></angular-presentation-memory>
  </slides-slide>

  <slides-slide *slidesIf="'binary-memory-6'">
    <angular-presentation-memory [param]="5"
                                 code="a = [true, false, true, false, true]"></angular-presentation-memory>
  </slides-slide>


  <slides-slide *slidesIf="'binary-json'" bg vc json>
    <h1>Can we use <b>binary</b> instead of <b>JSON</b>?</h1>
  </slides-slide>

  <slides-slide *slidesIf="'json'">
    <slides-json></slides-json>
  </slides-slide>

  <slides-slide *slidesIf="'compare-size'">
    <h2>Size</h2>
    <div style="display: flex;">

      <div>
        <h2>JSON</h2>
        <div>Bigger</div>
      </div>

      <div>
        <h2>Binary</h2>
        <div>Smaller</div>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-speed'">
    <h2>Serialization speed</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <div>Slower</div>
      </div>

      <div>
        <h2>Binary</h2>
        <div>Faster</div>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-debugging'">
    <h2>Debugging</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>

        <ul>
          <li>Easy to understand</li>
          <li>Human readable</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Requires special tooling</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-tooling'">
    <h2>Tooling</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <ul>
          <li>For JS works out of the box</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Requires special tooling</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-schema'">
    <h2>Schema</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <ul>
          <li>No schema</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Needs a schema</li>
          <li>Comes with type checking</li>
          <li>Comes with validation</li>
        </ul>
      </div>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'compare-examles'">
    <h2>Existing solutions</h2>
    <ul>
      <li>Proto Buffers (google)</li>
      <li>Flatbuffers</li>
      <li>Thrift (apache/facebook)</li>
    </ul>
  </slides-slide>


  <!--<li>Size</li>-->
  <!--<li>Speed</li>-->
  <!--<li>Who's using</li>-->
  <!--<li>Debugging</li>-->
  <!--<li>Tools</li>-->
  <!--<li>Schema</li>-->


  <slides-slide *slidesIf="'gif-internals'" bg vc gif>
    <h1>Let's see what's inside of <b>gif</b></h1>
  </slides-slide>

  <slides-slide *slidesIf="'gif-example'" no-padding>
    <binary-gif style="width: 100vh;margin: auto;" [binary]="binaryLittleGif"></binary-gif>
  </slides-slide>


  <slides-slide *slidesIf="'gif'">
    <slides-fake-gif [binary]="binaryLittleGif"></slides-fake-gif>
  </slides-slide>

  <slides-slide *slidesIf="'gif-tbd'">
    <h1>https://tls.ulfheim.net/</h1>
  </slides-slide>

  <slides-slide *slidesIf="'files'">
    <h2>Common file formats TBD</h2>
    <ul>
      <li>Gif - GIF87a</li>
      <li>Jpeg- GIF87a</li>
      <li>Java class - cafebabe</li>
      <li>Text</li>
      <li>Media? Image? Song? Video?</li>

      Class bytecode starts with hex CAFEBABE
      GIF image files have ‘GIF89a‘ (47 49 46 38 39 61) or ‘GIF87a‘ (47 49 46 38 37 61)
      JPEG image files begin with ‘FF D8‘ and end with ‘FF D9'
      PNG image files begin with “\211 P N G \r \n 32 \n” (89 50 4E 47 0D 0A 1A 0A)
      ZIP files begin with ‘PK‘ (50 4B)
      PDF files start with ‘%PDF‘ (25 50 44 46)
      HTTP2 - PRI * HTTP/2.0\r\n\r\nSM\r\n\r\n
    </ul>
  </slides-slide>

  <slides-slide *slidesIf="'bunch'">
    // Let's reinvent gif with JSON:

    `, `

    `,
    `JSON.stringify(gif)`,
    `JSON.stringify(gif).length`,

    `"010010010111010000100000011010010111001100100000011000110110111101101101011011010110111101101110001"


    `,

    `explain('gif')`,


    `// How to read binary data?`,
  </slides-slide>
</slides-presentation>

