<angular-presentation-pres slides-shortcuts class="binary-presentation">
  <slides-arrows></slides-arrows>
  <slides-feedback-widget></slides-feedback-widget>

  <ng-template #ZUZUZUZUZUZUZUZUUZUZUZUZZU class="bebe" attr="lol">
    <div bg intro>
      <h1>@kirjs</h1>
      <h2>Binary ❤️ JavaScript</h2>
    </div>
  </ng-template>

  <ng-template #overview>
    <h1>In this talk:</h1>
    <ul>
      <li><b>binary</b> inside</li>
      <li><b>binary</b> + JS memory internals</li>
      <li><b>binary</b> + HTTP requests</li>
      <li><b>Binary</b> + files (e.g. pics, audio, etc)</li>
    </ul>
  </ng-template>

  <ng-template>
    LOL
  </ng-template>
</angular-presentation-pres>
