.mode {
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  filter: grayscale(100%);
}

.mode.mode-current {
  filter: none;
}

.mode:hover {
  border-bottom: 5px solid gray;
}

.mode-web {
  background-image: url(./pics/browsericon.png);
}

.mode-mobile {
  background-image: url(./pics/phoneicon.png);
}

.mode-vr {
  background-image: url(./pics/vricon.png);
}

.angular {
  width: 100px;
}

.module-options {
  display: flex;
}

.box-row {
  display: flex;
}

.box-row-fill {
  width: 50vw;
}
