<app-presentation>
  <app-progress-bar></app-progress-bar>
  <app-slide>
    <h1 i18n>Hello</h1>
    <h2 i18n>Welcome to Angular 4 codelab!</h2>
    <p i18n>Use right and left arrows on your keyboard to navigate!</p>
    <app-footer>Content in the footer</app-footer>
  </app-slide>
  <app-slide>
    <h1 i18n>What is Angular?</h1>
    <p i18n>Angular is a <b>development platform</b> for building mobile and desktop applications. Angular lets you
      <b>extend HTML's syntax</b> to express your application's components clearly and succinctly. Angular's binding and
      dependency injection <b>eliminate much of the code</b> you would otherwise have to write.
    </p>
  </app-slide>
  <app-slide>
    <h1 i18n>Platform Benefits</h1>
    <ul>
      <li i18n>PWA</li>
      <li i18n>Native</li>
      <li i18n>Desktop</li>
      <li i18n>Optimization</li>
      <li i18n>Universal</li>
      <li i18n>Code Splitting</li>
      <li i18n>CLI</li>
      <li i18n>Templates</li>
      <li i18n>IDE Support</li>
      <li i18n>Testing</li>
      <li i18n>Animation</li>
      <li i18n>Accessibility</li>
    </ul>
  </app-slide>
  <app-slide>
    <h1 i18n>Why TypeScript?</h1>
    TODO: aziz
  </app-slide>
  <app-slide>
    <h1 i18n>This is an <b>interactive</b> codelab. You don't need your IDE, <b>use your browser</b></h1>
  </app-slide>
  <app-slide>
    Content: TODO
  </app-slide>
  <app-slide>
    <h1 i18n>
      <b>TypeScript</b> is a language compiled to <b>JavaScript</b>
    </h1>
  </app-slide>


  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_01.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_02.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_03.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_04.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_05.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_06.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_07.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_08.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_09.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_10.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_11.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_12.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_13.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_14.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_15.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_16.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_17.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_18.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_19.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_20.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_21.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_22.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_23.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_24.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_25.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_26.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_27.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_28.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_29.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_30.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_31.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_32.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_33.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_34.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_35.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_36.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_37.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_38.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_39.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_40.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_41.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_42.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_43.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_44.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_45.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_46.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_47.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_48.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_49.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_50.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_51.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_52.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_53.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_54.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_55.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_56.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_57.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_58.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_59.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_60.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_61.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_62.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_63.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_64.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_65.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_66.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_67.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_68.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_69.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_70.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_71.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_72.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_73.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_74.jpg" alt=""></app-slide>
  <app-slide class="no-padding"><img src="assets/jpg-slides/Codelab_Page_75.jpg" alt=""></app-slide>
</app-presentation>
