<app-presentation>
  <app-progress-bar></app-progress-bar>
  <app-slide>
    <h1 i18n>Hello</h1>
    <h2 i18n>Welcome to Angular 4 codelab!</h2>
    <p i18n>Use right and left arrows on your keyboard to navigate!</p>
  </app-slide>
  <app-slide>
    <h1 i18n>What is Angular?</h1>
    <p i18n>Angular is a <b>development platform</b> for building mobile and desktop applications. Angular lets you
      <b>extend HTML's syntax</b> to express your application's components clearly and succinctly. Angular's binding and
      dependency injection <b>eliminate much of the code</b> you would otherwise have to write.
    </p>
  </app-slide>
  <app-slide>
    <h1 i18n>Platform Benefits</h1>
    <ul>
      <li i18n>PWA</li>
      <li i18n>Native</li>
      <li i18n>Desktop</li>
      <li i18n>Optimization</li>
      <li i18n>Universal</li>
      <li i18n>Code Splitting</li>
      <li i18n>CLI</li>
      <li i18n>Templates</li>
      <li i18n>IDE Support</li>
      <li i18n>Testing</li>
      <li i18n>Animation</li>
      <li i18n>Accessibility</li>
    </ul>
  </app-slide>
  <app-slide>
    <h1 i18n>Why TypeScript?</h1>
    TODO: aziz
  </app-slide>
  <app-slide>
    <h1 i18n>This is an
      <b>interactive</b> codelab.
      You don't need your IDE, <b>use your browser</b></h1>
  </app-slide>

</app-presentation>
