<app-presentation app-slides-routing>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>
  <app-slide>
    <h1>Angular component</h1>
    <h2>Component is a main building block of your app.</h2>
    <p><img src="" alt=""></p>
  </app-slide>
  <app-slide>
    <h1>Angular component</h1>
    <app-editor [file]="code.component.withTemplate" [fontSize]="30">
    </app-editor>
    <p>Above is the code for angular component. It is the main building block of an angular app. </p>
    <p>Go to the next slide to learn about containing parts.</p>
    <p><img width="200" src="assets/images/block.png" alt=""></p>
  </app-slide>
  <app-slide>
    <h1>Angular component</h1>
    <h2>To let Angular know that this is not just a class, but an Angular component it has to be adorned with the
      decorator</h2>
    <app-editor [file]="code.component.withTemplate" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withDecorators.match]">
    </app-editor>
  </app-slide>
  <app-slide>
    <h1>Angular component</h1>
    <h2>Selector defines where the component will be rendered</h2>
    <app-editor [file]="code.component.withTemplate" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withSelector.match]">
    </app-editor>
  </app-slide>
  <app-slide>
    <h1>Angular component</h1>
    <h2>Template defines the output of the </h2>
    <app-editor [file]="code.component.withTemplate" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withTemplate.match]">
    </app-editor>
  </app-slide>
  <app-slide>
    <h1>Angular component</h1>
    <h2>Selector defines where the component will be rendered</h2>
    <app-editor [file]="code.component.withTemplateUrl" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withTemplateUrl.match]">
    </app-editor>
  </app-slide>

  <app-slide>
    <div class="centered-vertically">
      <h1 i18n>Angular 4</h1>
      <h2 i18n>In this codelab you will learn how to create angular4 apps!</h2>
      <p i18n>Use <b>←</b> and <b>→</b> on your keyboard to navigate.</p>
    </div>
  </app-slide>

  <app-slide>
    <div class="centered-vertically">
      <h1 i18n>Angular</h1>
      <h2 i18n>A framework for creating applications</h2>
      <div flex m40>
        <img column-2 src="assets/images/responsive-framework.svg">
        <div column-1></div>
        <div>
          <h3>Develop Across All Platforms</h3>
          <p large-font>Learn one way to build applications with Angular and reuse your code and abilities to build apps
            for any
            deployment target. For web, mobile web, native mobile and native desktop.</p>
        </div>
      </div>
      <div flex m20>
        <div>
          <h3>Speed & Performance</h3>
          <p large-font>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web
            Workers and
            server-side rendering.

            Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS,
            Immutable.js or another push-model.</p>
        </div>
        <img column-2 src="assets/images/speed-performance.svg">
      </div>
    </div>
  </app-slide>
  <app-slide>
    <div>
      <h1 i18n>In this codelab we'll create a CatTube</h1>
      <h2 i18n>App for cat videos</h2>
      <app-browser-window>
        TODO: Actual cat videos example
      </app-browser-window>
    </div>
  </app-slide>

  <app-slide>
    <div class="centered-vertically">
      <h1>Milestone 1</h1>
      <h2>Hello world app</h2>
    </div>
  </app-slide>

  <app-slide>
    <h1>3 simple steps to create an Angular app</h1>
    <ul>
      <li>1. Create a component</li>
      <li>2. Put it in a module</li>
      <li>3. Bootstrap it</li>
    </ul>
  </app-slide>


  <app-slide>
    <h1>App component</h1>
    <p>Component is the base of an angular App.</p>
    <p>It's a piece of code which</p>
    <app-playground [config]="exercises[3]">
    </app-playground>
  </app-slide>


  <app-slide>
    <app-exercise [config]="exercises[1]">
      <div class="description">
        <p>We created a TypeScript file for you, now let's add our first TS class
          called Codelab.</p>
        <p>It will take a list of guests, and will have a 'getGuestsComing' method, which will only return people
          who're
          coming.</p>
        <p>As you can see in the 'Main.ts' file we have 4 people signed up, but Charles Darwin had a last minute
          change
          of plans, so only 3 people should be returned.</p>
      </div>
    </app-exercise>
  </app-slide>


  <app-slide>
    <h1 i18n>What is Angular?</h1>
    <div class="centered-vertically" i18n>
      <h2>
        Angular is a <b>development platform</b> for building mobile and desktop
        applications. Angular lets you <b>extend HTML's syntax</b> to express your application's components clearly
        and
        succinctly. Angular's binding and dependency injection <b>eliminate much of the code</b> you would otherwise
        have to write.
      </h2>
    </div>
  </app-slide>
  <app-slide>
    <app-exercise [config]="exercises[0]">
      <div class="description">
        <p>We created a TypeScript file for you, now let's add our first TS class
          called Codelab.</p>
        <p>It will take a list of guests, and will have a 'getGuestsComing' method, which will only return people
          who're
          coming.</p>
        <p>As you can see in the 'Main.ts' file we have 4 people signed up, but Charles Darwin had a last minute
          change
          of plans, so only 3 people should be returned.</p>
      </div>
    </app-exercise>
  </app-slide>
  <app-slide>
    <h1 i18n>Platform Benefits</h1>
    <ul>
      <li i18n>PWA</li>
      <li i18n>Native</li>
      <li i18n>Desktop</li>
      <li i18n>Optimization</li>
      <li i18n>Universal</li>
      <li i18n>Code Splitting</li>
      <li i18n>CLI</li>
      <li i18n>Templates</li>
      <li i18n>IDE Support</li>
      <li i18n>Testing</li>
      <li i18n>Animation</li>
      <li i18n>Accessibility</li>
    </ul>
  </app-slide>
  <app-slide>
    <h1 i18n>This is an <b>interactive</b> codelab. You don't need your IDE, <b>use your
      browser</b></h1>
  </app-slide>
  <app-slide>
    Content: TODO
  </app-slide>
  <!--  COMPONENT ANATOMY -->
  <app-slide>
    <h1>Component Anatomy - Inline Template</h1>
    <h3>Declaration of your component's class. Here will be the module's logic.</h3>
    <app-editor [file]="code.component.componentAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withClass.match]"></app-editor>
  </app-slide>
  <!--  @-Decorator -->
  <app-slide>
    <h1>Component Anatomy - Inline Template</h1>
    <h3>
      Apply the @Component decorator to the component class, thereby attaching to the class the essential component
      metadata that Angular needs to create a component instance and render the component with its template as a view.
    </h3>
    <app-editor [file]="code.component.componentAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withDecorators.match]"></app-editor>
  </app-slide>
  <!--  Selector  -->
  <app-slide>
    <h1>Component Anatomy - Inline Template</h1>
    <h3>
      Selector defines where the component will be rendered.<br>
      When we use the 'hello-world' tag in our HTML, this component will be created, our constructor called, and
      rendered.
    </h3>
    <app-editor [file]="code.component.componentAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withSelector.match]"></app-editor>
  </app-slide>
  <!--  Template  -->
  <app-slide>
    <h1>Component Anatomy - Inline Template</h1>
    <h3>
      Template defines the output of the component.
    </h3>
    <app-editor [file]="code.component.componentAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withTemplate.match]"></app-editor>
  </app-slide>


  <!--  MODULE ANATOMY -->
  <app-slide>
    <h1>Module Anatomy</h1>
    <h3>
      An Angular module identifies the components, directives, and pipes that the application uses along with the list
      of external Angular modules that the application needs, such as BrowserModule.
    </h3>
    <app-editor [file]="code.component.moduleAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withClass.match]"></app-editor>
  </app-slide>
  <!--  NgModel -->
  <app-slide>
    <h1>Module Anatomy</h1>
    <h3>
      NgModules help organize an application into cohesive blocks of functionality.
    </h3>
    <app-editor [file]="code.component.moduleAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withNgModel.match]"></app-editor>
  </app-slide>
  <!--  Imports  -->
  <app-slide>
    <h1>Module Anatomy</h1>
    <h3>
      Add a module to the imports array when the application requires its features.<br>
      Every application that executes in a browser needs the BrowserModule
    </h3>
    <app-editor [file]="code.component.moduleAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withImports.match]"></app-editor>
  </app-slide>
  <!--  Declarations  -->
  <app-slide>
    <h1>Module Anatomy</h1>
    <h3>
      In the declarations array, you tell Angular which components belong to the AppModule by listing it in the
      module's declarations array.
    </h3>
    <app-editor [file]="code.component.moduleAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withDeclarations.match]"></app-editor>
  </app-slide>
  <!--  Bootstrap -->
  <app-slide>
    <h1>Module Anatomy</h1>
    <h3>
      Bootstrap: The root component that Angular creates and inserts into the index.html host web page.
    </h3>
    <app-editor [file]="code.component.moduleAnatomy" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.withBootstrap.match]"></app-editor>
  </app-slide>


  <!--  MODULE BOOTSTRAPPING-->
  <app-slide>
    <h1>Module Bootstrapping</h1>
    <h3>
      The bootstrapping process sets up the execution environment, digs the root AppComponent out of the module's
      bootstrap array, creates an instance of the component and inserts it within the element tag identified by the
      component's selector.
    </h3>
    <app-editor [file]="code.component.moduleBootstrapping" [fontSize]="15"></app-editor>
    <h3>
      The AppComponent selector looks for a &lt;hello-world&gt; tag in the index.html and displays the
      AppComponent there.
    </h3>
    <app-editor [file]="code.component.moduleBootstrappingHTML" [fontSize]="15"></app-editor>
  </app-slide>


  <!--  MILESTONE #3  Dependency Injection-->
  <!-- RECAP -->
  <app-slide>
    <h1 style="text-align: center;">Recap</h1>
    <h2>
      <b>Dependency Injection</b> is a way to provide dependencies to your code instead of hard-coding them.
    </h2>
  </app-slide>

  <!--  COMPARISON -->
  <app-slide>
    <h1>Comparison</h1>
    <div class="content-container">
      <div class="col-6 card">
        <h3 style="text-align: center;">Without Dependency Injection</h3>
        <app-editor [file]="code.component.noDependencyInjection" [fontSize]="15"
                    [app-focus-highlight-match]="[code.component.noDependencyInjection.match]"></app-editor>
      </div>
      <div class="col-6 card" style="margin-left: 10px;">
        <h3 style="text-align: center;">With Dependency Injection</h3>
        <app-editor [file]="code.component.dependencyInjection" [fontSize]="15"
                    [app-focus-highlight-match]="[code.component.dependencyInjection.match]"></app-editor>
      </div>
    </div>
  </app-slide>

  <!--  IMPLEMENTATION STEP #1-->
  <app-slide>
    <h1>Implementation Step #1</h1>
    <h2>Mark a class as a Injectable</h2>
    <app-editor [file]="code.injectable.classAsInjectable" [fontSize]="30"
                [app-focus-highlight-match]="[code.injectable.classAsInjectable.match]"></app-editor>
  </app-slide>

  <!--  IMPLEMENTATION STEP #2-->
  <app-slide>
    <h1>Implementation Step #2</h1>
    <h2>Provide the injectable</h2>
    <app-editor [file]="code.injectable.provideTheInjectable" [fontSize]="30"
                [app-focus-highlight-match]="[code.injectable.provideTheInjectable.match]"></app-editor>
  </app-slide>

  <!--  IMPLEMENTATION STEP #3-->
  <app-slide>
    <h1>Implementation Step #3</h1>
    <h2>Consume the Injectable</h2>
    <app-editor [file]="code.component.consumeTheInjectable" [fontSize]="30"
                [app-focus-highlight-match]="[code.component.consumeTheInjectable.match]"></app-editor>
  </app-slide>

  <!--  HANDLING SERVICES-->
  <app-slide>
    <h1>Handling services</h1>
    <h2>Promises and callbacks</h2>
    <app-editor [file]="code.component.handlingServices" [fontSize]="15"
                [app-focus-highlight-match]="[code.component.handlingServices.match]"></app-editor>
  </app-slide>
</app-presentation>
