.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.center-preview {
  margin: 0 auto;
}

.mewtube-preview {
  height: 100%;
  padding: 2vw;
  overflow: auto;
}

.comparision {
  padding: 0.5em;
}

.di-diagram {
  width: 800px;
  height: 308px;
  background: url(./pics/deps.svg);
  background-size: cover;
  margin: 2vw auto 0 auto;
}
