<slides-slide-meta-editor
  [presentationId]="presentationId"
  [slide]="slide"
></slides-slide-meta-editor>
<div cdkDropList (cdkDropListDropped)="reorder($event)">
  <div
    *ngFor="let block of slide.blocks; let i = index; trackBy: trackByBlockId"
    cdkDrag
  >
    <div class="block-wrapper">
      <div class="controls">
        <button mat-icon-button (click)="deleteBlock(block)" class="remove">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
      </div>
      <div class="content" *ngIf="block.type === 'html'">
        <slides-slide-html-editor
          [html]="block.code"
          (changeHtml)="updateBlockHTML(block.id, $event)"
        ></slides-slide-html-editor>
      </div>
      <div class="content" *ngIf="block.type === 'custom'">
        <slides-dynamic-renderer
          [presentationId]="presentationId"
          [slide]="slide"
          [block]="block"
          mode="edit"
        ></slides-dynamic-renderer>
      </div>
    </div>
  </div>
</div>
<slides-action-bar
  [presentationId]="presentationId"
  [slide]="slide"
  (addBlock)="addBlock($event)"
></slides-action-bar>
