<slides-presentation slides-slides-routing slides-mode-routing>

  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>


  <slides-slide *slidesIf="'intro'" no-padding milestone="TypeScript">
    <slides-title-slide title="Visual Studio Code" description="Another Code Editor?"></slides-title-slide>
  </slides-slide>

  <slides-slide *slidesIf="'about-typescript'">
    <h1 i18n>What is Visual Studio Code?</h1>
    <div row>
      <div>
        <h2 i18n>Visual Studio Code is a free, open-source code editor developed by Microsoft</h2>
        <ul>
          <li i18n>built with Github Electron, and written in HTML, CSS,and Javascript</li>
          <li i18n>offers a robust extensible architecture and is highly customizable</li>
          <li><span i18n>built-in perks include:</span>
            <ul>
              <li i18n>Source Control</li>
              <li i18n>Extensions Marketplace</li>
              <li i18n>Debugger</li>
              <li i18n>Built-in Terminal</li>
            </ul>
        </ul>
      </div>
    </div>
  </slides-slide>


  <slides-slide>
    <h1 i18n>Why Use Visual Studio Code?</h1>
    <h2 i18n>It has awesome tooling support and works especially well with Typescript.</h2>
    <h2 class="feature-title" i18n>
      It comes with <em>Intellisense</em>, which provides code completion and code info.
    </h2>
    <div row>
      <div class="col-6 vscode-gifs">
        <img src="https://code.visualstudio.com/images/intellisense_intellisense.gif" alt="IntelliSense demo gif">
      </div>
      <div class="col-6 vscode-gifs">
        <img src="https://raw.githubusercontent.com/ionutvmi/path-autocomplete/master/demo/path-autocomplete.gif"
             alt="IntelliSense demo gif">
      </div>
    </div>
  </slides-slide>


  <slides-slide>
    <h1 i18n>No Really, Why Use Visual Studio Code?</h1>
    <h2 i18n>Missing Reference? Syntax Error? No problem!</h2>
    <h2 class="feature-title" i18n>
      Look for the lightbulb to shed some light on the issue and maybe even automatically fix it for you.
    </h2>
    <div row>
      <div class="col-6 vscode-gifs">
        <img src="https://code.visualstudio.com/images/language-support_quick-fixes.gif" alt="IntelliSense demo gif">
      </div>
    </div>
  </slides-slide>


  <slides-slide>
    <h1 i18n>OK, How Do I Get VSCode?</h1>
    <div row>
      <div class="col-6">
        <h2 i18n>Interested? Curious?</h2>
        <h2 i18n>Ready to join the cult?</h2>
        <ol>
          <li i18n>Click <a href="https://code.visualstudio.com/" target="_blank">here</a> to download.</li>
          <li i18n>Run the installer</li>
          <li i18n>Enjoy!</li>
          <li i18n>Profit???</li>
        </ol>
      </div>
      <div class="col-6">
        <img src="http://i.imgur.com/dac74Al.gif">
      </div>
    </div>
  </slides-slide>


  <slides-slide>
    <h1 i18n>Popular extensions</h1>
    <div row>
      <ul>
        <li><span i18n>are many extensions available for VSCode. Some good ones include:</span>
          <ul>
            <li i18n>
              <a href="https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons"
                 target="_blank">vscode-icons</a> - Adds icons to your file tree (ohhhh shiny)
            </li>
            <li i18n>
              <a href="https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig" target="_blank">Editor
                Config</a> - Editor Config Plugin for vs code
            </li>
            <li i18n>
              <a href="https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint" target="_blank">ESLint</a>
              - JS linter plugin
            </li>
            <li i18n>
              <a href="https://marketplace.visualstudio.com/items?itemName=eg2.tslint" target="_blank">TSLint</a> -
              TypeScript linter plugin (Moarrrrr linter)
            </li>
            <li i18n>
              <a href="https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify"
                 target="_blank">Beautify</a> - Beautify code, if you don't like JS-beautify
            </li>
            <li i18n>
              And many many more! check out the <a href="https://marketplace.visualstudio.com/VSCode" target="_blank">offical
              site</a> and <a href="https://github.com/viatsko/awesome-vscode" target="_blank">Awesome VS Code</a> for
              more!
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </slides-slide>

  <slides-slide>
    <!--TODO: Add Mac shortcuts?-->
    <h1 i18n>Common Keyboard Shortcuts</h1>
    <ul>
      <li i18n>Formats your code (Shift+Alt+F)</li>
      <li i18n>Open New Window (Ctrl+Shift+N)</li>
      <li i18n>Open Project Folder (Ctrl+K,Ctrl+O)</li>
      <li i18n>Go to File (Ctrl+P)</li>
      <li i18n>Expand Selection (Shift+Alt+Right)</li>
      <li i18n>Search multiple File (Ctrl+Shift+F)</li>
      <li i18n>Go to Definition (F12)</li>
      <li i18n>Rename (F2)</li>
      <li i18n>Multiple Cursor(Alt+Mouse)</li>
      <li i18n>See more <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf"
                           target="_blank">here</a></li>
    </ul>
    <p i18n>
      Miss your old editor keymap? Try out of one of these extensions:
      <a href="https://marketplace.visualstudio.com/items?itemName=vscodevim.vim" target="_blank">Vim</a>,
      <a href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.sublime-keybindings"
         target="_blank">Atom</a>,
      <a href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.atom-keybindings"
         target="_blank">Sublime</a>
    </p>
  </slides-slide>


  <slides-slide>
    <!--TODO: mac shortcuts-->
    <h1 i18n>What!? you forgot all the shortcuts already?</h1>
    <h2 i18n>No problem, VSCode has your back. Hit (F1) or (ctrl+shift+p) and type the command you want to perform</h2>
    <div class="col-6 vscode-gifs">
      <img src="https://code.visualstudio.com/images/javascript_formatter.gif" alt="IntelliSense demo">
    </div>
  </slides-slide>


  <slides-slide  *slidesIf="'end'; milestone: 'Visaul-Studio-Code'">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of Visual Studio Code Section</h1>
      </div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
        <ul>
          <li i18n><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code Offical Site</a></li>
        </ul>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          <a routerLink="/">Back to Index</a>
          <!--<a routerLink="/bootstrap/0">Go to the next Milestone</a>-->
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>


</slides-presentation>
