
:host ::ng-deep {
  --font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;

  aside {
    background: #ebf7ff;
    padding: 8px;
    margin: 16px -8px -8px -8px;
    border-radius: 8px;
    font-size: var(--font-size);

    &:before {
      content: '❤️';
      display: inline-block;
      margin-right: 10px;
      color: #b02121;
    }
  }

  pre {
    background: #f7ffeb;
    padding: 24px;
    margin: 16px 0 24px;
    border-radius: 8px;
  }

  b {
    color: #d01515;
    font-weight: 400;
  }

  ul,
  p, // TODO(kirjs): Improve the specificity
  li:not(.action-item):not(.action-item):not(.action-item) {
    margin-bottom: 24px;
    font-size: var(--font-size);
  }


}
