<mat-card
  [@changeRoute]="animationState$ | async"
  (@changeRoute.done)="animationDoneHandler()"
  *ngIf="question && questionIndex <= totalQuestions">

  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title i18n>{{ quizData?.milestone }} Quiz</mat-card-title>
    <mat-card-subtitle i18n>Assess your knowledge of {{ quizData?.milestone }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <codelab-scoreboard></codelab-scoreboard>

    <section id="question" [ngClass]="!answer || answer.length === 0 ? 'unanswered': 'answered'">
      <span *ngIf="!answer || answer.length === 0" i18n>{{ question?.questionText }}&nbsp;
        <span class="number-correct" *ngIf="numberOfCorrectOptions > 1">
          <em>({{ numberOfCorrectOptions }} options are correct.)</em>
        </span>
      </span>
      <span *ngIf="answer && answer.length > 0" i18n>{{ explanationText }}</span>
    </section>

    <codelab-quiz-question
      [question]="question"
      (answer)="selectedAnswer($event)">
    </codelab-quiz-question>
  </mat-card-content>

  <mat-card-footer>
    <section class="paging">
      <mat-card-actions>
        <mat-nav-list>
          <div class="prev-question-nav" *ngIf="question && questionIndex > 1">
            <button
              type="button"
              mat-flat-button
              (click)="previousQuestion()"
              matTooltipPosition="above"
              matTooltip="&laquo; Previous Question">
              <svg
                viewBox="0 0 410.258 410.258"
                style="enable-background: new 0 0 410.258 410.258">
                <polygon
                  fill="#007aff"
                  points="298.052,24 266.052,0 112.206,205.129 266.052,410.258 298.052,386.258 162.206,205.129 " />
              </svg>
            </button>
          </div>

          <div class="restart-nav" *ngIf="question && (questionIndex > 1) && (questionIndex < totalQuestions)">
            <button
              type="button"
              mat-flat-button
              (click)="restart()"
              matTooltipPosition="above"
              matTooltip="Restart Quiz">
              <svg
                viewBox="0 0 305.836 305.836"
                style="enable-background: new 0 0 305.836 305.836">
                <path
                  fill="#007aff"
                  d="M152.924,300.748c84.319,0,152.912-68.6,152.912-152.918c0-39.476-15.312-77.231-42.346-105.564
	                c0,0,3.938-8.857,8.814-19.783c4.864-10.926-2.138-18.636-15.648-17.228l-79.125,8.289c-13.511,1.411-17.999,11.467-10.021,22.461
	                l46.741,64.393c7.986,10.992,17.834,12.31,22.008,2.937l7.56-16.964c12.172,18.012,18.976,39.329,18.976,61.459
	                c0,60.594-49.288,109.875-109.87,109.875c-60.591,0-109.882-49.287-109.882-109.875c0-19.086,4.96-37.878,14.357-54.337
	                c5.891-10.325,2.3-23.467-8.025-29.357c-10.328-5.896-23.464-2.3-29.36,8.031C6.923,95.107,0,121.27,0,147.829
	                C0,232.148,68.602,300.748,152.924,300.748z" />
              </svg>
            </button>
          </div>

          <div
            class="next-question-nav"
            *ngIf="question && questionIndex !== totalQuestions">
            <button
              type="button"
              mat-flat-button
              (click)="nextQuestion()"
              matTooltipPosition="above"
              matTooltip="Next Question &raquo;">
              <svg
                viewBox="0 0 410.258 410.258"
                style="enable-background: new 0 0 410.258 410.258">
                <polygon
                  fill="#007aff"
                  points="144.206,0 112.206,24 248.052,205.129 112.206,386.258 144.206,410.258 298.052,205.129 " />
              </svg>
            </button>
          </div>

          <div class="show-score-nav" *ngIf="question && questionIndex === totalQuestions">
            <button
              type="submit"
              mat-raised-button
              (click)="results()"
              disableRipple="true"
              class="btn btn-outline-primary">
              <strong>Show Your Score</strong>
            </button>
          </div>
        </mat-nav-list>
      </mat-card-actions>
    </section>

    <section class="progress-bar" *ngIf="question && questionIndex > 1">
      <ngb-progressbar
        max="100"
        type="success"
        [striped]="true"
        [animated]="true"
        [value]="progressValue"
        class="progress-bar bg-info">
        <strong>{{ progressValue }}%</strong>
      </ngb-progressbar>
    </section>
  </mat-card-footer>
</mat-card>
