<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="Title"
    required
    [(ngModel)]="cellSize"
    (ngModelChange)="prepare()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="Width"
    required
    [(ngModel)]="width"
    (ngModelChange)="prepare()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="height"
    required
    [(ngModel)]="height"
    (ngModelChange)="prepare()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="rowSize"
    required
    [(ngModel)]="rowSize"
    (ngModelChange)="prepare()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="rule"
    required
    [(ngModel)]="rule"
    (ngModelChange)="prepare()"
  />
</mat-form-field>
<mat-form-field>
  <input
    type="number"
    matInput
    placeholder="steps"
    required
    [(ngModel)]="steps"
    (ngModelChange)="prepare()"
  />
</mat-form-field>

<span>
  90, 110, 184, 30
</span>

<kirjs-rule3 [arrow]="true" [rule]="rule"></kirjs-rule3>

<kirjs-webassembly-runner
  [width]="width"
  [height]="height"
  class="runner"
  [webAssemblyCode]="wat"
  [jsCode]="js"
></kirjs-webassembly-runner>
