@import "variables";

.return {
  clear: left;
  text-align: center;
  margin-top: 10px;

  a.btn {
    margin-right: 15px;
    background-color: $light-sea-green;
    color: $white;
    border: 1px solid $black;
    border-radius: 5px;
  }

  .mdc-button {
    display: inline-flex;
    vertical-align: middle;
  }
}

/* add ripple effect to buttons */
a.btn {
  position: relative;
  overflow: hidden;

  &::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    /* Center the ripple */
    top: 50%;
    left: 50%;

    animation: ripple 1s;
    opacity: 0;
  }
  &:focus:not(:active)::after {
    display: block;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
