<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>
  <div class="btn-bar">

    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>


  <slides-slide id="intro" no-padding milestone="TypeScript">
    <slides-title-slide
      title="TypeScript"
      description="Angular is written in TypeScript. Learn more about the language basics."
      prereqs="Basic understanding of JavaScript is required."
    ></slides-title-slide>
  </slides-slide>

  <slides-slide id="about-typescript-2" milestone="TypeScript">
    <h1 i18n>TypeScript</h1>
    <div row>
      <div>
        <ul>
          <li i18n><b>TypeScript</b> is a language that transpiles to JavaScript. It extends <b>ES5</b> standard (current
            version of JavaScript supported by modern browsers)
          </li>
          <li i18n>It adds features from the next version - <b>ES6</b> (mostly supported by modern browsers)
          </li>
          <li i18n>On top of it, it adds an optional Type System and decorators (we'll learn about them later)
          </li>
        </ul>
      </div>
      <div class="space-left">
        <svg width="460" height="460" xmlns="http://www.w3.org/2000/svg" style="margin:0 auto;">
          <g>
            <ellipse stroke="#000" ry="227.013155" rx="229.499997" cy="227.986845" cx="228.999988"
                     st roke-width="1.5" fill="#09bcd3"></ellipse>
            <ellipse stroke="#000" ry="120.786392" rx="125.000014" cy="314.213608" cx="286.499992"
                     stroke-width="1.5" fill="#b060b0"></ellipse>
            <ellipse stroke="#000" ry="57.866101" rx="58.500002" cy="356.133899" cx="335" stroke-width="1.5"
                     fill="#7baaf7"></ellipse>
            <text stroke="#000"
                  transform="matrix(13.140515327453613,0,0,2.8643743991851807,-3943.7705259025097,-461.11222444847226) "
                  font-size="24" y="272"
                  x="342.016307" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000"></text>
            <text stroke="#000"
                  transform="matrix(18.086650848388672,0,0,3.8073328758437137,-6947.660337984561,-421.3642402462918) "
                  font-size="24" y="162"
                  x="393.328125" stroke-opacity="null" stroke-width="0" fill="#000000"></text>
            <text font-size="24" y="129" x="84.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>ES7
            </text>
            <text font-size="24" y="173" x="83.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>Decorators
            </text>
            <text font-size="24" y="214.593269" x="83.5" stroke-opacity="null"
                  stroke-width="0" stroke="#000" fill="#000000" i18n>Types
            </text>
            <text font-size="33" y="81" x="83.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>TypeScript
            </text>
            <text font-size="20" y="293" x="188.5"
                  stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000" i18n>Classes
            </text>
            <text font-size="20" y="315" x="188.5" stroke-opacity="null" stroke-width="0"
                  stroke="#000" fill="#000000" i18n>Modules
            </text>
            <text font-size="20" y="339.593269" x="189.5"
                  stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000" i18n>More...
            </text>
            <text font-size="25"
                  y="262" x="188.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">ES6
            </text>
            <text font-size="33"
                  y="371" x="306.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">ES5
            </text>
          </g>
        </svg>
      </div>
    </div>
  </slides-slide>

  <!--  NUMBER-TYPE  -->
  <slides-slide slidesIntroJs [introJsBefore] = "introJsBefore" [introJsAfter]="introJsAfter" id="type-mini-exercise" milestone="TypeScript">
    <h1 data-step="1" data-intro="Welcome to the first coding exercise!" i18n>TypeScript / Type System</h1>
    <h2 i18n>2 + 2 = 4? Not always the case in JavaScript. Luckily TypeScript allows us to add types and detect the issue
      early</h2>
    <div data-step="2" data-intro="These are the exercise instructions." class="exercise"
         [class.solved]="tsexercises.solved" i18n>
      Exercise: Try to get the desired output by changing the function inputs below:
    </div>
    <slides-playground [config]="code.tsExercise"
                       [focus-highlight-match]="[code.tsExerciseMatch]"
                       [browserUseConsole]="true"
                       #tsexercises
    ></slides-playground>
    <div
      data-step="4"
      data-intro="Sometimes there are helpful hints down here! 🕵🏻‍♀️"
      data-position="top"
      class="info"
      i18n>
      The code above is editable!
    </div>
  </slides-slide>

  <slides-slide id="types-primitives" milestone="TypeScript">
    <h1 i18n>TypeScript / Types / Primitives (strings, numbers, etc...)</h1>
    <h2 i18n>Types are defined as <b>variableName: type</b></h2>
    <slides-code-editor path="types.ts" [fontSize]="25" [readonly]="false"
                        [code]="code.moreTypes.code"></slides-code-editor>
    <div class="info" i18n>
      <b>const</b> is a new way to declare variables (introduced in <b>ES6</b>). Similar to <b>var</b>,
      but has block scope, and shows an error if the value is reassigned.
    </div>
  </slides-slide>

  <slides-slide id="types-more" milestone="TypeScript">
    <h1 i18n>TypeScript / Types / Interfaces</h1>
    <h2 i18n>TypeScript allows to define more complex objects using interfaces:</h2>
    <slides-code-editor path="puppies.ts" [fontSize]="25" [readonly]="false"
                        [code]="code.moreTypes.codeInterfaces"></slides-code-editor>
    <div class="info" i18n>
      Here, <b>realPuppy</b> is an instance of the <b>Puppy</b> Interface.
    </div>
  </slides-slide>

  <slides-slide id="types-arrays" milestone="TypeScript">
    <h1 i18n>TypeScript / Types / Arrays</h1>
    <h2 i18n>Arrays are defined as <b>Array&lt;Type&gt;</b> or <b>Type[]</b></h2>
    <slides-playground [config]="code.moreTypes.codeArrays" [browserUseConsole]="true"></slides-playground>
  </slides-slide>

  <!--  CLASSES  -->
  <slides-slide id="classes" milestone="TypeScript">
    <h1 i18n>TypeScript / Classes</h1>
    <h2 i18n>TypeScript has <b>classes</b>, and Angular uses them heavily.</h2>
    <h2 i18n>They are similar to classes in other languages, and are used to group methods and properties together</h2>
    <slides-playground [config]="code.classDescription.code" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.classPuppyMatch]"></slides-playground>
  </slides-slide>
  <slides-slide id="classes-constructor" milestone="TypeScript">
    <h1 i18n>TypeScript / Classes / Constructor</h1>
    <h2 i18n>
      There's a special method on the class called <b>constructor</b>. It's run when the class is instantiated and
      allows
      the class to take parameters
    </h2>
    <slides-playground [config]="code.classDescription.codeConstructor" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.constructorMatch,code.classDescription.matches.edouardMatch]"></slides-playground>
  </slides-slide>

  <slides-slide id="classes-access-modifier" milestone="TypeScript">
    <h1 i18n>TypeScript / Classes / Access Modifiers</h1>
    <h2 i18n>
      Constructor parameters marked as <b>public</b> (or private, or protected), become class properties accessible as
      <b>this.&lt;parameter name&gt;</b> within the class
    </h2>
    <slides-playground [config]="code.classDescription.codeConstructor" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.thisMatch,code.classDescription.matches.publicMatch]"></slides-playground>
    <div class="info" i18n>private or protected properties are not visible outside of the class.</div>
  </slides-slide>

  <slides-slide id="export" milestone="TypeScript">
    <h1 i18n>TypeScript / Export</h1>
    <h2 i18n>By the way, did you notice the <b>export</b> keyword before class? It is used to share information
      between files. In the next slide, we'll show you how to export and use this class in a different file</h2>
    <slides-code-editor
      path="puppy.ts"
      [focus-highlight-match]="[code.classDescription.matches.exportMatch]"
      [code]="code.classDescription.codeExport.files[0].code"></slides-code-editor>
  </slides-slide>

  <slides-slide id="import" milestone="TypeScript">
    <h1 i18n>TypeScript / Import</h1>
    <h2 i18n>Now we can use the <b>Puppy</b> class in the other file</h2>
    <slides-playground [config]="code.classDescription.codeImport" [browserUseConsole]="true"
                       [focus-highlight-match]="[code.classDescription.matches.importMatch]"></slides-playground>
    <div class="info" i18n>Imports and exports are not just for classes. They work with variables, functions and other
      things!
    </div>
  </slides-slide>

  <slides-slide id="filter" milestone="TypeScript">
    <h1 i18n>TypeScript / Filter (One last thing)</h1>
    <h2 i18n>Filter is an Array method that allows you to generate a new array keeping only the truthy values that are
      provided
      from the returning callback</h2>
    <slides-playground [config]="code.filter" [browserUseConsole]="true"></slides-playground>
  </slides-slide>

  <slides-slide id="more" milestone="TypeScript">
    <h1 i18n>TypeScript / More</h1>
    <h2 i18n>TypeScript supports lots of other cool features such as: </h2>
    <ul>
      <li i18n>Interfaces</li>
      <li i18n>Enums</li>
      <li i18n>Async / Await</li>
      <li i18n>Getters / Setters</li>
      <li i18n>Destructuring</li>
      <li i18n>Arrow functions</li>
      <li i18n>And more!</li>
    </ul>
    <h2 i18n>We won't cover them in detail, check out the <a href="http://www.typescriptlang.org/"
                                                        target="_blank">TypeScript</a> website!
    </h2>
  </slides-slide>

  <slides-slide id="exercise-info" milestone="TypeScript">
    <h1 i18n>TypeScript / Exercise</h1>
    <h2 i18n>In the next slide we have a TypeScript exercise</h2>
    <h3 i18n>Your task is to build a TypeScript class which will take a list of guests, and will have a method to output only
      the ones who are coming.</h3>
    <h3 i18n>The result will be as follows:</h3>
    <slides-browser-window width="100%">
      <ul>
        <li>Sir Isaac Newton</li>
        <li>Marie Curie</li>
        <li>Albert Einstein</li>
      </ul>
    </slides-browser-window>
  </slides-slide>

  <slides-slide id="exercise" no-padding>
    <slides-exercise slidesIntroJs [config]="exercises[0]" milestone="TypeScript">
      <div class="description">
        <p i18n>We created all the files for you</p>
      </div>
    </slides-exercise>
  </slides-slide>

  <slides-slide id="end">
    <slides-closing-slide>
      <div header><h1 i18n>TypeScript / Milestone Completed</h1></div>
      <div body>
        <h2 i18n>
          Now you should know enough <b>TypeScript</b> to learn <b>Angular</b>!
          Read more about TypeScript on
          <a href="http://www.typescriptlang.org/">TypeScript web site</a>
        </h2>

      </div>
      <div footer>
        <br>
        <br>
        <br>
        <h2 i18n>next:
          <a routerLink="/create-first-app/0">Learn how to create your first Angular app!</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>

</slides-presentation>
