<app-presentation app-slides-routing>
  <app-progress-bar></app-progress-bar>
  <app-arrows></app-arrows>
  <app-slide id="intro">
    <h1>TypeScript</h1>

    <p>TypeScript is a language compiled to JavaScript.</p>

    <app-code-editor [code]="sampleCode">

    </app-code-editor>
  </app-slide>

  <app-slide id="goals">
    <h1 i18n>Also</h1>
    <ul>
      <li>Interfaces</li>
      <li>Enums</li>
      <li>Async/await</li>
      <li>Getters/setters</li>
      <li>Destructuring</li>
      <li>Arrow functions</li>
      <li>And more!</li>
    </ul>
  </app-slide>

  <app-slide id="why">
    <div style="text-align: center;">
      <h1 i18n>Why TypeScript?</h1>
      <app-typescript-circles></app-typescript-circles>
    </div>
  </app-slide>
  <app-slide id="exercise">
    <app-exercise [config]="exercises[1]">
      <div class="description">
        <p>We created a TypeScript file for you, now let's add our first TS class
          called Codelab.</p>
        <p>It will take a list of guests, and will have a 'getGuestsComing' method, which will only return people
          who're
          coming.</p>
        <p>As you can see in the 'Main.ts' file we have 4 people signed up, but Charles Darwin had a last minute
          change
          of plans, so only 3 people should be returned.</p>
      </div>
    </app-exercise>
  </app-slide>
</app-presentation>
