<p>
  Test time! those two companies have "stack" in their name, but only one of
  them actually has stack as their logo. which one?
</p>

<div class="wrapper">
  <button class="company" mat-raised-button>
    <div class="name">StackOverflow.com</div>
    <div class="logo">
      <div class="so"></div>
    </div>
  </button>
  <div class="gap"></div>
  <button class="company" mat-raised-button>
    <div class="name">StackBlitz.com</div>
    <div class="logo">
      <div class="sb"></div>
    </div>
  </button>
</div>
