h2 {
  color: white;
  text-align: center;
  height: 70px;
  background-image: linear-gradient(to right, red, white);
  width: 90%;
}
div {
  width: 100%;
  display: flex;
}

span {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 20px;
}

img {
  height: 100px;
  margin-left: auto;
}
