<app-resize>
  <div class="tabs">
    <div
      class="tab"
      *ngFor="let file of visibleFiles; trackBy: trackFile"
      [class.is-active]="isOpenFile(file)"
      (click)="showFile(file)">
      {{ getFileName(file) }}
      <span
        class="readonlyIcon"
        *ngIf="file.readonly">
      </span>
    </div>
   </div>

  <app-resize [isVertical]="true">
    <div *ngFor="let file of visibleFiles; trackBy: trackFile">
      <div
         class="solution"
         *ngIf="debug && !file.readonly">
          <span (click)="onLoadSolution.emit(file)">
            [load solution]
          </span>
      </div>
      <app-editor
        class="editor"
        [class.is-hidden]="!isOpenFile(file)"
        [file]="file"
        (onCodeChange)="onCodeChange({file: file, code: $event})">
      </app-editor>
    </div>
  </app-resize>

  <div
    class="presentation"
    [class.presentation--expanded]="isExpanded">
    <div class="presentation-header">
      <button
        class="button-expand"
        (click)="expandToggle()">
      </button>
    </div>
    <div class="presentation-body">
      [ PresentationPlaceholder ]
    </div>
  </div>


</app-resize>