.editors {
  position: relative;
  overflow: scroll;
  height: 100%;
  max-width: 100%;
  padding-right: 16px;
  min-width: 300px;
}

.filename {
  cursor: pointer;
}

.arrow {
  font-size: 10px;
}

.editor {
  width: 100%;
}

.file {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #000;
  margin-bottom: 2px;
}
.file-ts {
  background: #1a67bf;
  color: white;
}
.file-html{
  background: #9cff7d;
}
