<slides-deck slides-tracking slidesRouting slidesShortcuts>
  <slides-arrow-navigation></slides-arrow-navigation>

  <!--<slides-new-progress-bar title="Angular ❤️ SVG" [fontSize]="fontSize"-->
  <!--(fontSizeChange)="fontSize =fontSize+ $event"></slides-new-progress-bar>-->


  <!--  INTRO -->
  <div no-padding *slide id="intro">
    <div class="bg intro">
      <h2>Angular ❤️ SVG
        <br>
        @kirjs</h2>
    </div>
  </div>


  <div no-padding *slide id="kirjs">
    <div class="bg kirjs">
        <ul>
          <li>I read 📖📖📖</li>
          <li>@kirjs</li>
        </ul>
    </div>
  </div>

  <div *slide id="why-svg">
    <h1>What is SVG?</h1>
    <ul>
      <li>Scalable Vector Graphic Format</li>
      <li>Can be edited with a text editor!</li>
      <li>Every object is just an XML tag</li>
      <li>Works with CSS</li>
      <li>Plays well with angular templates!</li>

    </ul>
  </div>

  <div *slide id="angular-gif">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.gifang></slides-svg-demo>
  </div>

  <div *slide id="angular-intro">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.angular></slides-svg-demo>
  </div>


  <!--  INTRO -->
  <div no-padding *slide id="svg-in-60">
    <div class="bg svg-60">
      <h2>SVG in 5 minutes</h2>
    </div>
  </div>

  <div *slide id="svg-circle">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.circle></slides-svg-demo>
  </div>

  <div *slide id="svg-ellipse">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.ellipse></slides-svg-demo>
  </div>

  <div *slide id="svg-rect">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.rect></slides-svg-demo>
  </div>

  <div *slide id="svg-line">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.line></slides-svg-demo>
  </div>

  <div *slide id="svg-text">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.text></slides-svg-demo>
  </div>


  <div *slide id="svg-linewrap">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.linewrap></slides-svg-demo>
  </div>


  <div *slide id="svg-foreign-object">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.foreignObject></slides-svg-demo>
  </div>


  <div *slide id="svg-polygon">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.polygon></slides-svg-demo>
  </div>

  <div *slide id="svg-path">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.path></slides-svg-demo>
  </div>

  <div *slide id="svg-group">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.group></slides-svg-demo>
  </div>

  <div *slide id="cool-stuff">
    <h2>Some cool stuff</h2>
  </div>

  <div *slide id="svg-clip">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.clip></slides-svg-demo>
  </div>

  <div *slide id="svg-path-2">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.path></slides-svg-demo>
  </div>

  <div *slide id="svg-clip2">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.clip2></slides-svg-demo>
  </div>

  <div *slide id="svg-textPath">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.textPath></slides-svg-demo>
  </div>


  <div *slide id="completed">
    <h2>Now you're an SVG expert! </h2>
    <h2>However SVG has a couple of edge cases</h2>
  </div>

  <div *slide id="completed2" no-padding>
    <div class="bg dog">
      <h2>Sign up for my 80 hour workshop "Wait, SVG, LOL, Really?"</h2></div>
  </div>

  <div *slide id="examples" no-padding>
    <div class="bg example">
      <h2>Let's check out some examples:</h2>
    </div>
  </div>

  <div *slide id="angular">
    <slides-svg-demo [fontSize]="fontSize" [code]=code.angular></slides-svg-demo>
  </div>

  <div *slide id="examples-hc">
    <h2><a href="https://www.highcharts.com/demo">Highcharts</a></h2>
  </div>


  <div *slide id="svg-component1" no-padding>
    <h1>SVG attributes binding</h1>
    <slides-exercise [files]="code.component1">
      <div class="description"></div>
      <slides-new-editors [fontSize]="fontSize" class="editor">
      </slides-new-editors>
      <slides-angular-preview-runner class="description"></slides-angular-preview-runner>
    </slides-exercise>
  </div>

  <div *slide id="attr-vs-prop-2">
    <h1>LOL, but why?</h1>
    <div style="height: 100%;">
      <slides-simple-editor fontSize="40" [lineNumbers]="false" [(ngModel)]="code.attrVsProp"></slides-simple-editor>
    </div>
  </div>

  <div *slide id="svg-chart" no-padding>
    <h1>Let's create a simple barchart</h1>
    <slides-exercise [files]="code.chart">
      <div class="description"></div>
      <slides-new-editors [fontSize]="fontSize" class="editor">
      </slides-new-editors>
      <slides-angular-preview-runner class="description"></slides-angular-preview-runner>
    </slides-exercise>
  </div>


  <div *slide id="svg-chart2" no-padding>
    <h1>Custom SVG Elements</h1>

    <slides-exercise [files]="code.chart2">
      <div class="description"></div>
      <slides-new-editors [fontSize]="fontSize" class="editor">
      </slides-new-editors>
      <slides-angular-preview-runner class="description"></slides-angular-preview-runner>
    </slides-exercise>
  </div>

  <!--<div *slide id="svg-chart3" no-padding>-->
  <!--<h1>Foreign object</h1>-->

  <!--<slides-exercise [files]="code.chart3">-->
  <!--<div class="description"></div>-->
  <!--<slides-new-editors [fontSize]="fontSize" class="editor">-->
  <!--</slides-new-editors>-->
  <!--<slides-angular-preview-runner class="description"></slides-angular-preview-runner>-->
  <!--</slides-exercise>-->
  <!--</div>-->

  <div *slide id="attr-vs-prop-3">
    <h1>But why?</h1>
    <div style="height: 100%;">
      <slides-simple-editor fontSize="40" [lineNumbers]="false" [(ngModel)]="code.createElement"></slides-simple-editor>
    </div>
  </div>

  <div *slide id="links">
    <h2>Links</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=ADXX4fmWHbo">SVG Can do that? (eng)</a></li>
      <li><a href="https://swimlane.github.io/ngx-charts/bar-vertical">NGX Charts</a></li>
      <li><a href="https://codelab.fun/svg/0">https://codelab.fun/svg/0</a></li>
    </ul>


  </div>

  <!--<div *slide id="draw">-->
  <!--<slides-svg-together [fontSize]="fontSize"></slides-svg-together>-->
  <!--</div>-->

  <!--<div *slide id="svg-together-result" no-padding="">-->
  <!--<slides-svg-together-result [fontSize]="fontSize"></slides-svg-together-result>-->
  <!--</div>-->


  <div *slide id="links-2" no-padding>
    <div class="bg the-end">
      <h2>@kirjs</h2>
    </div>
  </div>

  <div class="timer" no-padding>
    <slides-timer></slides-timer>
  </div>

</slides-deck>
