:host {
  box-shadow: 0 0 1px 1px #ddd;
  display: block;
}
.block-wrapper {
  margin-bottom: 8px;
  padding: 16px;
  display: flex;
  position: relative;

  .content {
    width: 100%;
    border: 1px #efefef dotted;
  }

  &:hover .controls {
    visibility: visible;
  }

  .controls {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 2px 1px #ddd;
    top: 0;
    width: 40px;
    margin-right: 8px;
    visibility: hidden;

    [mat-icon-button] {
      mat-icon {
        color: #999;
      }
    }
  }
}
