<binary-gif [binary]="binary" style=";position: fixed; right: 0; top: 0;width: 250px;"></binary-gif>

<div>
  <div style="width: 200px;">
    <input type="file" (change)="upload(file)" #file>
  </div>
  <label>
    meta
    <input type="checkbox" [(ngModel)]="showMeta">
  </label>
  <div style="margin-right: 220px;">
    <binary-flat (updateBinary)="updateBinary($event)" [parser]="parser" [binary]="binary"></binary-flat>
    <!--<slides-binary-parent (updateBinary)="updateBinary($event)" [parser]="parser" [binary]="binary"-->
    <!--[showMeta]="showMeta"></slides-binary-parent>-->
  </div>
</div>


