@import "variables";

.statistics {
  h3, span, .quiz-feedback {
    text-align: center;
  }

  span {
    display: block;
  }

  .your-score, .elapsed-time {
    font-size: 18px;
    font-weight: bold;
  }

  .result {
    font-family: $font-stack;
    font-size: 26px;
    display: inline;
  }

  .progress-bar {
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .quiz-feedback {
    margin-top: 20px;

    img {
      width: 180px;
      height: 180px;
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    ul {
      line-height: 0.5;

      li {
        list-style-type: square;
        text-align: left;
        margin-left: 16%;
        width: 500px;
      }
    }

    .resource-title {
      font-weight: bold;
      font-style: italic;
      display: inline;
    }
    .resource-host {
      font-style: italic;
      display: inline;
    }
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .quiz-feedback > ul { margin-left: -200px !important; }
  ngb-progressbar { margin-top: 15px !important; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
