<div #translations style="display: none">
  <div i18n="@@thisIsValidHTML" id="thisIsValidHTML">This is valid HTML syntax.</div>
  <div i18n="@@worksOnAttributeSyntax" id="worksOnAttributeSyntax">It works on attribute syntax.</div>
  <div i18n="@@allowsToConditionallyBindClass" id="allowsToConditionallyBindClass">It allows to conditionally bind a class</div>
  <div i18n="@@orStyleProps" id="orStyleProps">Or style properties</div>
  <div i18n="@@worksWithCustomComponents" id="worksWithCustomComponents">And work with custom components!</div>
  <div i18n="@@whenUserClicksItCallsSaveUser" id="whenUserClicksItCallsSaveUser">When user clicks the button, it calls the "saveUser" function on the
    component instance and passes the underlying event.</div>
  <div i18n="@@youCanAlsoCreateEventsForCustomComponents" id="youCanAlsoCreateEventsForCustomComponents">You can also create events for custom components. Here we have a
    depleted event, and it's going to call the "soundAlarm" function
    on the component instance when it fires.</div>
  <div i18n="@@thereAreShortcutEventBindings" id="thereAreShortcutEventBindings">There are also shortcut event bindings! The submit function on the
    component instance will be called when the user presses control
    and enter (this is an Angular feature).</div>
  <div i18n="@@userNameHasRefToInput" id="userNameHasRefToInput">userName has a reference to the input element</div>
  <div i18n="@@tryChangingToTrue" id="tryChangingToTrue">Try changing to true!</div>
  <div i18n="@@needToRepeatPuppiesHere" id="needToRepeatPuppiesHere">Need to repeat puppies here</div>
</div>
<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>
  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>

    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide *slidesIf="'intro'" no-padding>
    <slides-title-slide
      title="Templates"
      description="Learn more about Angular templates!"
      prereqs=""
    ></slides-title-slide>
  </slides-slide>


  <!--  COMPONENT -->
  <slides-slide *slidesIf="'component'; milestone: 'Templates'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n="@@intro">Intro</ng-container></h1>
    <h2 i18n>Angular has a very expressive template system, which takes HTML as a base, and extends it with custom
      elements</h2>
    <slides-playground [config]="code.template.intro"></slides-playground>
  </slides-slide>

  <!--  INTERPOLATION-->
  <slides-slide *slidesIf="'interpolation'; milestone: 'Templates'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Interpolation</ng-container></h1>
    <h2 i18n>Double curlies allow you to include properties from the component</h2>
    <slides-playground [config]="code.template.interpolation"
                       [focus-highlight-match]="[code.template.matches.curlies,code.template.matches.firstName]"></slides-playground>
    <div class="info" milestone="Templates" style="margin-top: -8px;" i18n>
      Backticks <b>` `</b>, are magic quotes that allow multi-line strings and text interpolation.
    </div>
  </slides-slide>


  <!--INTERPOLATION-METHOD-->
  <slides-slide *slidesIf="'interpolation-method'; milestone: 'Templates'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Interpolation</ng-container></h1>
    <h2 i18n>
      Simple expressions are also allowed, you can run a component method (like fullName() below), or calculate
      <code>323213+34234</code>
    </h2>
    <slides-playground [config]="code.template.interpolationMethod"
                       [focus-highlight-match]="[code.template.matches.curlies,code.template.matches.fullName]"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'exercise-pre'; milestone: 'Templates'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n="@@exercise">Exercise</ng-container></h1>
    <h2 i18n>In the next slide you'll edit component template to create a simple header and search form. The result will
      look like
      this:</h2>

    <slides-exercise-preview column-5 [config]="exercises[0]"></slides-exercise-preview>
  </slides-slide>

  <slides-slide *slidesIf="'exercise'; " no-padding>
    <slides-exercise [files]="exercises[0].files">
      <div class="description"></div>
      <slides-new-editors class="editor">
      </slides-new-editors>
      <slides-slides-preview milestone="Templates" class="slides-preview">
      </slides-slides-preview>
      <slides-angular-test-runner class="tests"></slides-angular-test-runner>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>

  <!--  PRE DATA BINDING-->
  <slides-slide *slidesIf="'data-binding-pre'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Interpolation</ng-container> / <ng-container i18n>Properties</ng-container></h1>
    <h2 i18n>String interpolation <b>{{ curlies }}</b> can also be used to pass avalue to a child element's attribute
    </h2>
    <slides-playground [config]="code.template.dataBindingPre"
                       [focus-highlight-match]="[code.template.matches.curliesAttribute]"></slides-playground>
  </slides-slide>

  <!--  DATA BINDING  -->
  <slides-slide *slidesIf="'data-binding'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Property Binding</ng-container></h1>
    <h2 i18n>Another option is to use property binding <b>[attribute] = property</b></h2>
    <slides-playground [config]="code.template.dataBinding"
                       [focus-highlight-match]="[code.template.matches.squares]"></slides-playground>
    <div class="info" style="margin-top: -10px; z-index: 2;" i18n>
      You can use arbitrary expressions in the binding.
    </div>
  </slides-slide>

  <!--  DATA BINDING EXTRAS-->
  <slides-slide *slidesIf="'data-binding-extras'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Data binding extras</ng-container></h1>
    <h2 i18n>Angular supports more advanced property bindings than just attribute name</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.template.dataBindingExtra"
      type="html">
    </slides-code-editor>
  </slides-slide>


  <!--  BINDING EVENT -->
  <slides-slide *slidesIf="'event-binding'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Event binding: (event)</ng-container></h1>
    <h2 i18n>The bindings directives you've met so far flow data in one direction: from a component to an element</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.eventBinding"
      [fontSize]="25"
      [focus-highlight-match]="[code.eventBindingMatch]"
      [readonly]="true"
      type="html">
    </slides-code-editor>
    <div class="info" i18n>
      While Parentheses are used for event binding: <b>(event)</b>, "on-" can also be used: <b>on-event</b>.
    </div>
  </slides-slide>

  <!--  REFERENCE BINDING -->
  <slides-slide *slidesIf="'reference-binding'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Reference binding ( #var )</ng-container></h1>
    <h2 i18n>
      Sometimes we need to access a HTML element or Angular component from the template. We can mark it with <b>#userName</b>,
      and it becomes available as <b>userName</b> everywhere in the template</h2>
    <slides-code-editor
      path="app.component.html"
      [code]="code.bindingRef"
      [fontSize]="25"
      [focus-highlight-match]="[code.bindingRefMatch, code.bindingRef2Match]"
      [readonly]="true"
      type="html">
    </slides-code-editor>
  </slides-slide>

  <!--  CONDITIONAL DISPLAY-->
  <slides-slide *slidesIf="'conditional-display-ngif'; milestone: 'Templates2'">
    <h2 i18n>Templates / Conditional Display (*ngIf)</h2>
    <p i18n>
      This conditional expression will add or remove an element from the DOM if it evaluates as a truthy
    </p>
    <slides-playground [config]="code.ngIfDirective.template"
                       [focus-highlight-match]="[code.ngIfDirective.matches.ngIf]"></slides-playground>
  </slides-slide>


  <slides-slide *slidesIf="'exercise-2-pre'; milestone: 'Templates2'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Exercise 2</ng-container></h1>
    <h2 i18n>In the next slide you'll add a click handler to the search button, and display a message for the case where
      no
      videos were found. The result will look like this:</h2>

    <slides-exercise-preview column-5 [config]="exercises[1]"></slides-exercise-preview>
  </slides-slide>

  <slides-slide *slidesIf="'exercise-2-pre'" no-padding>
    <slides-exercise [files]="exercises[1].files">
      <div class="description"></div>
      <slides-new-editors class="editor">
      </slides-new-editors>
      <slides-slides-preview milestone="Templates" class="slides-preview">
      </slides-slides-preview>
      <slides-angular-test-runner class="tests"></slides-angular-test-runner>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide *slidesIf="'repeating'; milestone: 'Templates3'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Repeating elements</ng-container></h1>
    <h2 i18n>
      Let's say you have an array of puppies, and want to display all of them on them page. Angular has a special syntax
      for that called <b>*ngFor</b>, let's see how it works on the next slide
    </h2>
    <slides-playground [config]="code.ngForDirectivePre.template"
                       [focus-highlight-match]="code.ngForDirectivePre.matches"></slides-playground>
  </slides-slide>

  <slides-slide *slidesIf="'conditional-display-ngfor'; milestone: 'Templates3'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Repeating elements (*ngFor)</ng-container></h1>
    <h2 i18n>
      Here <b>*ngFor</b> repeats HTML element it's attached to (li in this case) for every single puppy in the puppies
      array
    </h2>
    <slides-playground #forExercise [config]="code.ngForDirective.template"
                       [focus-highlight-match]="[code.ngForDirective.matches.ngFor]"></slides-playground>
    <div class="info" i18n>HTML attributes in <b>Angular</b> are case sensitive: <b><s>*ngfor</s></b> won't work, <b>*ngFor</b>
      will
    </div>
  </slides-slide>


  <slides-slide *slidesIf="'exercise-3-pre'; milestone: 'Templates3'">
    <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Exercise 3</ng-container></h1>
    <div flex>
      <div column-5>
        <h2 i18n>
          In the next slide you'll finally display the videos! The result will look like this:
        </h2>
      </div>
      <slides-exercise-preview column-5 [config]="exercises[2]"></slides-exercise-preview>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'exercise-3'" no-padding>
    <slides-exercise [files]="exercises[2].files">
      <div class="description"></div>
      <slides-new-editors class="editor">
      </slides-new-editors>
      <slides-slides-preview milestone="Templates" class="slides-preview">
      </slides-slides-preview>
      <slides-angular-test-runner class="tests"></slides-angular-test-runner>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide *slidesIf="'end'">
    <slides-closing-slide>
      <div class="header" header>
        <h1><ng-container i18n>Templates</ng-container> / <ng-container i18n>Milestone Completed!</ng-container></h1>
      </div>
      <div class="body" body>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          Next: <a routerLink="/dependency-injection/intro">Learn how to use Angular Dependency Injection</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>

</slides-presentation>
