@import "variables";

.container {
  margin-top: 1%;
  margin-bottom: 20px;
  width: 1100px;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid $black;
  background: transparentize($light-gray, 0.5);

  header {
    height: 100px;
    display: grid;
    grid-template-columns: 250px 850px 50px;
    padding-bottom: 60px;

    .logo {
      padding-top: 20px;
      padding-left: 30px;

      img {
        text-align: center;
        width: 160px;
        height: 80px;
        cursor: pointer;
      }
    }

    h1 {
      font-family: $font-stack;
      font-weight: $font-weight-max;
      color: $dodger-blue;
      margin-top: 15px;
    }

    h4 {
      margin-left: 40px;
      font-style: italic;
    }

    .info {
      margin-top: 20px;
      margin-left: -100px;

      i {
        font-size: 40px;

        &:hover {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }
      }
    }
  }

  .toolbar {
    width: 220px;
    padding-top: 30px;
    margin: 0 auto;
    background-color: transparentize($light-gray, 0.5);

    button {
      &:hover {
        border: 1px solid $dodger-blue;
      }

      span {
        font-size: 24px;
        font-weight: 700;
        color: $fire-red;
      }
    }
  }

  .quiz-grid {
    margin: 10px 0 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .quiz-tile {
      margin: 0 10px 20px 0;
      width: 320px;
      height: 350px;
      background-color: $off-white;
      border: 1px solid $black;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $very-light-gray;
        border: 2px solid $dodger-blue;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }

      &:active, &:visited {
        border: 2px solid $dodger-blue;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }

      &.completed {
        opacity: 0.6 !important;
      }

      .quiz-info {
        list-style-type: none;
        margin: 65% 0 0 5px;
        padding: 10px;
        width: 370px;
        height: 110px;

        .quiz-title {
          font-weight: $font-weight-max;
          margin-top: 20px;
          color: $fire-red;
        }

        .quiz-summary {
          font: 700 14px "Helvetica Neue", sans-serif;
          text-align: justify;
          width: 280px;
        }
      }

      .status-icon {
        position: relative;
        top: -310px;
        left: 285px;

        i {
          font-size: 24px;
          color: $green-angular-leaf;
        }
      }
    }
  }

  footer {
    margin-bottom: 5px;
    padding-top: 50px;
    padding-bottom: 20px;

    h3 {
      font-weight: $font-weight-max;
      color: $fire-red;
      text-align: center;
    }

    a {
      color: $fire-red;
      text-decoration: none;
    }
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .container { width: 450px; height: fit-content; }
  header { display: grid !important; grid-template-columns: 240px auto auto !important; height: fit-content !important; padding-bottom: 10px !important; }
  .logo { width: 50px; height: 50px; margin-left: -20px !important; }
  h1 { margin-left: -80px; display: inline-block !important; word-break: break-word !important; }
  h4 { margin-left: -170px !important; margin-top: 15px !important; display: inline-block !important;
    word-break: break-word !important; }
  .toolbar { margin-top: 0 }
  .quiz-grid { width: 420px; padding-bottom: 20px; display: grid !important; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important; grid-template-rows: auto !important; }
  .quiz-tile {
    width: 380px;
    height: 370px;
    margin-left: 30px !important;
  }
  footer { width: 440px; margin: 0 auto !important; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
