.slide-size {
  width: 1280px;
  height: 720px;
}

.slide-title-header {
  height: 50%;
  color: #222;
}

.slide-title {
  position: absolute;
  left: 5vw;
  bottom: 50%;
  font-size: 20vh;
}

.slide-title-background {
  height: 50%;
  background-color: #982a2a;
}

.slide-title-description {
  width: 75%;
  position: relative;
  top: 15%;
  left: 5vw;
  font-weight: lighter;
  font-size: 4vh;
  color: white;
}

.slide-title-prereqs {
  position: absolute;
  left: 5vw;
  top: calc(98% - 3vh);
  font-size: 3vh;
  font-weight: lighter;
  color: white;
}

.slide-title-instructions {
  position: relative;
  left: 5vw;
  top: calc(78% - 12vh);
  font-size: 4vh;
  color: white;
}

.left-half-ripple {
  overflow: hidden;
  margin: 0;
  height: 25vw;
  width: calc(25vw / 2 + 2vw);
  position: absolute;
  top: calc(50% - 25vw / 2);
  right: 0;
}
