#slide-title-header {
	height:  50vh;
	color:  #222;
}

#slide-title {
	position: absolute;
	left:  5vw;
	bottom: 50vh;
	font-size:  25vh;
}

#slide-title-background {
	height:  50vh;
    background-color: #982a2a; 
}

#slide-title-description {
	width:  75vw;
	position: absolute;
	top: 60vh;
	left: 5vw;
	font-weight: lighter;
	font-size: 4vh;
	color:  white;
}

#slide-title-prereqs {
	position: absolute;
	left: 5vw;
	bottom: 2vh;
	font-size: 3vh;
	font-weight: lighter;
	color: white;
}

#slide-title-instructions {
	position:  absolute;
	left:  5vw;
	bottom: 8vh;
	font-style:  italic;
	font-size: 4vh;
	color:  white;
}

.left-half-ripple {
	overflow: hidden;
	margin: 0;
	height: 25vw;
	width: calc(25vw/2 + 2vw);
	position: absolute;
	top: calc(50vh - 25vw/2);
	right: 0vw;
}