:host {
  height: 100%;
}

.title-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #982a2a;
  color: white;
  font-size: 120px;
  padding: 40px;
}

.contents {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.description {
  font-size: 60px;
}
.instructions {
  flex-grow: 1;
  font-size: 40px;
  color: #666;
  margin-top: 20px;
}

.left-half-ripple {
  overflow: hidden;
  margin: 0;
  height: 25vw;
  width: calc(25vw / 2 + 2vw);
  position: absolute;
  top: calc(50% - 25vw / 2);
  right: 0;
}
