<div class="slide-size">
  <div class="slide-title-header">
    <div class="slide-title">{{ title }}</div>
  </div>

  <app-ripple-animation class="left-half-ripple"></app-ripple-animation>

  <div class="slide-title-background">
    <p class="slide-title-description">
      {{ description }}
    </p>

    <p class="slide-title-prereqs">
      <strong *ngIf="prereqs">Prerequisites:</strong> {{ prereqs }}
    </p>

    <p class="slide-title-instructions">
      Use ← and → on your keyboard to navigate the slides.
    </p>
  </div>
</div>
