<div class="slides-wrapper">
  <button (click)="addSlide.emit()">Add</button>

  <div cdkDropList (cdkDropListDropped)="reorder.emit($event)">
    <button
      class="slide-wrapper"
      *ngFor="let slide of slides; let i = index"
      [class.selected]="i === selectedSlide"
      inert="true"
      (click)="updateIndex(i)"
    >
      <div cdkDrag class="slide" style="text-decoration: none; color: inherit">
        <slides-slide-preview
          [slide]="slide"
          [class.selected]="i === selectedSlide"
        ></slides-slide-preview>
      </div>
    </button>
  </div>
</div>
