<svg
  width="460"
  height="460"
  xmlns="http://www.w3.org/2000/svg"
  style="margin:0 auto;"
>
  <g>
    <ellipse
      stroke="#000"
      ry="227.013155"
      rx="229.499997"
      cy="227.986845"
      cx="228.999988"
      st
      roke-width="1.5"
      fill="#09bcd3"
    ></ellipse>
    <ellipse
      stroke="#000"
      ry="120.786392"
      rx="125.000014"
      cy="314.213608"
      cx="286.499992"
      stroke-width="1.5"
      fill="#b060b0"
    ></ellipse>
    <ellipse
      stroke="#000"
      ry="57.866101"
      rx="58.500002"
      cy="356.133899"
      cx="335"
      stroke-width="1.5"
      fill="#7baaf7"
    ></ellipse>
    <text
      stroke="#000"
      transform="matrix(13.140515327453613,0,0,2.8643743991851807,-3943.7705259025097,-461.11222444847226) "
      font-size="24"
      y="272"
      x="342.016307"
      fill-opacity="null"
      stroke-opacity="null"
      stroke-width="0"
      fill="#000000"
    ></text>
    <text
      stroke="#000"
      transform="matrix(18.086650848388672,0,0,3.8073328758437137,-6947.660337984561,-421.3642402462918) "
      font-size="24"
      y="162"
      x="393.328125"
      stroke-opacity="null"
      stroke-width="0"
      fill="#000000"
    ></text>
    <text
      font-size="24"
      y="129"
      x="84.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      ES7
    </text>
    <text
      font-size="24"
      y="173"
      x="83.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      Decorators
    </text>
    <text
      font-size="24"
      y="214.593269"
      x="83.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      Types
    </text>
    <text
      font-size="33"
      y="81"
      x="83.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      TypeScript
    </text>
    <text
      font-size="20"
      y="293"
      x="188.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      Classes
    </text>
    <text
      font-size="20"
      y="315"
      x="188.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      Modules
    </text>
    <text
      font-size="20"
      y="339.593269"
      x="189.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
      i18n
    >
      More...
    </text>
    <text
      font-size="25"
      y="262"
      x="188.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
    >
      ES6
    </text>
    <text
      font-size="33"
      y="371"
      x="306.5"
      stroke-opacity="null"
      stroke-width="0"
      stroke="#000"
      fill="#000000"
    >
      ES5
    </text>
  </g>
</svg>
