<slides-presentation slides-slides-routing slides-mode-routing slides-tracking>
  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide *slidesIf="'intro'" no-padding>
    <slides-title-slide title="Routing" description="Learn how to add routing to your app"></slides-title-slide>
  </slides-slide>

  <!--  Slide 2-->
  <slides-slide *slidesIf="'custom-event-slide-2'; milestone: 'Router'">
    <h1>It takes 3 simple steps</h1>
    <ol>
      <li>Configure the routes</li>
      <li>Create the menu</li>
      <li>Find a place for where to display selected component</li>
    </ol>
  </slides-slide>


  <slides-slide *slidesIf="'router-config'; milestone: 'Router'">
    <h1>Router - configuration</h1>
    <h2>Routes are configured by defining an array of mapping between URL path and a component</h2>

    <slides-exercise [files]="code.config" [currentFile]="code.config[1]">
      <slides-new-editors class="editor"></slides-new-editors>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>

</slides-presentation>


