
.last-slide {
  display: flex;
  width: 1200px;
  height: 640px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.last-slide .header, .last-slide .body, .last-slide .footer {  
  text-align: center;
}

.last-slide .body {
  text-align: left;
}