<mat-nav-list class="wrapper">
  <div
    *ngFor="let presentation of presentations$ | async"
    class="presentation"
  >
    <div class="header">
      <div>{{ presentation.name }}</div>
      <mat-menu #menu>
        <button mat-menu-item (click)="deletePresentation(presentation.id)">
          Delete
        </button>
      </mat-menu>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <a *ngIf="presentation.slides[0] as slide" class="first-slide"
       mat-list-item
       [routerLink]="'./' + presentation.id + '/0'">
        <slides-small-slide-preview
          class="medium"
          mode="preview"
          [slide]="slide"
        ></slides-small-slide-preview>
    </a>
  </div>
</mat-nav-list>

<button mat-button (click)="addPresentation()">Create presentation</button>
