
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation {
  background: white;
  border: 1px solid #ddd;
  margin-top: 20px;
  min-height: 200px;
  padding: 0 16px 16px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-gap: 20px;
}

.mdc-list-item.mdc-list-item--with-one-line.first-slide {
  display: block;
  border-radius: 4px;
  position: relative;
  width: 220px;
  height: 160px;
  border: 1px #ddd solid;
}

.slides-slide-preview-wrapper {
  transform: scale(0.2);
  transform-origin: 0;
  position: absolute;
  left: 0;
  top: -320px;
}

slides-slide-preview {
  width: 1100px;
  height: 800px;
  display: block;
}
