<div #translations style="display: none">
  <div i18n="@@shorthandMakesProfessionAvailable" id="shorthandMakesProfessionAvailable">* Typescript shorthand makes
    'profession'
    * available to component instance.
  </div>
  <div i18n="@@assumingJobHasPropTitle" id="assumingJobHasPropTitle">assuming Job has property '.title'</div>
</div>

<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>
  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <slides-slide *slidesIf="'intro'" no-padding milestone="DependencyInjection">
    <slides-title-slide
      title="Dependency Injection" i18n-title="@@dependencyInjection"
      description="Learn more about Angular's powerful Dependency Injection system"
      i18n-description="@@dependencyInjectionLearnMore"
    ></slides-title-slide>
  </slides-slide>

  <!--  MILESTONE #3  Dependency Injection  -->
  <!-- RECAP -->
  <slides-slide *slidesIf="'recap'; milestone: 'DependencyInjection'">
    <h1 i18n="@@dependencyInjection">Dependency injection</h1>
    <h2 i18n>
      <b>Dependency Injection</b> is a way to provide dependencies to your code instead of hard-coding them
    </h2>
  </slides-slide>

  <!--  COMPARISON -->
  <slides-slide *slidesIf="'comparison'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@comparison">Comparison</ng-container>
    </h1>
    <slides-code-group class="content-container">
      <div class="col-6">
        <slides-code-editor path="person.ts" [fontSize]="15" [code]="code.withOutDI.code"
                            [focus-highlight-match]="[code.withOutDI.matches.noDI, 'profession']"></slides-code-editor>
        <h2 class="comparision" i18n>Without Dependency Injection, <b>Profession</b> has to be instantiated in the <b>Person</b>
          class</h2>
      </div>
      <div class="col-6" style="margin-left: 10px;">
        <slides-code-editor path="person-di.ts" [fontSize]="15" [code]="code.withDI.code"
                            [focus-highlight-match]="[code.withDI.matches.constructor]"></slides-code-editor>
        <h2 class="comparision" i18n>With Dependency Injection, <b>Person</b> class just "requires" an instance of <b>Profession</b>
          in the constructor, and Angular takes care of instantiating it</h2></div>
    </slides-code-group>
  </slides-slide>

  <slides-slide *slidesIf="'comparison-2'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@comparison">Comparison</ng-container>
      /
      <ng-container i18n>Parameters</ng-container>
    </h1>
    <slides-code-group class="content-container">
      <div class="col-6">
        <slides-code-editor path="person.ts" [fontSize]="15" [code]="code.withOutDI.code2"
                            [focus-highlight-match]="[code.withOutDI.matches.noDI]"></slides-code-editor>
        <h2 class="comparision">Without Dependency Injection, you have to figure out all the parameters yourself</h2>
      </div>
      <div class="col-6" style="margin-left: 10px;">
        <slides-code-editor path="person-di.ts" [fontSize]="15" [code]="code.withDI.code"
                            [focus-highlight-match]="[code.withDI.matches.constructor]"></slides-code-editor>
        <h2 class="comparision" i18n>With Dependency Injection, Angular takes care of it</h2>
      </div>
    </slides-code-group>
  </slides-slide>

  <slides-slide *slidesIf="'comparison-3'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@comparison">Comparison</ng-container>
      /
      <ng-container i18n>Testing</ng-container>
    </h1>
    <h2 i18n>Also Dependency Injection simplifies Testing a lot, because you can just pass mock dependencies as
      constructor
      parameters</h2>
    <slides-code-group class="content-container">
      <div class="col-6">
        <slides-code-editor path="person-di.ts" [fontSize]="15" [code]="code.withDI.code"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor path="person-di.spec.ts" [fontSize]="15"
                            [code]="code.withDITesting.code"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>

  <!--  Steps to create an Angular app -->
  <slides-slide *slidesIf="'angular-app'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n>Example</ng-container>
    </h1>
    <h2 i18n>Let's say we have an existing <b>UnitConverterService</b> and we want to start using it in <b>UnitConversionComponent</b>.
      It will take 3 simple steps:
    </h2>
    <ol>
      <li i18n>Mark dependency as @Injectable()</li>
      <li i18n>Provide in the module</li>
      <li i18n>Require in the component</li>
    </ol>
  </slides-slide>

  <!--  IMPLEMENTATION STEP #1  -->
  <slides-slide *slidesIf="'make-injectable'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@step1">Step 1</ng-container>
    </h1>
    <h2 i18n>Mark the class as <b>@Injectable()</b>.
      This lets Angular know that this class is part of Angular Dependency Injection system</h2>
    <slides-code-editor path="unit-converter-service.ts" [code]="code.classAsInjectable.code"
                        [focus-highlight-match]="[code.classAsInjectable.matches.injectable]"></slides-code-editor>
    <div class="info" i18n>
      If a service class is marked as injectable, it can require other services in its constructor.
    </div>
  </slides-slide>

  <!--  IMPLEMENTATION STEP #2  -->
  <slides-slide *slidesIf="'provide-injectable'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@step2">Step 2</ng-container>
    </h1>
    <h2 i18n>Provide the injectable to the <b>providers</b> section of <b>NgModule</b></h2>
    <slides-code-editor path="app.module.ts" [code]="code.provideInjectable.code"
                        [focus-highlight-match]="[code.provideInjectable.matches.providers, 'UnitConverterService']"></slides-code-editor>
    <div class="info" i18n>Now, this service becomes available for every <b>Component</b> and other service in this <b>NgModule</b>.
    </div>
  </slides-slide>

  <!--  IMPLEMENTATION STEP #3  -->
  <slides-slide *slidesIf="'consume-injectable'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@step3">Step 3</ng-container>
    </h1>
    <h2 i18n>Consume the Injectable in the component</h2>
    <slides-code-editor path="unit-conversion.component.ts" [code]="code.consumeInjectable.code"
                        [focus-highlight-match]="[code.consumeInjectable.matches.constructor]"></slides-code-editor>
    <div class="info" i18n>Because of the <b>private</b> access modifier the service becomes accessible across the class
      as
      <b>this.converter</b>.
    </div>
  </slides-slide>


  <slides-slide *slidesIf="'exercise-pre'; milestone: 'DependencyInjection'">
    <h1>
      <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
      /
      <ng-container i18n="@@exercise">Exercise</ng-container>
    </h1>
    <h2 i18n>In the next slide you'll use videoService which has even more cats!!! The result will look like this: </h2>

    <slides-exercise-preview column-5 [config]="exercise"></slides-exercise-preview>
  </slides-slide>

  <!--  CREATE FIRST ANGULAR COMPONENT EXERCISE-->
  <slides-slide *slidesIf="'exercise'" no-padding>
    <slides-exercise [files]="exercise.files">
      <div class="description"></div>
      <slides-new-editors class="editor">
      </slides-new-editors>
      <slides-slides-preview milestone="DependencyInjection" class="slides-preview">
      </slides-slides-preview>
      <slides-angular-test-runner class="tests"></slides-angular-test-runner>
      <slides-angular-preview-runner class="preview"></slides-angular-preview-runner>
    </slides-exercise>
  </slides-slide>

  <slides-slide *slidesIf="'end'">
    <slides-closing-slide>
      <div class="header" header>
        <h1>
          <ng-container i18n="@@dependencyInjection">Dependency injection</ng-container>
          /
          <ng-container i18n>Milestone Completed!</ng-container>
        </h1>
      </div>
      <div class="body" body>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          Next: <a routerLink="/component-tree/0">Learn how to combine components together</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>
</slides-presentation>
