<div #translations style="display: none">
  <div i18n="@@componentIsDecorator" id="componentIsDecorator">@Component is an Angular decorator</div>
  <div i18n="@@noSemicolon" id="noSemicolon">No semicolon here (as it attaches itself to the class below</div>
</div>
<slides-deck slidesShortcuts slidesRouting slides-tracking>
  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <codelab-progress-bar></codelab-progress-bar>
  <slides-arrow-navigation></slides-arrow-navigation>

  <!--  INTRO -->
  <div *slide id="intro" no-padding>
    <slides-title-slide title="Routing" description="Learn how to add routing to your app"></slides-title-slide>
  </div>

  <!--  Slide 2-->
  <div *slide id="router-intro" milestone="Router">
    <h1>Router - intro</h1>
    <h2>Router is used to give <b>URLs</b> to different parts of your app.</h2>
    <div class="router-preview">
      <slides-browser-window column-5 url="http://localhost:4200/kittens" style="height: 40vh">
        <h1>Kittens</h1>
      </slides-browser-window>
      <slides-browser-window column-5 url="http://localhost:4200/puppies" style="height: 40vh">
        <h1>Puppies</h1>
      </slides-browser-window>
    </div>
  </div>
  <div *slide id="router-intro2" milestone="Router">
    <h1>Router - intro</h1>
    <h2>It takes 3 simple steps to set up routing in Angular:</h2>
    <ol>
      <li>Configure the mapping and specify which component to display for which URL</li>
      <li>Create the menu</li>
      <li>Find a place to display selected component</li>
    </ol>
  </div>

  <div *slide id="router-config" milestone="Router">
    <h1>Router - configuration</h1>
    <h2>Routes are configured by defining an array of mapping between URL path and a component</h2>
    <codelab-exercise-playground url="/assets/runner" [exercise]="code.routerConfig"></codelab-exercise-playground>
  </div>

  <div *slide id="router-config-pass-to-module" milestone="Router">
    <h1>Router - configuration</h1>
    <h2>Then we have to pass the config to our module.</h2>
    <codelab-exercise-playground url="/assets/runner"
                                 [exercise]="code.routerConfigPass"></codelab-exercise-playground>
    <div class="info">Note that we're using <b>RouterModule.forRoot</b> which creates an Angular Module out of our
      configuration.
    </div>
  </div>

  <div *slide id="router-outlet" milestone="Router">
    <h1>Router - Outlet</h1>
    <h2>Now we have to find a place where the router would display selected component.</h2>
    <h2>It can be marked by placing <b>router-outlet tag</b></h2>
    <!--[openFilesIndex]="[1]"-->
    <codelab-exercise-playground url="/assets/runner"
                                 [exercise]="code.routerOutlet"></codelab-exercise-playground>
  </div>

  <div *slide id="menu" milestone="Router">
    <h1>Router - Menu</h1>
    <h2>The last part is creating the menu.</h2>
    <h2>Use <b>routerLink</b> directive to provide the URL</h2>
    <!--[openFilesIndex]="[1]"-->
    <codelab-exercise-playground url="/assets/runner"
                                 [exercise]="code.menu"></codelab-exercise-playground>
  </div>

  <div *slide id="exercise-pre">
    <h1>Router / Exercise</h1>
    <h2>In the next slide there is an exercise. We're going to add 2 routes: <b>Search</b> and <b>Upload</b>, and a menu
      for switching between them.</h2>
    <slides-codelab-exercise-preview column-5 [exercise]="exercise"
                                     [url]="'/assets/runner/'"></slides-codelab-exercise-preview>
    <div class="info">Note: We have already created empty Upload component and SearchComponent containing search
      logic.
    </div>
  </div>

  <div *slide id="exercise" no-padding>
    <slides-codelab-exercise
      milestone="Router"
      [translations]="t"
      url="/assets/runner"
      [exercise]="exercise">
    </slides-codelab-exercise>
  </div>

  <div *slide id="end">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of The Routing Milestone</h1>
      </div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
        <h2>Check out <a href="https://angular.io/guide/router">Angular Router Guide</a>
          for more fun and advanced techniques.</h2>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          Next <a routerLink="/material/intro">⏭️ Go to the Material Milestone</a>
        </h2>
        <slides-feedback-rating lesson="Router">
        </slides-feedback-rating>
      </div>
    </slides-closing-slide>
  </div>
</slides-deck>


