.menu-bar-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: no-repeat center #ecf0f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  cursor: pointer;
  border: none;
  padding: 0;

  img {
    width: 60%;
  }
}
