<div class="progress-bar" *ngIf="slides.length" style="display: flex;">
  <span style="margin-right: 1vw;" class="title">{{ title }}</span>
  <span class="font-size" *ngIf="displayFontSize">
    <kirjs-size-picker
      (sizeChange)="fontSizeChange.emit($event)"
      [size]="fontSize"
    ></kirjs-size-picker>
  </span>
  <div class="points-container" style="display: flex;">
    <div *ngFor="let slide of slides; let i = index" (click)="goToSlide(i)">
      <div
        class="slide-block"
        [class.completed-slide]="i < activeSlideIndex"
        [class.current-slide]="i === activeSlideIndex"
      ></div>
    </div>
  </div>

  <span></span>
</div>
<a href="https://twitter.com/kirjs" class="handle">{{ handle }}</a>
