.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #000;
  padding: 0.5vw;
  opacity: 0.3;
}

.progress-bar:hover .font-size {
  visibility: visible;
}

.progress-bar:hover {
  opacity: 1;
}

.font-size {
  visibility: hidden;
}

.slide-block.completed-slide {
  background: #ddd;
}

.slide-block.completed-slide {
  background: #000;
}

.slide-block:hover {
  opacity: 1;
  cursor: pointer;
}

.slide-block.current-slide {
  background: lime;
}

.slide-block {
  margin-top: 0.1vw;
  opacity: 0.7;
  width: 0.5vw;
  height: 0.5vw;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.3vw;
}

.handle {
  font-family: 'Helvetica Neue', sans-serif;
  position: fixed;
  right: 0;
  bottom: 0;
  color: #444444;
  font-size: 3vw;
  z-index: 101;
  padding: 0.5vw;
  padding-right: 2vw;
  text-shadow: 0px 3px 20px #fff, 0px -3px 20px #fff, -3px 0px 20px #fff,
    3px 0px 20px #fff;
  text-decoration: none;
}

kirjs-size-picker {
  margin-right: 200px;
}
