<div style="display: flex;">
  <div>
    <div style="display: flex;padding: 0 1vw">
      <div style="padding: 1vw;" *ngFor="let helper of helpers; let i = index" class="helper" (click)="code = helper">
        {{i}}
      </div>
    </div>
    <slides-simple-editor
      [fontSize]="30"
      [lineNumbers]="false"
      [(ngModel)]="code"
      style="width:50vw; height: 100vh;flex: none"
      language="javascript"
      (ngModelChange)="generateCode()"></slides-simple-editor>
  </div>
  <div>

    <slides-fake-gif
      [mini]="true"
      [preview]="false"
      [binary]="binary"
      [filterClassName]="filterClassName"
      [highlightedMap]="{boolean: true, number: true, hex: true, string: true}"
      [spacing]="true"></slides-fake-gif>

    <div style="font-size: 2vw;word-break: break-all"
         (input)="binaryValue = $event.target.innerText; generateCode()"
         contenteditable="true">{{binaryValue}}
    </div>
    <slides-simple-editor
      [fontSize]="30"
      language="json"
      [lineNumbers]="false"
      [(ngModel)]="result"
      style="width:50vw; height: 100vh;flex: none"></slides-simple-editor>
  </div>
</div>
