div :first-child {
  overflow: hidden;
}

.arrow {
  font-size: 10px;
}

.editor.is-hidden {
  display: none;
}

.tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 26px;
  min-height: 26px;
  margin-bottom: 12px;
  border-bottom: 1px solid #2d2d30;
  cursor: pointer;
}

.tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 0 4px;
  line-height: 24px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #eee;
  white-space: nowrap;
  overflow: hidden;
  // Above the progress bar.
  z-index: 2;

  &:hover {
    background-color: #ddd;
  }
  &.is-active {
    position: relative;
    height: 26px;
    color: blue;
    background-color: white;
    overflow: initial;
    z-index: 1;

    .tab-close {
      background: white;
    }
  }
}

.tab-close {
  position: absolute;
  right: 0;
  border: 0;
  padding: 0px 2px 2px 0px;
  font-size: 20px;
  font-weight: 300;
  background: #eee;
}

.tab-title {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 12px;
}

.hidden {
  display: none;
}

.content {
  position: relative;
}

.solution {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 1;
  background: #fff;
  border: 1px #ddd solid;
  padding: 4px;

  &:hover {
    background-color: #dddddd;
  }
  &.is-hidden {
    display: none;
  }
}

.readonlyIcon {
  width: 14px;
  height: 14px;
  margin: 5px 12px 0 5px;
  background-image: url("/assets/images/lock.png");
  background-size: contain;
}

.file {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #000;
  margin-bottom: 2px;
}

.file-ts {
  background: #1a67bf;
  color: white;
}

.file-html {
  background: #9cff7d;
}

:host /deep/ .current-line {
  /* TODO */
  display: none !important;
}

