<div #translations style="display: none">
  <div i18n="@@createFirstNgApp" id="createFirstNgApp">
    Create your first Angular app
  </div>
  <div i18n="@@templates" id="templates">Templates</div>
  <div i18n="@@dependencyInjection" id="dependencyInjection">
    Dependency-Injection
  </div>
  <div i18n="@@componentTree" id="componentTree">Component-Tree</div>
  <div i18n="@@customEvents" id="customEvents">Custom-Events</div>
  <div i18n="@@angularWrittenInTypeScript" id="angularWrittenInTypeScript">
    Angular is written in TypeScript, a superset of JavaScript. Learn
    TypeScript.
  </div>
  <div i18n="@@learnHowToBootstrapApp" id="learnHowToBootstrapApp">
    Learn how to create and bootstrap your first Angular application
  </div>
  <div i18n="@@learnUsingTemplates" id="learnUsingTemplates">
    Learn how to use Angular templates
  </div>
  <div i18n="@@learnToProvideDependencies" id="learnToProvideDependencies">
    Learn how to provide dependencies to your code instead of hard-coding them
  </div>
  <div
    i18n="@@learnToStructureAppWithReusableComponents"
    id="learnToStructureAppWithReusableComponents"
  >
    Learn how to structure your app with reusable components
  </div>
  <div i18n="@@learnToBindToEvents" id="learnToBindToEvents">
    Learn to bind to events.
  </div>
</div>

<div class="btn-bar">
  <feedback-widget></feedback-widget>
</div>
<header>
  <h1 i18n>Angular Codelab 🔥</h1>


  <button mat-raised-button [matMenuTriggerFor]="languageMenu">
    <span>
    🇬🇧 English
    </span>
    <span>⌄</span>
  </button>
  <mat-menu #languageMenu>
    <ul>
      <li mat-menu-item>🇬🇧 English</li>
      <li mat-menu-item>🇷🇺 Russian</li>
      <li mat-menu-item>Add your own language</li>
    </ul>
  </mat-menu>
</header>
<div class="wrapper">
  <section class="main">
    <p i18n>
      <a href="https://angular.io">Angular</a> is a UI framework for creating fast cross platform applications.
    </p>

    <p i18n>
      In this interactive Angular Codelab we will walk you through creating your first Angular app with routing, forms
      and material design.
    </p>


    <button mat-raised-button [routerLink]="['angular', 'typescript', 'intro']">
      <img src="/assets/images/ts.png" alt="TypeScript logo" class="logo"/>
      <div>
        <div class="title" i18n>Learn basics of TypeScript</div>
      </div>
    </button>
    <p>Or if you're already familiar with TypeScript</p>

    <button mat-raised-button [routerLink]="['/angular', 'create-first-app', 'intro']">
      <img src="/assets/images/angular.png" alt="" class="logo"/>
      <div i18n>Learn Angular</div>
    </button>


  </section>


  <section>
    <p>Angular codelab is a fully open source project. It's written in Angular by volunteers.</p>

    <ul>
      <li>Check out the code on GitHub</li>
    </ul>
  </section>

  <section>
    <ol>
      <ng-container *ngFor="let route of menuRoutes">
        <li>
          <a [routerLink]="['/angular', route.path]">{{ route.name }}</a>
          <div>{{ route.description }}</div>
        </li>
      </ng-container>
    </ol>
  </section>

  <section>
    Already know Angular? Check out <a href="30.codelab.fun">30 seconds of Angular </a>
  </section>
</div>


<div class="lol" id="lol">lol</div>
