.intro li a:hover {
  text-decoration: underline;
}

.intro li a {
  text-decoration: none;
  color: #888;
}

.intro ul {
  margin: 0;
  padding: 0;
}

.intro li {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  font-size: 1.3vw;
  margin-bottom: 16px;
}

.intro li h2 {
  font-size: 2vw;
}

.feedback-shift {
  position: fixed;
  right: 107px;
  bottom: 1vh;
}

.btn-bar {
  z-index: 110;
}

img .angular {
  width: 30vw;
}

.learn-box:hover {
  background: #eee;
}

.title {
  color: #444;
}

.hint {
  color: #999;
  font-size: 3vw;
}

.learn-box.typescript {
  opacity: 0.8;
}

.learn-box {
  display: flex;
  width: 100%;
  font-size: 7vw;
  justify-content: space-between;
  background: #fafafa;
  padding: 2vw;
  margin-bottom: 2vw;
  cursor: pointer;
}

.learn-box img {
  width: 10vw;
  height: 10vw;
  font-size: 10px;
}

::ng-deep .slide {
  display: block;
}
.play {
  margin: 4vw 0;
}

.contents {
  border-bottom: 1px #999 dashed;
  display: inline-block;
  cursor: pointer;
  min-height: 20px;
}
