:host {
  border: 1px #eee solid;
  display: block;
  margin-bottom: 32px;
  border-radius: 8px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.title {
  font-size: 24px;
  font-weight: 300;
}

.slide {
  display: block;
  padding: 20px;
}

.id {
  color: #999;
}
