#main {
  overflow: scroll;
  height: 100%;
}

td {
  padding: 10px;
  border-bottom: 1px solid silver;
}

th {
  font-size: 20px;
  width: 25%;
}

table {
  text-align: center;
}

.hidden {
  display: none;
}

li {
  font-size: 22px;
}

h2.feedback-header.feedback-header.feedback-header {
  clear: both;
  grid-column: 1/5;
  font-size: 20px;
}

.card {
  padding: 20px;
}

.group {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
}

input {
  float: right;
}

.link, .link a {
  color: #aaa;
  font-size: 80%;
}

