a:not([href]) {
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 12px;
}

a.opened {
  color: #c04e22;
}

a.active {
  text-decoration: none;
  color: blue;
}

.folder,
.file {
  white-space: nowrap;
}

.folder img,
.file img {
  vertical-align: middle;
  padding-right: 2px;
}

.file {
  padding-right: 4px;
}

.folder {
  padding: 0px 0px 2px 2px;
}
