@import "variables";

.scoreboard {
  display: flex;
  justify-content: space-between;
  clear: both;

  .scoreboard-score {
    margin-left: 25px;
  }

  .scoreboard-timer {
    margin-right: -10px;
  }

  .badge {
    font-family: $font-stack;
    font-size: 26px;
    font-weight: $font-weight-max;
    font-style: italic;
    color: $dark-green;
    margin: 30px 0 0 -20px;
    padding: -10px 0;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .scoreboard-score { margin-left: -10px !important; }
  .badge { font-size: smaller; word-wrap: break-word; margin-left: -40px !important; }
  scoreboard-timer { width: 100px !important; right: 50px !important; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

