<!--<slide-deck slideShortcuts slidesRouting slides-tracking>-->

<!--<div *slide id="exercise-babel-angular">-->

<!--editor | preview-->

<!--editor | tests-->
<!--preview-->

<!--editor | preview-->
<!--| tests-->

<!--editor | preview-->
<!--| Visualisat-->

<!--1. code- components-->
<!--<code-group [(code)]="code" [solution]="solution" deps="rxjs"></code-group>-->

<!--<code-editor bootstrap="app.component.ts"></code-editor>-->
<!--<code-editor [(code)]="code" deps="mocha"></code-editor>-->
<!--<code-editor [(code)]="code" [solution]="solution" deps="mocha"></code-editor>-->

<!--<code-preview [code]="code" ui="browser"></code-preview>-->
<!--<code-preview bootstrap="main.ts" ui="browser"></code-preview>-->
<!--<code-preview bootstrap="console.ts" ui="console"></code-preview>-->
<!--<code-preview bootstrap="test.ts" ui="tests"></code-preview>-->

<!--2. codelab- components-->
<!--<codelab-preview></codelab-preview>-->
<!--<codelab-exercise [(code)]="code"></codelab-exercise>-->

<!--<codelab-playground></codelab-playground>-->
<!--3. presentations- components-->

<!--Building block-->
<!--1.Code-->
<!--<code-editor [(ngModel)]="code"></code-editor>-->
<!--2. Preview-->
<!--<code-preview [code]="code"></code-preview>-->
<!--<code-preview-native [code]="code"></code-preview-native>-->
<!--3. Angular preview-->
<!--<code-preview [code]="code" deps="angular" ui="browser"></code-preview>-->
<!--4. Console preview-->
<!--<code-preview [code]="code" deps="rxjs" ui="console"></code-preview>-->
<!--5. Rxjs preview-->
<!--<code-preview [code]="code" deps="rxjs" ui="rxjs"></code-preview>-->
<!--6. Test preview-->
<!--<code-preview [code]="code" deps="angular, tests" ui="tests"></code-preview>-->
<!--7. CodelabSlides-->
<!--<codelab-slides></codelab-slides>-->

<!--Codelab exercise-->
<!--<codelab-exercise [(code)]="code" deps="angular" milestone="ms">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor></code-editor>-->
<!--<code-preview></code-preview>-->
<!--<code-preview deps="tests" ui="tests"></code-preview>-->
<!--</codelab-exercise>-->
<!--<codelab-exercise [(code)]="code" deps="angular" milestone="ms">-->
<!--<div class="description">Lo lololol</div>-->

<!--<code-preview></code-preview>-->

<!--;lololo-->
<!--</codelab-exercise>-->

<!--<code-preview [(code)]="code" ></code-preview>-->
<!--;lollool-->

<!--<codelab-exercise [(code)]="code">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor class="editor"></code-editor>-->
<!--<code-preview class="preview"></code-preview>-->
<!--<code-preview class="tests" deps="angular, tests" ui="tests"></code-preview>-->
<!--<codelab-slides class="editor"></codelab-slides>-->
<!--</codelab-exercise>-->
<!--<codelab-exercise [(code)]="code">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor class="editor"></code-editor>-->
<!--<code-preview class="preview"></code-preview>-->
<!--<code-preview class="tests" deps="angular, tests" ui="tests"></code-preview>-->
<!--<codelab-slides class="editor"></codelab-slides>-->
<!--</codelab-exercise>-->
<!--<codelab-exercise [(code)]="code">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor class="editor"></code-editor>-->
<!--<code-preview class="preview"></code-preview>-->
<!--<code-preview class="tests" deps="angular, tests" ui="tests"></code-preview>-->
<!--<codelab-slides class="editor"></codelab-slides>-->
<!--</codelab-exercise>-->
<!--<codelab-exercise [(code)]="code">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor class="editor"></code-editor>-->
<!--<code-preview class="preview"></code-preview>-->
<!--<code-preview class="tests" deps="angular, tests" ui="tests"></code-preview>-->
<!--<codelab-slides class="editor"></codelab-slides>-->
<!--</codelab-exercise>-->

<!--<angular-demo [(code)]="code">-->
<!--Desciption lol img-->
<!--</angular-demo>-->

<!--<codelab-exercise1  [(ngModel)]="code" deps="angular" test-deps="babel" ui="editor preview tests slides">-->
<!--Desciption lol img-->
<!--</codelab-exercise1>-->

<!--<codelab-exercise1  [(ngModel)]="code" deps="angular" test-deps="babel" ui="editor preview tests slides">-->
<!--Desciption lol img-->
<!--</codelab-exercise1>-->

<!--<codelab-exercise1  [(ngModel)]="code" deps="angular" test-deps="babel" ui="editor preview tests slides">-->
<!--Desciption lol img-->
<!--</codelab-exercise1>-->

<!--<codelab-exercise1  [(ngModel)]="code" deps="angular" test-deps="babel" ui="editor preview tests slides">-->
<!--Desciption lol img-->
<!--</codelab-exercise1>-->

<!--<h1>LOL</h1>-->
<!--<codelab-exercise show="code"></codelab-exercise>-->
<!--<codelab-exercise show="console"></codelab-exercise>-->

<!--<codelab-group [code]="code">-->
<!--<code-editor></code-editor>-->
<!--<code-preview></code-preview>-->
<!--</codelab-group>-->

<!--<code-editor [code]="lol"></code-editor>-->

<!--### Rx js presentation-->
<!--<codelab-exercise [(ngModel)]="code">-->
<!--<div class="description">Lol</div>-->
<!--<code-editor class="editor"></code-editor>-->
<!--<code-preview class="preview"></code-preview>-->
<!--<code-preview class="tests" deps="angular, tests" ui="tests"></code-preview>-->
<!--</codelab-exercise>-->

<!--<rxjs-demo [(ngModel)]="code"></rxjs-demo>-->
<!--</div>-->

<!--<div *slide id="lol">-->
<!--<h1>LOL2</h1>-->
<!--</div>-->

<!--</slide-deck>-->
