<div *ngIf="code">
  <div class="row">
    <slides-multitab-editor
      [slidesSimpleHighlightMatch]="slidesSimpleHighlightMatch"
      class="quarter"
      [file]="file"
      [solutions]="solutions"
      [(ngModel)]="code"
      (ngModelChange)="update()"
    ></slides-multitab-editor>
    <div class="quarter">
      <ng-content select=".description"></ng-content>
      <!--<slides-simple-angular-test-runner-->
      <!--[translations]="translations"-->
      <!--[bootstrap]="bootstrapTest"-->
      <!--[code]="runFilesMap"></slides-simple-angular-test-runner>-->
      <slides-babel-test-runner [translations]="translations"
                                [bootstrap]="bootstrapTest"
                                [code]="runFilesMap"></slides-babel-test-runner>
    </div>

  </div>
  <div class="row">
    <codelab-slides-preview class="quarter" milestone="Bootstrap"></codelab-slides-preview>
    <slides-simple-angular-runner [url]="url"
                                  *ngIf="runFilesMap" class="quarter"
                                  [bootstrap]="bootstrap"
                                  [code]=runFilesMap></slides-simple-angular-runner>
  </div>
</div>
