<div fxLayout>
  <slides-simple-editor
    [lineNumbers]="false"
    [fontSize]="fontSize"
    language="javascript"
    style="height: 100vh;width: 55vw;"
    [(ngModel)]="files[0].code"
    (ngModelChange)="runner.runTests()"
  ></slides-simple-editor>
  <div (click)="files[0].code = files[0].solution; runner.runTests()" class="show-solution">
    <div class="icon">🙀</div>
  </div>
  <slides-simple-fake-babel-runner
    #runner
    class="tests"
    [showAst]="showAst"
    [files]="files">
    <ng-content></ng-content>
  </slides-simple-fake-babel-runner>
</div>
