
#intro, #outro {
/*  background: url(./pics/landscape-with-trees-1.jpg) no-repeat; */
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
}

.hb {
  width: 200px;
  height: 200px;
  background: url('print/hb.jpg');
  background-size: 200px;
  background-repeat: no-repeat;
}

slides-board {
  width: 500px;
  height: 500px;
}
