.frame {
  border: 1px solid #dddddd;
  margin-top: 0;
  width: 100%;
  background-color: #fff;
}

::ng-deep iframe {
  display: block;
  width: 100%;
  height: 100%
}

.img-full img {
  height: 2vw;
}

.img-full {
  width: 100%;
  height: 2vw;
  background-image: url(/assets/images/browsertop-middle.png);
  background-repeat: repeat;
  background-size: 2vw 2vw;
  display: flex;
  justify-content: space-between;
}

.browser-frame {
  position: relative;
}

.browser-frame .url {
  position: absolute;
  left: 3.2vw;
  top: 1.2vw;
  font-size: 0.5vw;
  background-color: #fff;
}
