.frame {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 0;
  width: 100%;
  background-color: #fff;
}

.img-full img {
  height: 2vw;
}

.img-full {
  width: 100%;
  height: 2vw;
  background-image: url(/assets/images/browsertop-middle.png);
  background-repeat: repeat;
  background-size: 2vw 2vw;
  display: flex;
  justify-content: space-between;
}

.browser-frame {
  position: relative;
}

.browser-frame .url {
  position: absolute;
  left: 50px;
  top: 23px;
  font-size: 10px;
  background-color: #fff;
}
