
:host([vertical]) .playground {
  flex-direction: column;
}

.playground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

slides-editor {
  width: 600px;
  /* To compensate for hidden line numbers */
  margin-left: -30px;
}

:host /deep/ .margin-view-overlays.monaco-editor-background {
  display: none;
}

:host /deep/ iframe.testing {
  display: none;
}

:host([vertical]) /deep/ iframe.preview {
  height: 80px !important;
  width: 100%;
}

:host /deep/ .current-line {
  display: none;
}
