<div #translations style="display: none">
  <div i18n="@@createFirstNgApp" id="createFirstNgApp">
    Create your first Angular app
  </div>
  <div i18n="@@templates" id="templates">Templates</div>
  <div i18n="@@dependencyInjection" id="dependencyInjection">
    Dependency-Injection
  </div>
  <div i18n="@@componentTree" id="componentTree">Component-Tree</div>
  <div i18n="@@customEvents" id="customEvents">Custom-Events</div>
  <div i18n="@@angularWrittenInTypeScript" id="angularWrittenInTypeScript">
    Angular is written in TypeScript, a superset of JavaScript. Learn
    TypeScript.
  </div>
  <div i18n="@@learnHowToBootstrapApp" id="learnHowToBootstrapApp">
    Learn how to create and bootstrap your first Angular application
  </div>
  <div i18n="@@learnUsingTemplates" id="learnUsingTemplates">
    Learn how to use Angular templates
  </div>
  <div i18n="@@learnToProvideDependencies" id="learnToProvideDependencies">
    Learn how to provide dependencies to your code instead of hard-coding them
  </div>
  <div
    i18n="@@learnToStructureAppWithReusableComponents"
    id="learnToStructureAppWithReusableComponents"
  >
    Learn how to structure your app with reusable components
  </div>
  <div i18n="@@learnToBindToEvents" id="learnToBindToEvents">
    Learn to bind to events.
  </div>
</div>

<div class="container pt-md-5">
  <div class="row mt-md-5">
    <div class="col-md-5 mt-md-5 mb-5">
      <h1 class="display-4 text-center text-md-left mb-3">Angular Codelab</h1>
      <p class="text-muted">
        Welcome to the interactive Angular Codelab. Here you can learn the
        basics of Angular!
      </p>
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="isContentExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title>Full content</mat-panel-title>
            <mat-panel-description>
              Click to open/close it</mat-panel-description
            >
          </mat-expansion-panel-header>
          <codelab-angular-routes></codelab-angular-routes>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card mb-5">
        <div class="card-body">
          <h3 class="mb-3">Start study right now!</h3>
          <p class="text-muted">
            <small>
              With Codelab there is no need to install or prepare anything. For
              practical tasks and tests, we built the compiler directly into the
              browser!
            </small>
          </p>
          <div class="d-flex">
            <button
              mat-raised-button
              color="primary"
              class="mx-auto"
              [routerLink]="['/angular', 'create-first-app', 'intro']"
            >
              Go!
            </button>
          </div>
          <hr />
          <small class="font-italic">
            * Angular uses typescript language. In case you are not familiar
            with it, we recommend to start here.
            <a [routerLink]="['/angular', 'typescript', 'intro']"
              >Learn typescript?</a
            >
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<codelab-sync-survey></codelab-sync-survey>
<codelab-buttons-nav-bar></codelab-buttons-nav-bar>
