.bg {
  background: #fff;
  opacity: .7;
  padding: 2vw 5vw;
  margin: 5vw 0;
  border: 1px solid #000;
}

#intro h1 {
  font-size: 9vw;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif;
}

#intro h2, #outro h2 {
  font-size: 12vw;
}

#intro h2, #outro h1 {
  font-size: 6vw;
}

:host /deep/ .slide {
  background: transparent;
}

#sausage-pre {
  background: url(./pics/sausage-pre.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}


#sausage {
  background: url(./pics/sausage2.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#bonus {
  background: url(./pics/park.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#babel-traverse .bg, #babel-transform .bg, #renoir .bg {
  margin: 40vw 0;
}

#babel-traverse {
  background: url(./pics/girl-reading-1890.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#babel-transform {
  background: url(./pics/doggie.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#debugger-pre {
  background: url(./pics/debugger.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#renoir {
  background: url(./pics/renoir.png) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#missing-semicolon {
  background: url(./pics/semicolon-missing.png) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#babel-fit-by-line {
  background: url(./pics/cat.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#babel-fit {
  background: url(./pics/the-garden.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#parser {
  background: url(./pics/parser.png) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#eslint {
  background: url(./pics/debugger.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
  font-size: 5vw;
}

#intro, #outro {
  background: url(./pics/landscape-with-trees-1.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
}
.bad-tree {
  background: url(./pics/tree.gif) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 100vh;
}

#venok img {
  width: 384px;
  height: 288px;
  margin: 0 auto;
}

.ast-explorer-link:hover {
  font-size: 5vw;
}

.ast-explorer-link {
  padding-top: 25px;
  font-size: 10px;
}

.description.description.description {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 0;
}

#debugger-regex /deep/ .solution:hover:before {
  color: red;
  font-size: 3vw;
}

:host /deep/ #debugger-regex .solution {

}

.ast-preview-helper-list li:hover {
  color: #444;
}

.ast-preview-helper-list li {
  font-size: 20px;
  text-decoration: dashed;
  cursor: pointer;
  color: #999;
  border-bottom: 1px #ddd dashed;
}

.ast-preview {
  font-size: 30px;
}
