<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>

  <div class="btn-bar">
    <div class="increase-font-size font-size" (click)="updateFontSize(2)">+</div>
    <div class="decrease-font-size font-size" (click)="updateFontSize(-2)">-</div>
  </div>

  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <slides-slide id="intro" *slidesIf="'intro'" no-padding>
    <div class="bg">
      <h1>
        <b>Абстрактные Синтаксические Деревья</b>
        в JavaScript
      </h1>
      <h2>@kirjs</h2>
    </div>
  </slides-slide>
  <slides-slide *slidesIf="'what-s-ast'">
    <h1>Абстрактные синтаксические деревья (АСД)</h1>
    <h2>Это выступление о том как научить код <b>понимать</b> и <b>трансформировать</b> другой код.</h2>
  </slides-slide>


  <slides-slide id="debugger-pre" *slidesIf="'debugger-pre'" no-padding>
    <div class="bg">
      <h1>Начнем сразу с примера</h1>
      <h2>Как определить что из файла забыли вырезать <b>console.log</b></h2>
    </div>
  </slides-slide>


  <!--<slides-slide id="tbs" *slidesIf="'tbd'" no-padding>-->
  <!--<div class="bg">-->
  <!--https://github.com/olahol/eselement/tree/21993890b8145a7ee1081a2eba187124ba4dfefc-->
  <!--</div>-->
  <!--</slides-slide>-->

  <slides-slide id="parser" *slidesIf="'parser'" no-padding>
  </slides-slide>

  <slides-slide *slidesIf="'consle-log-ast'">
    <h1>Пример Абстрактного Синтаксического Дерева:</h1>
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogAst" type="javascript" [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>


  <slides-slide no-padding *slidesIf="'console-log-'" >
    <div class="bg">
      <h1>Может быть есть способ попроще?</h1>
    </div>
  </slides-slide>

  <slides-slide id="debugger-regex" *slidesIf="'console-log-regex'" no-padding>
    <slides-exercise [files]="code.findConsoleLog">
      <slides-new-editors class="editor" [fontSize]="fontSize">
      </slides-new-editors>
      <slides-fake-babel-runner class="tests"></slides-fake-babel-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide id="sausage-pre" *slidesIf="'sausage-pre'" no-padding></slides-slide>

  <slides-slide id="sausage" *slidesIf="'not-like-sausage'" no-padding></slides-slide>

  <slides-slide *slidesIf="'consle-log-ast-again'">
    <h1>Пример Абстрактного Синтаксического Дерева:</h1>
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogAst" type="javascript" [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>

  <slides-slide id="bad-tree" *slidesIf="'scary-tree'">
    <div class="bad-tree"></div>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-ast-highlight-body'">
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogAstJs" [babelHighlightMatch]="matchTreePartsBody" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-ast-just-body'">
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogBodyAstCode" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>


  <slides-slide *slidesIf="'console-log-ast-just-body-highlight-loc'">
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogBodyAstCode" [babelHighlightMatch]="matchTreePartsLoc" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>



  <slides-slide *slidesIf="'console-log-ast-no-loc'">
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogNoLocCode" type="javascript" [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>

  <slides-slide id="console-log-structure" *slidesIf="'console-log-structure'" no-padding>
    <div fxLayout style="height: 200px;flex-shrink: 0">
      <slides-simple-editor [slidesSimpleHighlight]="asthighlight"
                            class="editor"
                            [(ngModel)]="code.astPreview"
                            [fontSize]="fontSize"
                            style="width: 70%;"
      ></slides-simple-editor>
      <div class="ast-preview-helper-list">
        <ul>
          <li (click)="code.astPreview = 'log'">log</li>
          <li (click)="code.astPreview = 'console.log'">console.log</li>
          <li (click)="code.astPreview = 'log()'">log()</li>
          <li (click)="code.astPreview = 'console.log()'">console.log()</li>
          <li (click)="code.astPreview = 'console.log(1)'">console.log(1)</li>
          <li (click)="code.astPreview = 'console.log(1,a.b)'">console.log(1, a.b)</li>
          <li (click)="code.astPreview = 'hi;\n123;\n/lol/;\ntrue;\nnull'">All literals</li>
        </ul>
      </div>
    </div>
    <slides-ast-preview-runner (highlight)="asthighlight = $event" #astPreview [code]="code.astPreview"
                               class="ast-preview"></slides-ast-preview-runner>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-ast-no-loc2'">
    <slides-code-group row>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLog" type="javascript"
                            [lineNumbers]="'on'"></slides-code-editor>
      </div>
      <div class="col-6">
        <slides-code-editor [code]="code.consoleLogNoLocCode" type="javascript" [lineNumbers]="'on'"></slides-code-editor>
      </div>
    </slides-code-group>
  </slides-slide>

  <slides-slide id="babel-traverse" *slidesIf="'babel-traverse'" no-padding>
    <div class="bg">Обход AST с помощью <b>babel-traverse</b></div>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-babel-traverse'" no-padding>
    <slides-exercise [files]="code.traverseConsoleLogBabel">
      <slides-new-editors class="editor" [fontSize]="fontSize">
      </slides-new-editors>
      <slides-fake-babel-runner class="tests"></slides-fake-babel-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide   *slidesIf="'hello-console-log-structure'" no-padding>
    <div fxLayout style="height: 200px;flex-shrink: 0">
      <slides-simple-editor [slidesSimpleHighlight]="asthighlight2"
                            class="editor"
                            [(ngModel)]="code.astHello"
                            [fontSize]="fontSize"
                            style="width: 70%;"
      ></slides-simple-editor>
    </div>
    <slides-ast-preview-runner (highlight)="asthighlight2 = $event" #astPreview [code]="code.astHello"
                               class="ast-preview"></slides-ast-preview-runner>
  </slides-slide>


  <slides-slide *slidesIf="'console-log-babel-traverse2'" no-padding>
    <slides-exercise [files]="code.traverseConsoleLogBabel2">
      <slides-new-editors class="editor" [fontSize]="fontSize">
      </slides-new-editors>
      <slides-fake-babel-runner class="tests"></slides-fake-babel-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide id="babel-types" *slidesIf="'babel-types'" no-padding>
    <div class="bg">Упрощаем работу с AST  с помощью <b>babel-types</b></div>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-babel-traverse3'" no-padding>
    <slides-exercise [files]="code.traverseConsoleLogBabel3">
      <slides-new-editors class="editor" [fontSize]="fontSize">
      </slides-new-editors>
      <slides-fake-babel-runner class="tests"></slides-fake-babel-runner>
    </slides-exercise>
  </slides-slide>

  <slides-slide id="babel-transform" *slidesIf="'babel-transform'" no-padding>
    <div class="bg">Transforming AST <b>babel-traverse</b></div>
  </slides-slide>

  <slides-slide *slidesIf="'console-log-babel-transform'" no-padding>
    <slides-exercise [files]="code.removeConsoleLogBabel">
      <slides-new-editors class="editor" [fontSize]="fontSize">
      </slides-new-editors>
      <slides-fake-babel-runner class="tests"></slides-fake-babel-runner>
    </slides-exercise>
  </slides-slide>


  <slides-slide id="eslint" *slidesIf="'eslint'" no-padding>
    <div class="bg">Давайте напишем плагин для <b>ESLint</b> (на <a
      href="http://astexplorer.net">AstExplorer</a>)
    </div>
  </slides-slide>




  <slides-slide id="angular" *slidesIf="'eslint'" no-padding>
    <div class="bg">Пишем генератор для <b>Angular</b>
    </div>
  </slides-slide>

  <slides-slide *slidesIf="'angular-before'">
    <h1>Добавляем ControlValueAccessor:</h1>
        <slides-code-editor [code]="code.angularCodeBefore"></slides-code-editor>
  </slides-slide>

  <slides-slide *slidesIf="'angular-after'">
    <h1>Добавляем ControlValueAccessor:</h1>
        <slides-code-editor [code]="code.angularCodeAfter"
                            [focus-highlight-match]="[]"></slides-code-editor>
  </slides-slide>

  <slides-slide *slidesIf="'angular-imports'">
      <ul>
        <li>Импортировать ForwardRef из @angular/core</li>
        <li>Импортировать ControlValueAccessor из @angular/forms</li>
        <li>Обновления свойства providers </li>
        <li>Сделать так, чтобы класс имлементировал интерфейс ControlValueAccesspr</li>
        <li>Добавить функции в класс</li>
      </ul>
  </slides-slide>



  <slides-slide *slidesIf="'why-break'">
    <h1>Где еще полезны АСД?</h1>
    <ul>
      <li>Больше контроля надо кодом, проще рефакторинг, codemods</li>
      <li>Меньше споров про оформление кода</li>
      <li>Создание игровых проэктор</li>
      <li>Лучшее понимание JavaScript </li>
    </ul>
  </slides-slide>


  <slides-slide id="ast-links" *slidesIf="'ast-links'">
    <h1>Ссылки</h1>
    <ul>
      <li><h2><a href="https://github.com/eslint/eslint/tree/master/lib/rules">Все правила ESLint тут</a>
      </h2></li>
      <li><h2><a href="https://github.com/facebook/jscodeshift">JsCodeShift</a></h2></li>
      <li><h2><a href="https://git.io/babel-handbook">Babel handbook</a></h2></li>
      <li><h2><a href="https://www.youtube.com/watch?v=Tar4WgAfMr4">Building a compiler talk</a></h2></li>
    </ul>
  </slides-slide>

  <slides-slide id="renoir" *slidesIf="'renoir'" no-padding>
    <div class="bg">
      <h1>Thanks Pierre-Auguste for pics!</h1>
      <h2>Follow him: <a href="https://twitter.com/artist_renoir">@artist_renoir</a></h2>
    </div>
  </slides-slide>

  <slides-slide id="outro" *slidesIf="'outro'" no-padding>
    <div class="bg">
      <h1>Thank you!</h1>
      <h2>@kirjs</h2>
    </div>
  </slides-slide>
</slides-presentation>
