$font-stack: Space Mono, monospace;
$font-weight-max: 900;

$red: #ff0000;
$fire-red: #a03800;
$dark-blue: #4267b2;
$darker-blue: #00008b;
$vivid-blue: #3b98fd;
$soft-blue: #59adeb;
$chambray-blue: #385d8a;
$dodger-blue: #007aff;
$green: #43e756;
$green-angular-leaf: #36a34a;
$dark-green: #006400;
$light-sea-green: #20b2aa;
$pastel-green: #81e081;
$fuel-yellow: #f0a121;
$light-yellow: #fddc30;
$gray: #808080;
$medium-gray: #979797;
$light-gray: #f5f5f5;
$very-light-gray: #eee;
$black: #0f0000;
$dark-brown: #0f0900;
$white: #ffffff;
$white-smoke: #f2f2f2;
$off-white: #fafafa;

$header-image: '../../../assets/images/codelab_logo.jpeg';
$scoreboard-font: '../../../assets/fonts/DjbUpOnTheScoreboard.ttf';
$congratulations-font: '../../../assets/fonts/LucidaUnicodeCalligraphy.ttf';
$facebook-path: '../../../../../assets/images/social-media/facebook.gif';
$twitter-path: '../../../../../assets/images/social-media/twitter.svg';
$email-path: '../../../../../assets/images/social-media/email.svg';
