@import "variables";

mat-accordion {
  clear: both;
  padding-bottom: 20px;

  mat-expansion-panel {
    border: 2px solid $dark-blue;

    &:hover {
      border: 2px solid $vivid-blue;
    }
  }

  mat-panel-title {
    background-color: $light-gray;
    color: $black;

    .question-leader {
      font-weight: $font-weight-max;
      color: $darker-blue;
      white-space: nowrap;
    }
    .question-text {
      font-weight: 700;
      font-style: italic;
      color: $black;
    }
  }

  .accordion-icon {
    position: absolute;
    left: 0;
    margin-left: 25px;
    color: $gray;
    font-weight: $font-weight-max;
    font-size: 20px;
  }

  .quiz-summary-question {
    font-family: $font-stack;
    font-size: 14px;
    border: 2px solid $chambray-blue;
    border-radius: 5px;
    color: $black;
    background-color: $light-gray;
    margin-bottom: 15px;
    padding: 10px;
    text-align: left;

    ul.quiz-summary-fields {
      display: block !important;
      margin-bottom: 10px;
      text-align: left;

      li {
        display: block;
        text-align: left;
        font-size: 16px;
        color: $darker-blue;
        margin: 0 0 5px -30px;

        .leader {
          font-family: Roboto, "Helvetica Neue", sans-serif;
          font-weight: 700;
          display: inline;
          background: none;
          text-transform: inherit;
          margin-left: -10px;
        }

        i {
          font-size: larger;
          top: 10px !important;
        }

        .correct {
          color: $green;
          font-weight: $font-weight-max;
        }
        .incorrect {
          color: $red;
          font-weight: $font-weight-max;
        }
      }
    }
  }
}
.mat-accordion-buttons {
  display: flex;
  justify-content: center;

  button {
    margin-right: 10px;
  }
}
