// .quarter {
//   width: 50vw;
//   height: 50vh;
// }

// .row {
//   display: flex;
// }

// .tests {
//   padding: 0.5vw;
//   box-sizing: border-box;
// }

// ------------
:host {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .top-left { grid-area: 1 / 1 / 2 / 2; }
  
  .top-right{ grid-area: 1 / 2 / 2 / 3; }
  
  .bottom-left{ grid-area: 2 / 1 / 3 / 2; }
  
  .bottom-right { grid-area: 2 / 2 / 3 / 3; }
  
}

.grid {
  border: 1px solid red;

  &-editor {
    overflow: scroll;
  }
}