<slides-presentation slides-slides-routing slides-mode-routing slides-tracking>
  <slides-progress-bar></slides-progress-bar>

  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>

  <slides-arrows></slides-arrows>

  <!--  MILESTONE #3  Dependency Injection  -->
  <!-- RECAP -->

  <slides-slide id="intro" no-padding>
    <slides-title-slide title="Component Tree" description="Combine components together"
                        prereqs=""></slides-title-slide>
  </slides-slide>


  <!--  COMPONENT TREE  -->
  <slides-slide id="description" milestone="component-tree">
    <h1>Component Tree</h1>
    <h2>So far we only had 1 component , but as your app grows it will take a form of a treeof components</h2>
    <img src="assets/images/tree.png" alt="tree" height="400">
  </slides-slide>

  <!--  Parent/Child COMPONENTS-->
  <slides-slide id="parent-child-component" milestone="Component Tree">
    <h1>Parent and Child component</h1>
    <h2>Any component can render another one by using HTML element matching the selector of the other component</h2>
    <slides-code-group row>
      <div column-5>
        <slides-code-editor path="box.ts" [fontSize]="15" [code]="code.circleAndBox.other.boxNoParams"
                            [focus-highlight-match]="code.parentComponentSkeleton.match"></slides-code-editor>
      </div>
      <div column-5>
        <slides-code-editor path="circle.ts" [fontSize]="15" [code]="code.circleAndBox.files[0].code"
                            [focus-highlight-match]="code.parentComponentSkeleton.match"></slides-code-editor>
      </div>
    </slides-code-group>
    <slides-browser-window style="margin-top: 280px;">
      <div style="border: 1px #ddd solid; width: 100px">
        <div style="width: 100px;height: 100px;background-color: #000;border-radius: 50%"></div>
      </div>
    </slides-browser-window>
  </slides-slide>

  <!--  PASSING DATA  -->
  <slides-slide id="passing-data" milestone="component-tree">
    <h1>Passing data from parent to child</h1>
    <h2>Parent component passes their data to the child using properties</h2>
    <div class="exercise">Change the <b>size</b> to <b>100</b> and <b>color</b> to <b>red</b> to recreate the Japanese flag.
    </div>
    <slides-playground [config]="code.boxAndCircle"></slides-playground>
  </slides-slide>


  <!--  PASSING DATA  -->
  <slides-slide id="passing-data-child" milestone="component-tree">
    <h1>Passing data from parent to child</h1>
    <h2>But child class has to decorate their properties with a special <b>@Input()</b> decorator</h2>
    <slides-playground [config]="code.circleAndBox"
                       [focus-highlight-match]="['@Input() size','@Input() color']"></slides-playground>
    <div class="info">This is the first time we're applying decorators to properties, not classes.</div>
  </slides-slide>


  <slides-slide id="exercise-1-pre" milestone="component-tree">
    <h1 i18n>Exercise</h1>
    <h2>We already know how to create a component. Let's move out all the video-related information into a separate
      component</h2>
    <h3>The result will be as follows:</h3>
    <slides-browser-window>
      <div><h2>Cute kitten</h2>
        <img src="/assets/images/cat-00.png">
        <div>Date 2016-11-25</div>
        <div>Views 100</div>
        <div>Likes 49329</div>
        <div>Description todo</div>
      </div>
    </slides-browser-window>
  </slides-slide>


  <!--  COMPONENT TREE EXERCISE 1 -->
  <slides-slide id="exercise-1" no-padding>
    <slides-exercise [config]="exercise" milestone="component-tree">
      <div class="description">
        Create a video component.
      </div>
    </slides-exercise>
  </slides-slide>

  <!-- NgModule -->
  <slides-slide id="module" milestone="component-tree-2">
    <h1>Parent and Child component</h1>
    <h2>However components won't know about each other unless they are declared in the same module</h2>
    <slides-code-editor path="app.module.ts" [code]="code.appModule.code"
                        [focus-highlight-match]="code.appModule.match"></slides-code-editor>
  </slides-slide>

  <slides-slide id="recap" milestone="component-tree-2">
    <h1>Whole picture</h1>
    <slides-code-group>
      <div row>
        <div column-5>

          <slides-code-editor path="circle.ts" [fontSize]="15" [code]="code.circleAndBox.files[1].code"
                              [focus-highlight-match]="code.parentComponentSkeleton.match"></slides-code-editor>
        </div>
        <div column-5>
          <slides-code-editor path="box.ts" [fontSize]="15" [code]="code.circleAndBox.files[0].code"
                              [focus-highlight-match]="code.parentComponentSkeleton.match"></slides-code-editor>
        </div>
      </div>
      <div row>
        <div column-5>
          <slides-code-editor path="module.ts" [fontSize]="15" [code]="code.circleAndBox.files[2].code"
                              [focus-highlight-match]="code.appModule.match"></slides-code-editor>
        </div>
        <slides-browser-window>
          <div style="border: 1px #ddd solid; width: 100px">
            <div style="width: 100px;height: 100px;background-color: #000;border-radius: 50%"></div>
          </div>
        </slides-browser-window>
      </div>
    </slides-code-group>
  </slides-slide>


  <slides-slide id="exercise-2-pre" milestone="component-tree-2">
    <h1 i18n>Exercise</h1>
    <h2>In the next slide there's an exercise. You will finally use the component. </h2>
    <slides-browser-window>
      <div><h2>Cute kitten</h2>
        <img src="/assets/images/cat-00.png">
        <div>Date 2016-11-25</div>
        <div>Views 100</div>
        <div>Likes 49329</div>
        <div>Description todo</div>
      </div>
    </slides-browser-window>
  </slides-slide>

  <!--  COMPONENT TREE EXERCISE 2-->
  <slides-slide id="exercise-2">
    <slides-exercise [config]="exercise2" milestone="component-tree-2">
      <div class="description">
        Use the component.
      </div>
    </slides-exercise>
  </slides-slide>

  <!--  COMPONENT TREE EXERCISE 2-->
  <slides-slide id="end">
    <slides-closing-slide>
      <div class="header" header><h1 i18n>End of Self-paced Tutorial!</h1></div>
      <div class="body" body>
        <h2>This is just a beginning of the Angular Journey</h2>
        <ul>
          <li>This codelab is just an Angular App! Check out our <a
            href="https://github.com/AngularNYC/angular-presentation">github repository</a> (don't forget to <b>★</b> it if
            you
            enjoyed the codelab)
          </li>
          <li>Found an issue? Try fixing it yourself and have some Angular experience!</li>
          <li>Ping <a href="https://twitter.com/kirjs">@kirjs</a> with any questions</li>
          <li>Follow the <a href="https://www.meetup.com/AngularNYC/">Angular meetup</a> for angular events and more
            advanced cources
          </li>
        </ul>
      </div>
      <div class="footer" footer>
      </div>
    </slides-closing-slide>
  </slides-slide>
</slides-presentation>
