@import "variables";
@import "mixins";

.time-left {
  float: right;
<<<<<<< HEAD
  margin-right: 1.5rem;
=======
  width: 150px;
>>>>>>> quiz-holder

  .leader, span.scoreboard {
    margin: 5px 0 0 110px;
  }
}
