.menu-index {
  min-width: 350px;
  position: fixed;
  border: thin solid #242424;
  background-color: rgba(244, 244, 244, 0.98);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  font-weight: 300;
  right: 2%;
  bottom: 10%;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
}

.menu-list .menu-item a {
  display: inline-block;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.menu-list .menu-item a .menu-item-text {
  padding-left: 1em;
}

.menu-list .menu-item a:hover {
  color: #fff;
  background-color: #982a2a;
  font-weight: bolder;
}

.tri-box {
  position: fixed;
  z-index: 2;
  transform: rotate(45deg);
  margin-top: -11px;
  width: 20px;
  height: 20px;
  border: thin solid #772323;
  border-radius: 0 0 1px 1px;
  background-color: #f4f4f4;
  border-top-color: #f4f4f4;
  border-left-color: #f4f4f4;
  margin-bottom: 15px;
  bottom: 7%;
  right: 5%;
}

.menu-btn {
  background-color: #ff594b;
  background-image: url('../../../assets/images/home.png');
}

.menu-icon:hover {
  cursor: pointer;
}
