<div>/*d:templatePageSetupSolved:material*/
  <h1>{{title}}</h1> /*/d*//*d:materialSolved/trimTrailing*/
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>
  /*/d*//*d:routerSolved/trimTrailing*/
  <ul>
    <li><a routerLink="/">Search</a></li>
    <li><a routerLink="/upload">Upload</a></li>
  </ul>
  <router-outlet></router-outlet>
  /*/d*//*d:templatePageSetupSolved:templateAddAction/trimLeading*/
  <input type="text" placeholder="video">
  <button>Search</button>
  /*/d*//*d:templateAddActionSolved:routerPre*/<input type="text" placeholder="video" #searchTerm>
  <button (click)="search(searchTerm.value)">Search!</button>
  /*/d*//*d:templateAddActionSolved:routerPre*/
  <div *ngIf="videos.length == 0">
    No videos!
  </div>
  /*/d*//*d:templateAllVideosSolved:videoComponentUse*/
  <div *ngFor="let video of videos">
    <h2>{{video.title}}</h2>
    <img [src]="video.src">
  </div>
  /*/d*//*d:videoComponentUseSolved:routerPre*/
  <my-video *ngFor="let video of videos" [video]="video"></my-video>
  /*/d*/
</div>
