<div class="theme-basic">
  <h1>Basics of Angular Codelab</h1>

  <h2>Introduction</h2>
  <p>
    <a href="https://angular.io/" target="_blank">Angular</a> is a
    <b>development platform</b> for building mobile and desktop apps. Angular
    lets you <b>extend HTML's syntax</b> to express your apps’ components
    clearly and succinctly. Angular's binding and dependency injection
    <b>eliminate much of the code</b> you would otherwise have to write.
  </p>

  <h3>Benefits of Angular</h3>
  <h4>Develop across all platforms</h4>
  <p>
    Learn one way to build apps with Angular and then reuse your code and
    abilities to build apps for any deployment target, such as web, mobile web,
    native mobile, and native desktop.
  </p>
  <h4>Speed and performance</h4>
  <p>
    Achieve the maximum speed possible on the web platform today, and take it
    further, with Web Workers and server-side rendering. Angular puts you in
    control of scalability. Meet huge data requirements by building data models
    using RxJS, Immutable.js, or another push model.
  </p>
  <h4>Incredible tooling</h4>
  <p>
    Build features quickly with simple, declarative templates. Extend the
    template language with your own components and use a wide array of existing
    components to build your UI. Get immediate Angular-specific help and
    feedback with nearly every IDE (integrated development environment) and
    editor. All this comes together so you can focus on building amazing apps
    rather than trying to make the code work.
  </p>
  <h4>Loved by millions</h4>
  <p>
    From prototype through global deployment, Angular delivers the productivity
    and scalable infrastructure that support Google's largest apps.
  </p>

  <p>
    Learn more at <a href="https://angular.io" target="_blank">Angular.io!</a>
  </p>
  <h3>What you will create</h3>

  <p>
    In this codelab, you will start working on <b>MewTube</b>, a video social
    network for cats only. (No dogs allowed!)
  </p>
</div>
<codelab-exercise-preview
  style="height: 50vh;width: 100%"
  [exercise]="exercise"
  [url]="'/assets/runner/'"
>
</codelab-exercise-preview>
<div class="theme-basic">
  <h3>Prerequisites:</h3>
  <p>
    Familiarity with the basics of
    <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> is
    highly recommended. Check out
    <a
      href="https://angular-presentation.firebaseapp.com/angular/typescript/intro"
      target="_blank"
      >the TypeScript codelab</a
    >.
  </p>
  <h3>What you will learn</h3>
  <p>
    After completing this codelab, you’ll understand the basics of Angular and
    will be able to create your first Angular app.
  </p>

  <p>
    This codelab is broken down into four milestones. Each milestone takes about
    30 minutes to complete.
  </p>

  <p>Start by clicking a milestone name:</p>
  <ul>
    <li>Create your first Angular app</li>
    <li>Use Angular templates</li>
    <li>Learn the basics of Angular Dependency Injection</li>
    <li>Combine multiple Angular components together</li>
  </ul>
  <p>
    or
    <a href="https://codelab.fun/angular/create-first-app/intro" target="_blank">Launch the codelab</a
    >
  </p>
</div>
