<slides-slide-meta-editor
  [slide]="slide"
  (updateId)="updateAttr('id', $event)"
  (updateTitle)="updateAttr('title', $event)"
></slides-slide-meta-editor>
<div cdkDropList (cdkDropListDropped)="reorder($event)">
  <div *ngFor="let block of blocks; let i = index" cdkDrag>
    <!--  TODO: ngIf below is a hack -->
    <div class="block-wrapper" *ngIf="block.type !== ''">
      <div class="controls">
        <button (click)="removeBlock(i)" class="remove">x</button>
        <button (click)="removeBlock(i)" cdkDragHandle>=</button>
      </div>
      <div class="content" *ngIf="block.type === 'html'">
        <slides-slide-html-editor
          [html]="block.code"
          (changeHtml)="updateHtml(i, $event)"
        ></slides-slide-html-editor>
      </div>
      <div class="content" *ngIf="block.type === 'custom'">
        <slides-custom-editor
          [html]="block.code"
          (changeHtml)="updateHtml(i, $event)"
        ></slides-custom-editor>
      </div>
    </div>
  </div>
</div>
<div>
  <button (click)="addP()">p</button>
  <button
    (click)="
      addCustom('<codelab-code-demo-editor>//code</codelab-code-demo-editor>')
    "
  >
    code
  </button>
  <button
    (click)="
      addCustom(
        '<codelab-code-demo-console ui=console></codelab-code-demo-console>'
      )
    "
  >
    demo
  </button>

  <button (click)="addImage()">img</button>
  -
  <button (click)="addCustom('<codelab-exercise></codelab-exercise>')">
    Legacy exercise
  </button>
</div>
