:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.cell {
  width: 10vh;
  height: 10vh;
  border: 4px #444 solid;
  animation: toColor 5s infinite linear, size 5s linear;
}

@keyframes size {
  0% {
    width: 60vh;
    height: 60vh;
  }
  100% {
    width: 10vh;
    height: 10vh;
  }
}

@keyframes toColor {
  0% {
    background: #000;
  }
  45% {
    background: #000;
  }
  50% {
    background: #fff;
  }
  95% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}
