<slides-tests-progress [tests]="tests"></slides-tests-progress>
<ng-container *ngFor="let test of tests; trackBy: trackTest; let i=index;">
  <div *ngIf="seeAll || i==indexOfFirstUnsolved()" class="test-panel" title="{{test.result}}">
    <slides-test-description [title]="getTitle(test)"
                             [file]="getTestFile(test)"
                             [pass]="test.pass"
                             [class.first-unsolved]="isFirstUnsolved(test)"
                             (onSelectFile)="onSelectFile.emit($event)"
    ></slides-test-description>
    <div class="result" *ngIf="isFirstUnsolved(test)">{{test.result}}</div>
  </div>
</ng-container>

<div *ngIf="tests!=null && tests.length>1" style="margin-top: 10px; margin-left: 20px;">
  <a href="#" (click)="toggleSeeAll($event)">{{seeAll ? "see only next step": "see all steps"}}</a>
</div>


