<div class="slide-size feedback-slide-background" (click)="closeSlide()" (keydown)="closeSlide()">

<div class="content">
  <div class="flex-container">
    <img class="feedback-slide-header feedback-slide-logo" src="/assets/images/angular-notice.png">
    <span class="feedback-slide-header feedback-slide-title">NOTICE</span>
  </div>

  <br>

  <div class="feedback-slide-description">
      Chase imaginary bugs love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater) leave dead animals as gifts, so sniff other cat's butt and hang jaw half open thereafter has closed eyes but still sees you or thug cat run in circles.
  </div>

  <div class="feedback-button-title">
    FEEDBACK BUTTON
  </div>

  <div class="feedback-button-ripple-1">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-2">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-3">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-4">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-5">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-6">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-7">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-8">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-9">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-10">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-11">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-12">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-13">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-14">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-15">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-16">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-17">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-18">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-19">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-20">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-21">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-22">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-23">
    <div class="fadeOutUp"></div>
  </div>
  <div class="feedback-button-ripple-24">
    <div class="fadeOutUp"></div>
  </div>

  </div>

  <div class="feedback-slide-background-triangle-top"></div>
  <div class="feedback-slide-background-triangle-bottom"></div>
</div>
