<slides-presentation slides-slides-routing slides-mode-routing>

  <slides-slide no-padding>
    <div>
      <label>Feedback</label>
      <select [value]="filter$|async" (change)="filter$.next($event.target.value)">
        <option value='all'>All</option>
        <option value='done'>Done</option>
        <option value='notDone'>Undone</option>
      </select>
      <select [value]="group$|async" (change)="group$.next($event.target.value)">
        <option value='nothing'>Do not group</option>
        <option value='href'>Slide URL</option>
        <option value='name'>Name</option>
      </select>
    </div>
    <div *slidesIf="'main'">


      <div *ngFor="let item of (this.messages$ | async)" class="group">
        <h2 class="feedback-header">{{item.key}}</h2>

        <div *ngFor="let message of item.value" class="card">
          <div>
            <b (click)="group$.next('name')">{{message.name}}</b>
            <span class="link">
            (<a [routerLink]="message.href">{{message.header||'No header'}}</a>)
            </span>
          </div>
          <div>{{message.comment}}</div>
          <div *ngIf="!message.url">
            <button (click)="createAnIssue(message)">Take</button>
            <button (click)="createClosedIssue(message, '[Duplicate]')">Close [Duplicate]</button>
            <button (click)="createClosedIssue(message, '[No fix]')">Close [No fix]</button>
            <button (click)="createClosedIssue(message, '[Done]')">Close [Done]</button>
            <button (click)="createClosedIssue(message, '[Nice message, though not a real bug]')">Close [Nice message]
            </button>
            <button (click)="createClosedIssue(message, '[Can\'t repcoduce]')">Close [Can't reproduce]</button>
          </div>
          <div *ngIf="message.url">
            <a [href]="message.url">Issue</a>
          </div>
        </div>
      </div>
    </div>
  </slides-slide>

</slides-presentation>
