:host {
  height: 100%;
}

slides {
  width: 100%;
}

.files {
  display: flex;
  height: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.next {
  color: #fff;
  background: #3e8e01;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  border-radius: 3px;
  margin: 1em;
  line-height: 25px;
  padding: 6px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}

.main.description {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.description p {
  margin-top: 0;
}

.description {
  max-width: 500px;
  padding: 0 0 10px 0;
}

:host /deep/ slides-editors {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
}

slides-slides-preview {
  display: flex;
  height: 50%;
  overflow: hidden;
}

slides-slide > div {
  padding: 20px 5px;
}

.side {
  padding: 10px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1vw;
}

.exercise-body {
  flex-direction: row;
}

.exercise-panel {
  display: flex;
  height: 100%;
}

slides-runner {
  margin-top: 10px;
  height: 50%;
  width: 100%;
  align-self: flex-end;
  overflow: auto;
  border-bottom: 1px #ddd solid;
}

.next-button {
  text-decoration: underline;
  cursor: pointer;
}

slides-tests {
  display: block;
}

.exercise-complete {
  background: #dfffde;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 20px;
}

:host /deep/ .editor, :host /deep/ .slides-preview {
  height: 50%;
}

:host /deep/ .files {
  display: flex;
}
