<div class="exercise-panel">
  <app-editors [files]="config.files"
               (onChanges)="onChanges($event)"
               (onFileCollapsed)="onFileCollapsed($event)"></app-editors>
  <div class="side">
    <app-autorun (onAutorunChange)=onAutorunChange($event)></app-autorun>
    <ng-content select=".description"></ng-content>
    <app-tests [tests]="config.tests"></app-tests>
    <app-runner (onTestUpdate)="onTestUpdate($event)"
                [files]="config.files" style="flex: 50%"
                [runnerType]="config.runner || 'default'"></app-runner>
  </div>
</div>
