<codelab-simple-tests-progress
  [tests]="tests"
  *ngIf="hasTests()"
></codelab-simple-tests-progress>
<ng-container *ngFor="let test of tests; trackBy: trackTest; let i = index">
  <div
    *ngIf="seeAll || test.isFirstUnresolved"
    class="test-panel"
    title="{{ test.result }}"
  >
    <codelab-simple-test-description
      [title]="test.title"
      [file]="test.filename"
      [pass]="test.pass"
      [class.first-unsolved]="test.isFirstUnresolved"
      (selectFile)="selectFile.emit($event)"
    ></codelab-simple-test-description>
    <div class="result" *ngIf="test.isFirstUnresolved">{{ test.result }}</div>
  </div>
</ng-container>

<div
  *ngIf="hasMoreThanOneTest()"
  (click)="toggleSeeAll($event)"
  style="margin-top: 10px; margin-left: 20px;"
>
  <a *ngIf="seeAll" i18n>see only next step</a>
  <a *ngIf="!seeAll" i18n>see all steps</a>
</div>
