/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: Roboto, sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.slide img {
  width: 100%;
}

.no-padding .slide {
  padding: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
}

/* TODO(kirjs): Support themes */
.slide h1 {
  font-size: 60px;
}

.centered-vertically {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
