/* You can add global styles to this file, and also import other style files */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

[row] {
  flex-direction: row;
  display: flex;
}

/* GRID TO USE */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: Roboto, sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.no-padding .slide {
  padding: 0;
}

.presentation {
  position: relative;
  margin: 0 auto;
}

.presentation.overview > *:not(app-slide) {
  visibility:hidden;
}

.presentation.overview .slide{
  pointer-events: none;
  margin: 2% auto;
  zoom: 0.7;
  overflow:hidden;
}

.presentation.overview .slide .page-number {
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.presentation.overview .overview-buttons{
  position: fixed;
  visibility: visible;
}

.overview-buttons {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 15px;
}

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
}

.slide [large-font] {
  font-size: 30px;
}

.slide [p20] {
  padding-top: 20px
}

.slide [m20] {
  margin-top: 20px
}

.slide [m40] {
  margin-top: 40px
}

.slide [column-4] {
  width: 40%;
}

.slide [column-2] {
  width: 20%;
}

.slide [column-1] {
  width: 10%;
}

.slide [flex] {
  display: flex;
}

/* TODO(kirjs): Support themes */
.slide h1 {
  font-size: 60px;
}

.centered-vertically {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

b {
  color: #c04e22;
}

h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

li,
h2 {
  font-size: 40px;
}

.popup-message {
  padding: 5px 5px 0 5px;
  background: black;
  color: white;
  font-size: 20px;
}

.popup-arrow {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 8px solid black;
}

.monaco-editor.vs .grayed-out-code.grayed-out-code.grayed-out-code.grayed-out-code {

}

.monaco-editor.vs .highlighted-code.highlighted-code.highlighted-code.highlighted-code {
  background: yellow;
}

p {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.info:before {
  content: "ⓘ";
}

.info {
  margin-top: 20px;
  background: #d3fffd;
  padding: 20px;
  font-size: 30px;
}

/* Slide/presentation printing styles */
@media print {  
    @page {  
      size: A4 landscape;
    }  
    .slide {
      zoom: 1;
      font-size: 12pt;
      page-break-after: always;
    }
    .slide .page-number {
      display: none;
    }
    .presentation.overview {
      width: auto !important;
      height: auto !important;
      zoom: 1 !important;
    }
    .presentation.overview .overview-buttons {
      display: none;
    }
}