<slides-simple-tests-progress [tests]="tests" *ngIf="hasTests()"></slides-simple-tests-progress>
<ng-container *ngFor="let test of tests; trackBy: trackTest; let i=index;">
  <div *ngIf="seeAll || i==indexOfFirstUnsolved()" class="test-panel" title="{{test.result}}">
    <slides-simple-test-description [title]="getTitle(test)"
                                    [file]="getTestFile(test)"
                                    [pass]="test.pass"
                                    [class.first-unsolved]="isFirstUnsolved(test)"
                                    (onSelectFile)="onSelectFile.emit($event)"
    ></slides-simple-test-description>
    <div class="result" *ngIf="isFirstUnsolved(test)">{{test.result}}</div>
  </div>
</ng-container>

<div *ngIf="hasMoreThanOneTest()" (click)="toggleSeeAll($event)" style="margin-top: 10px; margin-left: 20px;">
  <a href="#" *ngIf="seeAll">see only next step</a>
  <a href="#" *ngIf="!seeAll">see all steps</a>
</div>


