<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>

  <div class="btn-bar">
    <div class="menu-bar-btn github-icon">
      <a href="https://github.com/AngularNYC/angular-presentation">
        <img src="/assets/images/github-icon.png">
      </a>
    </div>
    <slides-mode-overview></slides-mode-overview>
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <slides-slide id="intro" no-padding milestone="Pipes">
    <slides-title-slide
      title="Pipes"
      description="Learn how pipes transform input values to output values for display in a view."
      prereqs="Interpolation expressions"
    ></slides-title-slide>
  </slides-slide>

  <!-- WHAT ARE PIPES  -->
  <slides-slide id="pipes-description" milestone="Pipes">
    <h1 i18n>Introduction</h1>
    <div class="centered-vertically">
      <h2 i18n>
        Every application starts out with what seems like a simple task: get data, transform it, and show it to
        users. Getting data could be as simple as creating a local variable or as complex as streaming data
        over a WebSocket.<br><br>
        An Angular pipe is a <b>function</b> that transforms input values to output values for display in a view.
        Let's see how it works.
      </h2>
    </div>
  </slides-slide>

  <!--  HOW DO PIPES WORK -->
  <slides-slide id="how-pipes-work" milestone="Pipes">
    <h1 i18n>How do pipes work?</h1>
    <h2 i18n>
      A pipe takes in data as input and transforms it to a desired output.</h2>
    <h3 i18n>
      Inside the interpolation expression, we use the pipe <b>( &#124; )</b> operator to pass the App Component's 'dob'
      through the the 'date' pipe on the right, transforming a long timestamp into a more human-readable output.
      All pipes follow this signature.
      <slides-playground [config]="code.workingPipes.template"
                         [focus-highlight-match]="[code.workingPipes.matches.pipeOperator]"></slides-playground>
    </h3>
  </slides-slide>

  <!--  BUILT-IN PIPES -->
  <slides-slide id="built-in-pipes" milestone="Pipes">
    <h1 i18n>Built-in Pipes</h1>
    <div class="centered-vertically">
      <h2 i18n>
        Angular comes with a variety of built-in pipes that can be used in any template or binding expression.
        Some of these pipes are:
      </h2>
      <ul>
        <li i18n>DatePipe</li>
        <li i18n>UpperCasePipe</li>
        <li i18n>LowerCasePipe</li>
        <li i18n>CurrencyPipe</li>
        <li i18n>PercentPipe</li>
      </ul>
      <h2 i18n>
        You can check out all the pipes <a href="https://angular.io/docs/ts/latest/api/#!?query=pipe">in the docs.</a>
      </h2>
    </div>
  </slides-slide>

  <!--  CHAINED PIPES -->
  <slides-slide id="chained-pipes" milestone="Pipes">
    <h1 i18n>Chained Pipes</h1>
    <h2 i18n>
      Translate Dali's birthday to a more human-friendly format. While you're at it, make his birthday uppercase, too.
    </h2>
    <slides-playground [config]="code.chainedPipesExample.template"></slides-playground>
    <div class="info" milestone="Pipes" i18n>
      Hint: dob ... date ... uppercase
    </div>
  </slides-slide>

  <!--  PIPES WITH ARGUMENT -->
  <slides-slide id="argument-pipes" milestone="Pipes">
    <h1 i18n>Pipes with arguments:</h1>
    <slides-code-editor
      [code]="code.argumentPipes.template"
      type="html">
    </slides-code-editor>
    <div class="info" milestone="Pipes" i18n>
      To add parameters to a pipe, append a colon ( : ) followed by the parameters' values
      e.g. currency:'AUD'
    </div>
  </slides-slide>

  <!--  PIPES AS FILTERS  -->
  <slides-slide id="pipes-as-filters" milestone="Pipes">
    <h1 i18n>Using custom pipes to filter data</h1>
    <slides-code-editor
      [code]="code.filterPipes.template"
      type="html">
    </slides-code-editor>
  </slides-slide>

  <!--  CREATING A PIPE  -->
  <slides-slide id="crating-pipe" milestone="Pipes">
    <h1 i18n>Creating a pipe</h1>
    <slides-code-editor
      [fontSize]="25"
      [code]="code.creatingAPipe.template"
      [focus-highlight-match]="code.creatingAPipe.matches.exportClass">
    </slides-code-editor>
    <h2 i18n>A pipe is a class decorated with pipe metadata.</h2>
  </slides-slide>

  <!--  PIPE TRANSFORM  -->
  <slides-slide id="pipeTransform" milestone="Pipes">
    <h1 i18n>Creating a pipe</h1>
    <slides-code-editor
      [fontSize]="25"
      [code]="code.creatingAPipe.template"
      [focus-highlight-match]="code.creatingAPipe.matches.pipeTransform">
    </slides-code-editor>
    <h2 i18n>
      The pipe class implements the PipeTransform interface.
    </h2>
  </slides-slide>

  <!--  PIPE TRANSFORM METHOD  -->
  <slides-slide id="pipe-transform-method" milestone="Pipes">
    <h1 i18n>Creating a pipe</h1>
    <slides-code-editor
      [fontSize]="25"
      [code]="code.creatingAPipe.template"
      [focus-highlight-match]="code.creatingAPipe.matches.method">
    </slides-code-editor>
    <h2 i18n>
      The transform method accepts an input value followed by optional parameters and returns the transformed value.
    </h2>
  </slides-slide>

  <!--  PIPE DECORATOR  -->
  <slides-slide id="pipe-decorator" milestone="Pipes">
    <h1 i18n>Creating a pipe</h1>
    <slides-code-editor
      [fontSize]="25"
      [code]="code.creatingAPipe.template"
      [focus-highlight-match]="code.creatingAPipe.matches.decorator">
    </slides-code-editor>
    <h2 i18n>
      The @Pipe decorator allows you to define the pipe name that you'll use within template expressions.
    </h2>
    <div class="info" milestone="Pipes" i18n>
      Don't forget to import the @Pipe decorator from the core Angular library.
    </div>
  </slides-slide>

  <!--  END -->
  <slides-slide id="end">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of the Pipes Section</h1></div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          <a routerLink="/visual-studio-code/0">Go to the next Bonus Milestone</a>
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>

</slides-presentation>
