.container {

  display: grid;
  
  grid-template-columns: 1fr 1fr;
  
  grid-template-rows: 1fr;
  
  grid-column-gap: 0px;
  
  grid-row-gap: 0px;
  
  .left { grid-area: 1 / 1 / 2 / 2; }
  
  .right { grid-area: 1 / 2 / 2 / 3; }
}