<slide-deck slideShortcuts slidesRouting kirjs-tracking>
  <div *slide id="start"><h1>Hello</h1></div>

  <div *slide id="list">
    <kirjs-webassembly-playground></kirjs-webassembly-playground>
  </div>

  <div *slide id="brIf">
    <kirjs-webassembly-playground
      [webAssemblyCode]="code.brIf.wa"
    ></kirjs-webassembly-playground>
  </div>

  <div *slide id="binary">
    3 layers https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md
  </div>

  <div *slide id="binary-1">
    <kirjs-wasm-binary></kirjs-wasm-binary>
  </div>
</slide-deck>
