<slide-deck slideShortcuts slidesRouting>
  <div *slide id="start">
    <h2>Cellular Automata</h2>
    <h2>Web assembly</h2>
    <h1>@kirjs</h1>
  </div>


  <div *slide id="list">
    <kirjs-webassembly-playground
      [modeConfig]="modeConfig"
      [(ngModel)]="code.simple"
    ></kirjs-webassembly-playground>
  </div>

  <div *slide id="brIf">
    <kirjs-webassembly-playground
      [(ngModel)]="code.simple"
    ></kirjs-webassembly-playground>
  </div>

  <div *slide id="binary">
    3 layers https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md
  </div>

  <div *slide id="binary-1">
    <kirjs-wasm-binary></kirjs-wasm-binary>
  </div>
</slide-deck>
