li {
    
}

ul {
    list-style: none;
   
}

.post {
    border-style: solid;
  border-color: red;
  margin: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.date {
    float: right;
    margin-right: 5px;
}