<app-presentation
  app-slides-routing
  app-mode-routing>>

  <app-slide class="no-padding">
    <div>
      <label>Feedback</label>
      <select (change)="onFilterChange($event)">
        <option>All</option>
        <option>Done</option>
        <option>Undone</option>
      </select>
    </div>
    <div id="main">
      <table>
        <tr>
          <th>Name</th>
          <th class="comment-col">Comment</th>
          <th>href</th>
          <th>Header</th>
          <th>Done</th>
        </tr>
        <tr *ngFor="let feedbackItem of currentFeedbackList"
            [class.hidden]="!isShown(feedbackItem.isDone)">
          <td>{{feedbackItem.name}}</td>
          <td>{{feedbackItem.comment}}</td>
          <td>{{feedbackItem.href}}</td>
          <td>{{feedbackItem.header}}</td>
          <td>
            <input type="checkbox" [checked]="feedbackItem.isDone" (change)="isDone(feedbackItem.$key, $event)">
          </td>
        </tr>
      </table>

      <ul>
        <li *ngFor="let feedbacker of feedbackersNames">
          <b>{{feedbacker}}</b> Number of feedback: {{feedbackersCount[feedbacker]}}
        </li>
      </ul>
    </div>

  </app-slide>

</app-presentation>
