ul {
  list-style: none;
  padding: 0px;
}

.post {
  border-style: solid;
  border-color: red;
  margin-right: 5px;
  margin: 5px;
}

.date {
  float: right;
  margin-right: 5px;
}

.title {
  margin-top: 0px;
  margin-top:0px;
  padding-left: 5px;
}

.head {
  height: 30px;
  background-color: grey;
  margin-top: 0px;
}

.text {
  overflow: hidden;
  height: 100px;
}

.gradient {
  position: absolute;

  height: 130px;
  BOTTOM: 0;
  width: 100%;

  background: rgba(246,246,246,0.66);
  background: -moz-linear-gradient(top, rgba(246,246,246,0.03) 0%,  rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,0.03)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(246,246,246,0.03) 0%,  rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(246,246,246,0.03) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(246,246,246,0.03) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(246, 246, 246, 0.03) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0 );
}

.container {
  position: relative;
}
