@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "mixins";

@font-face {
  font-family: 'DjbUpOnTheScoreboard';
  src: url($scoreboard-font) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'LucidaUnicodeCalligraphy';
  src: url($congratulations-font) format('truetype');
  font-display: swap;
}

mat-card {
  margin: 2% 0 20px 25%;
  width: 42.5rem;
  height: auto;
  padding: 20px;
  border: 1px solid $black;
  border-radius: 10px !important;
  box-shadow: 10px 10px 5px $gray !important;
}
mat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
}

mat-card-header {
  text-align: center;
  display: flex;
  justify-content: center;

  .header-image {
    float: left;
    background: url($header-image) no-repeat center center;
    background-size: contain;
    margin: -10px 0 0 -40px;
    height: 100px !important;
    width: 180px !important;
  }

  mat-card-title {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 30px !important;
    margin: -10px 0 10px 10px;
    color: $vivid-blue;
    text-align: center;
  }
  mat-card-subtitle {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 17.5px !important;
    font-style: italic;
    color: $gray;
    text-align: center;
  }
}
