.file-tree-column {
  display: flex;
  border: 1px solid #dddddd;
}

.file-tree-column-toggle {
  position: relative;
}

.file-tree-column-toggle .file-structure-button {
  transform: rotate(270deg);
  margin-top: 100px;
  white-space: nowrap;
  width: 20px;
}
