#slide-title-header {
	height:  50vh;
	color:  #222;
}

#slide-title {
	position: absolute;
	left:  5vw;
	bottom: 50vh;
	font-size:  25vh;
}

#slide-title-background {
	height:  50vh;
    background-color: #982a2a; 
}

#slide-title-description {
	width:  75vw;
	position:  absolute;
	top: 60vh;
	left:  5vw;
	font-weight: lighter;
	font-size: 3vh;
	color:  white;
}

#slide-title-instructions {
	position:  absolute;
	left:  5vw;
	bottom: 6vh;
	font-style:  italic;
	font-size: 3vh;
	color:  white;
}
