<ng-container *ngFor="let quiz of quizzes$ | async">
  <mat-card *ngIf="quiz.quizId === (quizName$ | async) &&
                   question && questionIndex <= totalQuestions"
            [@changeRoute]="animationState$ | async"
            (@changeRoute.done)="animationDoneHandler()">

    <mat-card-header class="container row">
      <img mat-card-avatar class="header-image col-3" loading="lazy" [routerLink]="['/quiz/select']"
           matTooltip="back to Codelab Quiz Selection" matTooltipPosition="left">
      <mat-card-title-group class="col-9">
        <mat-card-title i18n>{{ quiz.milestone }} Quiz</mat-card-title>
        <mat-card-subtitle i18n>Assess your knowledge of {{ quiz.milestone }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <!-- the scoreboard -->
      <codelab-scoreboard></codelab-scoreboard>

      <!-- the question/explanation section -->
      <section id="question" [ngClass]="!isAnswered() ? 'unanswered': 'answered'">
				<div *ngIf="!isAnswered()" i18n>{{ question.questionText }}&nbsp;
          <span class="number-correct" *ngIf="numberOfCorrectAnswers > 1">
            <em>({{ numberOfCorrectAnswers }} answers are correct.)</em>
          </span>
				</div>
        <div *ngIf="isAnswered()" i18n>
          {{ numberOfCorrectAnswers === 1 ?
          'Option ' + correctOptions + ' was correct because ' :
          'Options ' + correctOptions + ' were correct because '
          }}
          {{ explanationText }}.
        </div>
      </section>

      <!-- the options -->
      <codelab-quiz-question [question]="question" (answer)="selectedAnswer($event)">
      </codelab-quiz-question>
    </mat-card-content>

    <mat-card-footer>
      <!-- selection/next message -->
      <ng-container *ngIf="!isAnswered(); else answered">
				<span i18n class="selection-message">
          Please select an option to continue&hellip;
        </span>
      </ng-container>
      <ng-template #answered>
				<span i18n class="next-message" *ngIf="question && questionIndex !== totalQuestions">
          Please click the next button to continue&hellip;
        </span>
      </ng-template>

      <!-- paging -->
      <section class="paging">
        <mat-card-actions [class.last-question]="isAnswered() && questionIndex === totalQuestions">
          <div class="prev-question-nav" *ngIf="question && questionIndex > 1">
            <button type="button"
                    mat-icon-button
                    (click)="advanceToPreviousQuestion()"
                    (window:keydown.ArrowLeft)="advanceToPreviousQuestion()"
                    matTooltip="&laquo; Previous Question"
                    matTooltipPosition="above"
                    aria-label="Previous Question">
              <i class="material-icons">navigate_before</i>
            </button>
          </div>

          <div class="restart-nav" *ngIf="question && questionIndex > 1 && questionIndex < totalQuestions">
            <button type="button"
                    mat-icon-button
                    (click)="restartQuiz()"
                    matTooltip="Restart Quiz"
                    matTooltipPosition="above"
                    aria-label="Restart Quiz">
              <i class="material-icons">replay</i>
            </button>
          </div>

          <div class="next-question-nav" *ngIf="question && questionIndex !== totalQuestions"
               matTooltip="Next Question &raquo;" matTooltipPosition="below">
            <button type="button"
                    mat-icon-button
                    [disabled]="!isAnswered()"
                    (click)="advanceToNextQuestion()"
                    (window:keydown.ArrowRight)="advanceToNextQuestion()"
                    (window:keydown.Enter)="advanceToNextQuestion()"
                    aria-label="Next Question">
              <i class="material-icons">navigate_next</i>
            </button>
          </div>

          <div class="show-score-nav" *ngIf="question && questionIndex === totalQuestions">
            <button type="submit"
                    mat-raised-button
                    disableRipple="true"
                    [disabled]="!isAnswered()"
                    (click)="advanceToResults()"
                    (window:keydown.Enter)="advanceToResults()"
                    (window:keydown.ArrowRight)="advanceToResults()"
                    class="btn btn-outline-primary"
                    aria-label="Show Your Score">
              <i class="material-icons">score</i>&nbsp;&nbsp;<strong>Show Your Score</strong>
            </button>
          </div>
        </mat-card-actions>
      </section>

      <!-- progress bar -->
      <section class="progress-bar" *ngIf="question && questionIndex > 1">
        <ngb-progressbar max="100" type="success" [striped]="true" [animated]="true" [value]="progressValue"
                         class="progress-bar bg-info">
          <strong>{{ progressValue.toFixed(0) }}%</strong>
        </ngb-progressbar>
      </section>
    </mat-card-footer>
  </mat-card>
</ng-container>
