@import "variables";

mat-card {
  mat-card-header {
    display: block;

    .header-image {
      margin: -15px 0 0 15px;
    }

    mat-card-title {
      display: inline-block;
      margin-top: 5px;
      font-size: 36px;
    }

    mat-card-subtitle {
      display: block;
      float: right;
      margin: -35px -5px 0 0 !important;
      clear: both;
    }
  }

  .unanswered {
    border: 4px thick $vivid-blue;
  }

  .answered {
    border: 2px solid $medium-gray !important;
  }

  #question {
    float: left;
    font-family: $font-stack;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 35px 6.5px;
    padding: 5px 10px 15px 20px;
    background-color: $light-gray;
    border: 2px solid $vivid-blue;
    color: $dark-brown;
    width: 630px;
    height: auto;
    vertical-align: middle;

    .number-correct {
      color: $dark-green;
    }
  }

  .multiple-unanswered {
    margin-top: 200px;
  }

  .single-unanswered {
    margin-top: -200px;
  }

  mat-card-footer {
    display: block;

    .selection-message,
    .next-message {
      font-family: $font-stack;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      display: flex;
      justify-content: center;
    }

    .selection-message {
      margin-top: -190px;
      margin-bottom: 20px;
    }

    .next-message {
      margin-top: -35px;
    }

    .paging {
      width: 640px;
      margin-top: -10px;
      margin-bottom: 20px;

      mat-card-actions {
        margin: 10px 0 45px 0;

        .next-question-nav button,
        .prev-question-nav button {
          i {
            font-size: 80px;
            color: $dodger-blue;
          }
        }

        .restart-nav button {
          i {
            font-size: 60px;
            color: $dodger-blue;
          }
        }

        .next-question-nav button {
          margin-right: 30px;
          margin-top: -20px;
        }

        .prev-question-nav {
          float: left;
          margin-left: 0;
        }

        .restart-nav {
          float: left;
          margin-left: 255px;
        }

        .next-question-nav {
          float: right;
          margin-right: -15px;
        }

        .prev-question-nav,
        .next-question-nav,
        .restart-nav {
          transform: scale(1);
          transition: 0.3s ease-in-out;
        }

        .prev-question-nav:hover,
        .next-question-nav:hover,
        .restart-nav:hover {
          transform: scale(1.3);
        }

        .show-score-nav {
          width: 150px;
          margin: 35px auto;
        }
      }
    }

    .progress-bar {
      width: 630px;
      border-radius: 10px;
      margin: 0 0 10px 15px;
      background: $white;

      ngb-progressbar {
        height: 20px;
      }
    }
  }
}
