<div style="display: flex;">
  <div class="slide">
    <h2>Size</h2>
    <div style="display: flex;">

      <div>
        <h2>JSON</h2>
        <div>Bigger</div>
      </div>

      <div>
        <h2>Binary</h2>
        <div>Smaller</div>
      </div>
    </div>
  </div>

  <div class="slide">
    <h2>Serialization speed</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <div>Slower</div>
      </div>

      <div>
        <h2>Binary</h2>
        <div>Faster</div>
      </div>
    </div>
  </div>

  <div class="slide">
    <h2>Debugging</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>

        <ul>
          <li>Easy to understand</li>
          <li>Human readable</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Requires special tooling</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slide">
    <h2>Tooling</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <ul>
          <li>For JS works out of the box</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Requires special tooling</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slide">
    <h2>Schema</h2>
    <div style="display: flex;">
      <div>
        <h2>JSON</h2>
        <ul>
          <li>No schema</li>
        </ul>

      </div>

      <div>
        <h2>Binary</h2>
        <ul>
          <li>Needs a schema</li>
          <li>Comes with type checking</li>
          <li>Comes with validation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slide">
    <h2>Schema</h2>
    <ul>
      <li>Proto Buffers (google)</li>
      <li>Flatbuffers</li>
      <li>Thrift (apache/facebook)</li>
    </ul>
  </div>
</div>


<!--<li>Size</li>-->
<!--<li>Speed</li>-->
<!--<li>Who's using</li>-->
<!--<li>Debugging</li>-->
<!--<li>Tools</li>-->
<!--<li>Schema</li>-->
