@import "variables";

mat-card-header {
  display: block;
  margin-top: 20px !important;

  .header-image {
    margin-left: 10px;
  }

  mat-card-title {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 48px !important;
    font-style: italic;
    font-weight: 900;
    color: $green-angular-leaf;
    text-shadow: 1px 0 0 $black,
    0 -1px 0 $black,
    0 1px 0 $black,
    -1px 0 0 $black;
  }
}

.results {
  display: block;
  clear: both;

  h3 {
    font-family: $congratulations-font;
    font-size: 32px;
    font-style: italic;
    text-align: center;
  }

  .quiz-summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    details {
      display: block;

      summary {
        font-size: 16px;
        color: $vivid-blue;
        font-weight: $font-weight-max;
        outline: none;
        text-align: center;
      }
    }
  }
}
