.column {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.board {
  width: 90vh;
  height: 90vh;
  border-left: 1px #999 solid;
  border-top: 1px #999 solid;
  display: flex;
  flex-direction: column;
}

.cell {
  &.highlight-yellow {
    background: #ff0;
  }
  &.highlight-orange {
    background: #ffb900;
  }

  &.highlight-transparent {
    opacity: 0.4;
  }

  flex-grow: 1;
  flex-basis: 0;
  border-right: 1px #999 solid;
  border-bottom: 1px #999 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.theme-gomoku {
  .cell-1:before {
    content: "⚫";
  }

  .cell-2:before {
    content: "🔴";
  }
  .cell-1:before,
  .cell-2:before {
    font-size: 4vh;

  }

}

.theme-xo {
  .cell-1:before {
    content: "x";
  }

  .cell-2:before {
    content: "o";
  }

  .cell-1:before,
  .cell-2:before {

  }
}


