/*assets/images/icon.png*/
.feedback-btn {
  width: 45px;
  height: 45px;
  background-color: #3498db;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  bottom: 1%;
  right: 8%;
  background-image: url("../../../assets/images/chat.png");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form {
  width: 320px;
  background-color: #fff;
  padding: 10px;
  border: thin solid #c0c0c0;
  position: fixed;
  z-index: 2;
  bottom: 10%;
  right: 8%;
}

textarea {
  margin: 10px 0;
  height: 100px;
}

input, textarea {
  width: 100%;
  border: 1px #ddd solid;
  padding: 4px;
}

#feedbackButton{
  width: 70px;
  height:70px;
  background: #3498db;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
}
#icon{
  height:50%;
  width: 50%;
  margin-top: 25%;
}
#form {
  display: block;
  margin-top: 10px;
  padding: 10%;
  background: white;
  border: 1px solid silver;
}

#main{
  position: fixed;
  top: 30px;
  right:30px;
  z-index: 99;
}

#buttonContainer{
  width: 100%;
  text-align: right;
}
button {
  color: #fff;
  background: #3e8e01;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  border-radius: 3px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border: 0 solid;
}

#message{
  margin-top: 15px;
}
.error{
  color: red;
}
