<!--  FEEDBACK BUTTON-->
<div title="Feedback" (click)="buttonClicked()"  class="feedback-container feedback-btn menu-bar-btn feedback-shared-class" title="Feedback"></div>
<!--  FEEDBACK FORM -->
<div *ngIf="open" class="feedback-form feedback-container">
  <div class="form-container" *ngIf="open">
    <div *ngIf="!!items && items.length">
      <div (click)="isCommentsDisplayed = !isCommentsDisplayed">Comments ({{items.length}}) V</div>
      <!--<span>Comments ({{items.length}}) </span>-->
      <div class="feedback-items" *ngIf="isCommentsDisplayed">
        <div class="feedback-item" *ngFor="let item of items">
          <div>{{item.timestamp}}</div>
          <div>
            <span>{{item.name}} <span>({{item.email}})</span></span>
          </div>
          <p>{{item.comment}}</p>
        </div>
      </div>
    </div>
    <form [formGroup]="formGroup" novalidate (submit)="submit()">
      <div>
        <input type="text" placeholder="Enter your name"
               formControlName="name" />
      </div>
      <div>
        <input type="email" placeholder="Enter your email (optional)"
               formControlName="email" />
      </div>
      <div>
          <textarea placeholder="Describe your issue or share your ideas"
                    formControlName="comment" (keydown.enter)="submit()"></textarea>
      </div>
      <div>
        <button [disabled]="formGroup.invalid" [style.opacity]="formGroup.invalid ? 0.5 : 1"
                type="submit">Send</button>
      </div>
      <div [class.error]="error">
        {{statusMessage}}
      </div>
    </form>
  </div>
</div>
