:host ::ng-deep .monaco-editor .view-overlays .current-line {
  display: none;
}

:host ::ng-deep .decorationsOverviewRuler {
  display: none;
}

:host ::ng-deep .scrollbar.vertical {
  display: none;
}

.timer {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  background-image: url(./pics/1.jpg);
}

.kirjs {
  background-image: url(./pics/ava.gif);
}

.svg-60 {
  background-image: url(./pics/2.jpg);
}

.example {
  background-image: url(./pics/3.jpg);
}

.the-end {
  background-image: url(./pics/4.jpg);
}

.dog {
  background-image: url(./pics/5.gif);
}

.bg.intro h2 {
  background: #000;
  color: white;
  margin-top: 50vh;
  padding: 50px;
  font-size: 10vh;
  opacity: 0.7;
}


.bg.kirjs h2 {
  background: #000;
  color: white;
  margin-top: 50vh;
  padding: 10px;
  font-size: 10vh;
  opacity: 0.7;
}

.bg h2 {
  background: #fff;
  color: black;
  margin-top: 50vh;
  padding: 50px;
  font-size: 10vh;
  opacity: 0.7;
}

.btn-bar {
  line-height: 3vw;
}

.btn-bar:hover .font-size {
  display: block;
  font-size: 4vw;
}

.btn-bar .font-size {
  display: none;
}

.twitter {
  color: #444;
  font-size: 3vw;
  margin: 2vw;
}
