<slides-presentation
  slides-slides-routing
  slides-mode-routing
  slides-tracking>

  <div class="btn-bar">

    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>

  <!--  INTRO -->
  <slides-slide no-padding>
    <slides-title-slide
      title="Quiz"
      description=""
      prereqs=""
    ></slides-title-slide>
  </slides-slide>

  <slides-slide>
    <h1>Angular Tentative Release schedule</h1>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Stable Release</th>
        <th>Compatibility<code>*</code></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>March/April 2018</td>
        <td>6.0.0</td>
        <td>^5.0.0</td>
      </tr>
      <tr>
        <td>September/October 2018</td>
        <td>7.0.0</td>
        <td>^6.0.0</td>
      </tr>
      </tbody>
    </table>


  </slides-slide>
</slides-presentation>
